<!-- 帮扶责任人 -->
<section class="cd-section index cd-selected">
	<div class="cd-content villageCollection">
		<div class="pkhcjTitle" id="pkhjbxx">
			<p class="pull-left"></p><span>帮扶责任人</span>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<td class="text-center">姓名</td>
					<td class="text-center">性别</td>
					<td class="text-center">帮扶开始时间</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in assistPerson.list  track by $index" ui-sref="addAssistPerson({id:assistPerson.urlParam.id,type:assistPerson.urlParam.type,personId:item.id})">
					<td class="text-center" ng-bind="item.xm">曹操</td>
					<td class="text-center" ng-bind="item.xb">男</td>
					<td class="text-center" ng-bind="item.kssj">85</td>
				</tr>
			</tbody>
		</table>
		<div class="addMember">
			<button type="button" class="btn_add" ui-sref="addAssistPerson({id:assistPerson.urlParam.id,type:assistPerson.urlParam.type,personId:''})">+添加帮扶责任人</button>
		</div>
	</div>
</section>