<!-- 帮扶责任人 -->
<section class="cd-section index cd-selected">
	<div class="cd-content villageCollection">
		<div class="pkhcjTitle" id="pkhjbxx">
			<p class="pull-left"></p><span>帮扶责任人</span>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<td class="text-center">姓名</td>
					<td class="text-center">性别</td>
					<td class="text-center">帮扶开始时间</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center">曹操</td>
					<td class="text-center">男</td>
					<td class="text-center">2017-01-01</td>
				</tr>
				<tr>
					<td class="text-center">貂蝉</td>
					<td class="text-center">女</td>
					<td class="text-center">2017-01-01</td>
				</tr>
			</tbody>
		</table>
		<div class="addMember">
			<button type="button" class="btn_add" ui-sref="addDutyPerson({id:1234})">+添加帮扶责任人</button>
		</div>
	</div>
</section>