<!-- 扶贫成效 -->

<section class="cd-section index cd-selected assetsinfo">
	<div class="cd-content villageCollection">
		<div class="pkhcjTitle" id="pkhjbxx">
			<p class="pull-left"></p><span>扶贫成效</span>
		</div>

		<div class="situation">
			<form action="" method="post">
				<div class="item border-b">
					<div class="name">F1 就业帮扶金（元）</div>
					<div class="content">
						<input type="number" placeholder="请输入金额" ng-model="assistEffect.formInfo.fjybfj" dir="rtl">
					</div>
				</div>
				<div class="item border-b">
						<div class="name">F2 低保金（元） </div>
						<div class="content">
							<input type="number" placeholder="请输入金额" ng-model="assistEffect.formInfo.fdbj" dir="rtl">
						</div>	
				</div>
				<div class="item border-b">
					<div class="name">F3 五保金（元） </div>
					<div class="content">
						<input type="number" placeholder="请输入金额" ng-model="assistEffect.formInfo.fwbj" dir="rtl">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">F4 养老金（元） </div>
					<div class="content">
						<input type="number" placeholder="请输入金额" ng-model="assistEffect.formInfo.fylj" dir="rtl">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">F5 危房改造补贴（元） </div>
					<div class="content">
						<input type="number" placeholder="请输入金额" ng-model="assistEffect.formInfo.fwfgzbt" dir="rtl">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">F6 教育补贴（元） </div>
					<div class="content">
						<input type="number" placeholder="请输入金额" ng-model="assistEffect.formInfo.fjybt" dir="rtl">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">F7 基本医保报销（元） </div>
					<div class="content">
						<input type="number" placeholder="请输入金额" ng-model="assistEffect.formInfo.fjbylbx" dir="rtl">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">F8 大病保险报销（元） </div>
					<div class="content">
						<input type="number" placeholder="请输入金额" ng-model="assistEffect.formInfo.fdbbxbx" dir="rtl">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">F9 医疗救助（元） </div>
					<div class="content">
						<input type="number" placeholder="请输入金额" ng-model="assistEffect.formInfo.fyljz" dir="rtl">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">F10 双女户补贴（元） </div>
					<div class="content">
						<input type="number" placeholder="请输入金额" ng-model="assistEffect.formInfo.fsnhbt" dir="rtl">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">F11 粮食综合直补（元） </div>
					<div class="content">
						<input type="number" placeholder="请输入金额" ng-model="assistEffect.formInfo.flszhzb" dir="rtl">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">F12 退耕还林补贴（元） </div>
					<div class="content">
						<input type="number" placeholder="请输入金额" ng-model="assistEffect.formInfo.ftghlbt" dir="rtl">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">F13 草原奖补（元） </div>
					<div class="content">
						<input type="number" placeholder="请输入金额" ng-model="assistEffect.formInfo.fcyjb" dir="rtl">
					</div>
				</div>
			</form>
		</div>
	</div>
</section>

<style type="text/css">
		label{
			width: 100%;
		}
		
	</style>