<!--  基本信息 -->
<section class="cd-section index cd-selected">
	<div class="cd-content">
		<div id="pkcjb">
			<div class="pkhcjTitle" id="pkhjbxx">
				<p class="pull-left"></p><span>基本信息</span>
			</div>
			<div class="pkcMain">
				<div class="pkcList clearfix">
					<div for="pkcxz" class="col-xs-4">镇(乡、苏木)</div>
					<div class="col-xs-5 padd0 pkcRight">
						<select class="form-control" id="pkcxz">
							<option>张北镇</option>
							<option>1</option>
						</select>
					</div>
				</div>
				<div class="pkcList clearfix">
					<div class="col-xs-4">行政村</div>
					<div class="col-xs-5 padd0 pkcRight">
						<select class="form-control">
							<option>二八地村</option>
							<option>2</option>
						</select>
					</div>
				</div>
				<div class="pkcList clearfix">
					<div class="col-xs-4">自然村(屯)</div>
					<div class="col-xs-5 padd0 pkcRight">
						<select class="form-control">
							<option>自然村</option>
							<option>2</option>
						</select>
					</div>
				</div>
				<div class="pkcList pkcListTel clearfix">
					<div class="col-xs-4">联系电话</div>
					<div class="col-xs-5 padd0 pkcRight">
						<input type="text" placeholder="请输入电话号码" />
					</div>
				</div>
				<div class="pkcList clearfix">
					<div class="col-xs-4">开户银行</div>
					<div class="col-xs-5 padd0 pkcRight">
						<select class="form-control">
							<option>中国农业银行</option>
							<option>2</option>
						</select>
					</div>
				</div>
				<div class="pkcList pkcListTel clearfix">
					<div class="col-xs-4">银行账号</div>
					<div class="col-xs-5 padd0 pkcRight">
						<input type="text" placeholder="11111111111" />
					</div>
				</div>
				
				<div class="pkcList clearfix">
					<div class="col-xs-4">A18贫困用户属性</div>
					<div class="col-xs-5 padd0 pkcRight">
						<select class="form-control">
							<option>一般贫困户</option>
							<option>低保贫困户</option>
							<option>五保贫困户</option>
						</select>
					</div>
				</div>
				
				<div class="pkcList clearfix">
					<div class="col-xs-4">A19是否军烈属</div>
					<div class="col-xs-5 padd0 pkcRight">
						<select class="form-control">
							<option>是</option>
							<option>否</option>
						</select>
					</div>
				</div>
				<div class="pkcList clearfix">
					<div class="col-xs-4">A20是否独生子女</div>
					<div class="col-xs-5 padd0 pkcRight">
						<select class="form-control">
							<option>是</option>
							<option>否</option>
						</select>
					</div>
				</div>
				<div class="pkcList clearfix">
					<div class="col-xs-4">A21是否双女户</div>
					<div class="col-xs-5 padd0 pkcRight">
						<select class="form-control">
							<option>是</option>
							<option>否</option>
						</select>
					</div>
				</div>
				<div class="pkcList clearfix">
					<div class="col-xs-4">A10脱贫状态</div>
					<div class="col-xs-5 padd0 pkcRight">
						<select class="form-control">
							<option>返贫贫困户</option>
							<option>历史已脱贫贫困户</option>
							<option>未脱贫贫困户</option>
							<option>新脱贫贫困户</option>
						</select>
					</div>
				</div>
				<div class="pkcList clearfix">
					<div class="col-xs-4">不脱贫原因</div>
					<div class="col-xs-5 padd0 pkcRight">
						<select class="form-control">
							<option>不脱贫原因</option>
						</select>
					</div>
				</div>
				<div class="pkctips">注：已达到脱贫指标，但实际未脱贫的填此项</div>
			</div>
		</div> 
	</div>
</section>