<!--  家庭信息 -->
<section class="cd-section index cd-selected">
	<div class="cd-content villageCollection">
		<div class="pkhcjTitle" id="pkhjbxx">
			<p class="pull-left"></p><span>家庭成员信息</span>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<td class="text-center">姓名</td>
					<td class="text-center">性别</td>
					<td class="text-center">年龄</td>
					<td class="text-center">与户主关系</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in lowFamilyMember.list track by $index" ui-sref="addFamilyMember({id:lowFamilyMember.urlParam.id,type:lowFamilyMember.urlParam.type,memberId:item.id})">
					<td class="text-center" ng-bind="item.xm">曹操</td>
					<td class="text-center" ng-bind="item.xb">男</td>
					<td class="text-center" ng-bind="item.nl">85</td>
					<td class="text-center" ng-bind="item.yhzgxObj.name">本人</td>
				</tr>
			</tbody>
		</table>
		<div class="addMember">
			<button type="button" class="btn_add" ui-sref="addFamilyMember({id:lowFamilyMember.urlParam.id,type:lowFamilyMember.urlParam.type,memberId:''})">+添加家庭成员</button>
		</div>
	</div>
</section>