<section class="cd-section index cd-selected">
	<div class="cd-content">
		<div id="pkcjb">
			<div class="pkhcjTitle" id="pkhjbxx">
				<p class="pull-left"></p><span>家庭成员信息</span>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<td class="text-center">姓名</td>
						<td class="text-center">性别</td>
						<td class="text-center">年龄</td>
						<td class="text-center">与户主关系</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-center">曹操</td>
						<td class="text-center">男</td>
						<td class="text-center">85</td>
						<td class="text-center">本人</td>
					</tr>
					<tr>
						<td class="text-center">貂蝉</td>
						<td class="text-center">女</td>
						<td class="text-center">26</td>
						<td class="text-center">配偶</td>
					</tr>
				</tbody>
			</table>
			<div class="addMember">
				<button type="button" class="btn_add">+添加家庭成员</button>
			</div> 
			
		</div>
	</div>
</section>