<!-- 收入情况-->
<section class="cd-section index cd-selected">
	<div class="cd-content villageCollection">
		<div class="pkhcjTitle" id="pkhjbxx">
			<p class="pull-left"></p><span>收入情况</span>
		</div>
		<div class="addPerson situation">
			<form method="post">
				<div class="item border-b">
					<div class="name">A39工资性收入（元）</div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model="income.formInfo.gzxsr">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A40 生产经营性收入（元）</div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model="income.formInfo.scjyxsr">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A41 财产性收入（元） </div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model="income.formInfo.ccxsr">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A42 转移性收入（元）</div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model="income.formInfo.zyxsr" ng-disabled="true">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A42a 计划生育金（元）</div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model="income.formInfo.jhsyj">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A42b 低保金（元）</div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model="income.formInfo.dbj">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A42c 五保金（元）</div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model="income.formInfo.wbj">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A42d 养老保险金（元）</div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model="income.formInfo.ylbzj">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A42e 生态补偿金（元）</div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model="income.formInfo.stbcj">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A42f 其他转移性收入（元）</div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model="income.formInfo.qtzyxsr">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">H6 家庭实物折算款</div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model="income.formInfo.jtswzsk">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">H7 人均纯收入（元）</div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model="income.formInfo.rjcsr" ng-disabled="true">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A43 生产经营性支出（元）</div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model="income.formInfo.scjyxzc" ng-disabled="true">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A43a 家庭经营费用支出（元） </div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model="income.formInfo.jtjyfyzc">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A43b税费支出（元） </div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model="income.formInfo.sfzc">
					</div>
				</div>
				<div class="item border-b" style="margin-bottom:3.5rem;">
					<div class="name">A43c 其他生产经营性支出（元）</div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model="income.formInfo.qtscjyxzc">
					</div>
				</div>
			</form>
		</div>
	</div>
</section>