<!-- 收入情况-->
<section class="cd-section index cd-selected">
	<div class="cd-content villageCollection">
		<div class="pkhcjTitle" id="pkhjbxx">
			<p class="pull-left"></p><span>收入情况</span>
		</div>
		<div class="addPerson situation">
			<form action="" method="post">
				<div class="item border-b">
					<div class="name">A39工资性收入（元）</div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model"income.gzxsr">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A40 生产经营性收入（元）</div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model"income.scjyxsr">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A41 财产性收入（元） </div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model"income.ccxsr">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A42 转移性收入（元）</div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model"income.zyxsr">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A42a 计划生育金（元）</div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model"income.jhsyj">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A42b 低保金（元）</div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model"income.dbj">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A42c 五保金（元）</div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model"income.wbj">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A42d 养老保险金（元）</div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model"income.ylbzj">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A42e 生态补偿金（元）</div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model"income.stbcj">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A42f 其他转移性收入（元）</div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model"income.qtzyxsr">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">H6 家庭实物折算款</div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model"income.jtswzsk">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">H7 人均纯收入（元）</div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model"income.rjcsr">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A43 生产经营性支出（元）</div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model"income.scjyxzc">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A43a 家庭经营费用支出（元） </div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model"income.jtjyfyzc">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A43b税费支出（元） </div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model"income.sfzc">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A43c 其他生产经营性支出（元）</div>
					<div class="content">
						<input type="number" placeholder="请输入数据" ng-model"income.qtscjyxzc">
					</div>
				</div>
			</form>
		</div>
	</div>
</section>