<!-- 易地搬迁用户 -->
<section class="cd-section index cd-selected">
	<div class="cd-content villageCollection">
		<div class="pkhcjTitle" id="pkhjbxx">
			<p class="pull-left"></p><span>易地搬迁用户需求</span>
		</div>

		<div class="situation">
			<form action="" method="post">
				<div class="item border-b">
					<div class="name">A44 是否搬迁户</div>
					<div class="content">
						<select name="" id="">
							<option value="">是</option>
						</select>
						<img src="../../assets/img/icon2_11@2x.png" alt="">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A45 搬迁方式</div>
					<div class="content">
						<select name="" id="">
							<option value="">行政区整体搬迁</option>
							<option value="">自然村（村民小组）整体搬迁</option>
							<option value="">建档立卡贫困户个别搬迁</option>
						</select>
						<img src="../../assets/img/icon2_11@2x.png" alt="">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A47 安置方式 </div>
					<div class="content">
						<select name="" id="">
							<option value="">集中安置</option>
							<option value="">分散安置</option>
						</select>
						<img src="../../assets/img/icon2_11@2x.png" alt="">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A48 安置地 </div>
					<div class="content">
						<select name="" id="">
							<option value="">县城安置</option>
							<option value="">乡镇安置</option>
							<option value="">县外安置</option>
							<option value="">村外安置</option>
							<option value="">村内安置</option>
						</select>
						<img src="../../assets/img/icon2_11@2x.png" alt="">
					</div>
				</div>
				<div class="formHr"></div>
				<div class="formModal">
					<div class="item border-b">
						<div class="name">A49 搬迁可能存在的困难（可多选）</div>
					</div>
					<div class="item border-b">
						<a href="">缺乏资金</a>
						<a href="">搬迁后找不到工作</a>
						<a href="">搬迁后生活没着落</a>
						<a href="">其他</a>
					</div>
				</div>
				<div class="formHr"></div>
				<div class="item">
					<div class="name">搬迁去向</div>
					<div class="clear">
						<textarea name="" rows="" cols="" style="width:100%;"></textarea>
					</div>
				</div>
				
				<div class="item border-b">
					<div class="name">后续产业</div>
					<div class="clear">
						<textarea name="" rows="" cols="" style="width:100%;"></textarea>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>