<!-- 易地搬迁用户 -->
<section class="cd-section index cd-selected">
	<div class="cd-content villageCollection">
		<div class="pkhcjTitle" id="pkhjbxx">
			<p class="pull-left"></p><span>易地搬迁用户需求</span>
		</div>

		<div class="situation">
			<form action="" method="post">
				<div class="item border-b">
					<div class="name">A44 是否搬迁户</div>
					<div class="content">
						<select name="" id="" ng-model="lowFamilyInfo.formMap.plantRelocation.formInfo.sfbqh">
							<!--<option value=""></option>-->
							<option value="y">是</option>
							<option value="n">否</option>
						</select>
						<img src="./assets/img/icon2_11@2x.png" alt="">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A45 搬迁方式</div>
					<div class="content" style="width: 20rem;">
						<select name="" id="" ng-model="lowFamilyInfo.formMap.plantRelocation.formInfo.bqfs" ng-options="item.value as item.name for item in lowFamilyInfo.formMap.plantRelocation.otherSelect.bqfsList" style=" width: 85%; " dir="rtl">
							<!--<option value=""></option>-->
						</select>
						<img src="./assets/img/icon2_11@2x.png" alt="">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A47 安置方式 </div>
					<div class="content">
						<select name="" id="" ng-model="lowFamilyInfo.formMap.plantRelocation.formInfo.azfs" ng-options="item.value as item.name for item in lowFamilyInfo.formMap.plantRelocation.otherSelect.azfsList">
							<!--<option value=""></option>-->
						</select>
						<img src="./assets/img/icon2_11@2x.png" alt="">
					</div>
				</div>
				<div class="item border-b">
					<div class="name">A48 安置地 </div>
					<div class="content">
						<select name="" id="" ng-model="lowFamilyInfo.formMap.plantRelocation.formInfo.azd" ng-options="item.value as item.name for item in lowFamilyInfo.formMap.plantRelocation.otherSelect.azdList">
							<!--<option value=""></option>-->
						</select>
						<img src="./assets/img/icon2_11@2x.png" alt="">
					</div>
				</div>
				<div class="formHr"></div>
				<div class="formModal">
					<div class="item border-b">
						<div class="name">A49 搬迁可能存在的困难（可多选）</div>
					</div>
					<div class="item border-b">
						<div class="check_radio" checkbox-radio>
							<label class="default" ng-class="{cked:lowFamilyInfo.formMap.plantRelocation.formInfo.bqknczkn_qfzj}"><input type="checkbox" value="y"  ng-model="lowFamilyInfo.formMap.plantRelocation.formInfo.bqknczkn_qfzj" />缺乏资金</label>
							<label class="default" ng-class="{cked:lowFamilyInfo.formMap.plantRelocation.formInfo.bqknczkn_bqhzbdgz}"><input type="checkbox" value="y" ng-model="lowFamilyInfo.formMap.plantRelocation.formInfo.bqknczkn_bqhzbdgz"/>搬迁后找不到工作</label>
							<label class="default" ng-class="{cked:lowFamilyInfo.formMap.plantRelocation.formInfo.bqknczkn_bqhshmzl}"><input type="checkbox" value="y" ng-model="lowFamilyInfo.formMap.plantRelocation.formInfo.bqknczkn_bqhshmzl"/>搬迁后生活没着落</label>
							<label class="default" ng-class="{cked:lowFamilyInfo.formMap.plantRelocation.formInfo.bqknczkn_qt}"><input type="checkbox" value="y" ng-model="lowFamilyInfo.formMap.plantRelocation.formInfo.bqknczkn_qt"/>其他</label>
						</div>
					</div>
				</div>

				<!--<div class="formHr"></div>
				<div class="item">
					<div class="name">搬迁去向</div>
					<div class="clear">
						<textarea name="" rows="2" cols="" style="width:100%;"></textarea>
					</div>
				</div>
				<div class="item border-b" style="margin-bottom:35px;">
					<div class="name">后续产业</div>
					<div class="clear">
						<textarea name="" rows="2" cols="" style="width:100%;"></textarea>
					</div>
				</div>-->
			</form>
		</div>
	</div>
</section>