<!-- 致贫原因 -->
<section class="cd-section index cd-selected">
	<div class="cd-content">
		<div id="zpyy">
			<div class="pkhcjTitle" id="pkhjbxx">
				<p class="pull-left"></p><span>致贫原因</span>
			</div>
			<div class="zpyyzy">
				<div class="zpyyTitlecrap">
					<div class="zpyyTitle">A22主要致贫原因<span>(单选)<span></div></div>
							<div class="zpyyMain" id="zpyyList" ng-model"lowFamilyCauses.zyzpyy">
								<div class="zpyyItem" >因病</div>
								<div class="zpyyItem" >因伤</div>
								<div class="zpyyItem" >因学</div>
								<div class="zpyyItem" >因灾</div>
								<div class="zpyyItem" >缺土地</div>
								<div class="zpyyItem" >缺水</div>
								<div class="zpyyItem" >缺技术</div>
								<div class="zpyyItem" >缺资金</div>
								<div class="zpyyItem" >缺劳动力</div>
								<div class="zpyyItem" >交通条件落后</div>
								<div class="zpyyItem" >自身发展动力不足</div>
							</div>
						</div>
						<div class="zpyyLine"></div>
						<div class="zpyyzy" style="padding-bottom: 10rem;">
							<div class="zpyyTitlecrap"><div class="zpyyTitle">A23其他致贫原因<span>(最多选俩项)<span></div></div>
							<div class="zpyyMain">
								<div class="zpyyItem" ng-model"lowFamilyCauses.zpyy_q_yb">因病</div>
								<div class="zpyyItem" ng-model"lowFamilyCauses.zpyy_q_yc">因残</div>
								<div class="zpyyItem" ng-model"lowFamilyCauses.zpyy_q_yx">因学</div>
								<div class="zpyyItem" ng-model"lowFamilyCauses.zpyy_q_yz">因灾</div>
								<div class="zpyyItem" ng-model"lowFamilyCauses.zpyy_q_yqtd">缺土地</div>
								<div class="zpyyItem" ng-model"lowFamilyCauses.zpyy_q_yqs">缺水</div>
								<div class="zpyyItem" ng-model"lowFamilyCauses.zpyy_q_yqjs">缺技术</div>
								<div class="zpyyItem" ng-model"lowFamilyCauses.zpyy_q_yqzj">缺资金</div>
								<div class="zpyyItem" ng-model"lowFamilyCauses.zpyy_q_yqldl">缺劳动力</div>
								<div class="zpyyItem" ng-model"lowFamilyCauses.zpyy_q_yjttjlh">交通条件落后</div>
								<div class="zpyyItem" ng-model"lowFamilyCauses.zpyy_q_yzsfzdlbz">自身发展动力不足</div>
							</div>
						</div>
						</div>
	</div>
</section>