<!-- 致贫原因 -->
<section class="cd-section index cd-selected">
	<div class="cd-content">
		<div id="zpyy">
			<div class="pkhcjTitle" id="pkhjbxx">
				<p class="pull-left"></p><span>致贫原因</span>
			</div>
			<div class="zpyyzy">
				<div class="zpyyTitlecrap">
					<div class="zpyyTitle">A22主要致贫原因<span>(单选)<span></div>
							</div>
							<div class="check_radio" checkbox-radios >
								<label class="default" ng-class="{'cked':lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy=='01'}" ng-show="!lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yb"><input type="radio"  name="zyzpyy" value="01" ng-model="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy"/>因病</label>
								<label class="default" ng-class="{'cked':lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy=='02'}"ng-show="!lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yc"><input type="radio"  name="zyzpyy" value="02" ng-model="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy"/>因残</label>
								<label class="default" ng-class="{'cked':lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy=='03'}"ng-show="!lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yx"><input type="radio"  name="zyzpyy" value="03" ng-model="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy"/>因学</label>
								<label class="default" ng-class="{'cked':lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy=='04'}"ng-show="!lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yz"><input type="radio"  name="zyzpyy" value="04" ng-model="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy"/>因灾</label>
								<label class="default" ng-class="{'cked':lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy=='05'}"ng-show="!lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yqtd"><input type="radio"  name="zyzpyy" value="05" ng-model="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy"/>缺土地</label>
								<label class="default"ng-class="{'cked':lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy=='06'}"ng-show="!lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yqs"><input type="radio"  name="zyzpyy" value="06" ng-model="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy"/>缺水</label>
								<label class="default"ng-class="{'cked':lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy=='07'}"ng-show="!lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yqjs"><input type="radio"  name="zyzpyy" value="07" ng-model="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy"/>缺技术</label>
								<label class="default"ng-class="{'cked':lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy=='08'}"ng-show="!lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yqzj"><input type="radio"  name="zyzpyy" value="08" ng-model="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy"/>缺资金</label>
								<label class="default"ng-class="{'cked':lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy=='09'}"ng-show="!lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yqldl"><input type="radio"  name="zyzpyy" value="09" ng-model="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy"/>缺劳动力</label>
								<label class="default"ng-class="{'cked':lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy=='10'}"ng-show="!lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yjttjlh"><input type="radio"  name="zyzpyy" value="10" ng-model="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy"/>交通条件落后</label>
								<label class="default"ng-class="{'cked':lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy=='11'}"ng-show="!lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yzsfzdlbz"><input type="radio"  name="zyzpyy" value="11" ng-model="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy"/>自身发展动力不足</label>
							</div>
						</div>
						<div class="zpyyLine"></div>
							<div class="zpyyzy" style="padding-bottom: 10rem;">
							<div class="zpyyTitlecrap"><div class="zpyyTitle">A23其他致贫原因<span>(最多选两项)<span></div>
							</div>
							<div class="check_radio" checkbox-radios> 
								<label class="default" ng-class="{'cked':lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yb}" ng-show="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy!='01'"><input type="checkbox"   ng-model="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yb" />因病</label>
								<label class="default" ng-class="{'cked':lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yc}" ng-show="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy!='02'"><input type="checkbox"   ng-model="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yc"/>因残</label>
								<label class="default"  ng-class="{'cked':lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yx}" ng-show="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy!='03'"><input type="checkbox"   ng-model="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yx"  />因学</label>
								<label class="default" ng-class="{'cked':lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yz}" ng-show="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy!='04'"><input type="checkbox"   ng-model="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yz"/>因灾</label>
								<label class="default" ng-class="{'cked':lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yqtd}" ng-show="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy!='05'"><input type="checkbox"   ng-model="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yqtd" />缺土地</label>
								<label class="default" ng-class="{'cked':lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yqs}" ng-show="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy!='06'"><input type="checkbox"   ng-model="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yqs"/>缺水</label>
								<label class="default" ng-class="{'cked':lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yqjs}" ng-show="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy!='07'"><input type="checkbox"   ng-model="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yqjs"/>缺技术</label>
								<label class="default" ng-class="{'cked':lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yqzj}" ng-show="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy!='08'"><input type="checkbox"   ng-model="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yqzj" />缺资金</label>
								<label class="default" ng-class="{'cked':lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yqldl}" ng-show="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy!='09'"><input type="checkbox"   ng-model="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yqldl" />缺劳动力</label>
								<label class="default" ng-class="{'cked':lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yjttjlh}" ng-show="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy!='10'"><input type="checkbox"   ng-model="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yjttjlh"/>交通条件落后</label>
								<label class="default" ng-class="{'cked':lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yzsfzdlbz}" ng-show="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zyzpyy!='11'"><input type="checkbox"   ng-model="lowFamilyInfo.formMap.lowFamilyCauses.formInfo.zpyy_q_yzsfzdlbz"/>自身发展动力不足</label>
							</div>
						</div>
						</div>
	</div>
</section>