<link rel="stylesheet" href="./assets/lib/date/css/mobiscroll.css">
<style>
	.villageCollection .villageSituation .content{
		width: 36% !important;
	}
</style>
<div class="villageCollection">
<div class="villageSituation">
		<header>
			<div class="back" ng-click="editTaskForce.back()"><img src="./assets/img/icon_28.png" alt=""></div>
			<div class="collectionTitle">贫困村信息采集</div>
			<div class="delete" ng-click="editTaskForce.deleteBtn()">删除</div>
		</header>
		<div class="fill"></div>
		<div>
		<!-- 添加task -->
		<div class="taskCon" id="taskCon">
			<div class="listItem">
				<div class="title">
					<img src="./assets/img/ios_line@2X.png" alt="">
					<span class="titles">驻村工作队情况</span>
				</div>
				<div class="item border-b">
					<label class="labels" for="bfdwzcgzdyxm">
						<div class="name">驻村工作队员姓名</div>
						<div class="content">
							<input id="bfdwzcgzdyxm" type="text" placeholder="请输入姓名" ng-model="editTaskForce.bfdwzcgzdyxm">
						</div>
					</label>
				</div>
				<div class="item border-b">
					<label class="labels" for="zzmm">
						<div class="name">政治面貌</div>
						<div class="content pr">
							<select class="selects" name="" id="zzmm" ng-model="editTaskForce.zzmm">
								<option value="01">中共党员</option>
								<option value="02">中共预备党员</option>
								<option value="03">共青团员</option>
								<option value="04">民革会员</option>
								<option value="05">民盟盟员</option>
								<option value="06">民建会员</option>
								<option value="07">民进会员</option>
								<option value="08">农工党党员</option>
								<option value="09">致公党党员</option>
								<option value="10">九三学社社员</option>
								<option value="11">台盟盟员</option>
								<option value="12">无党派民主人士</option>
								<option value="13">群众</option>
							</select>
							<img class="rightPro" src="./assets/img/icon2_11@2x.png" alt="">
						</div>
					</label>
				</div>
				<div class="item border-b">
					<label class="labels" for="zjhm">
						<div class="name">证件号码</div>
						<div class="content">
							<input id="zjhm" type="text" placeholder="请输入证件" ng-model="editTaskForce.zjhm">
						</div>
					</label>
				</div>
				<div class="item border-b">
					<label class="labels" for="bfdwmc">
						<div class="name">帮扶(派驻)单位名称</div>
						<div class="content">
							<input id="bfdwmc" type="text" placeholder="请输入帮扶" ng-model="editTaskForce.bfdwmc">
						</div>
					</label>
				</div>
				<div class="item border-b">
					<label class="labels" for="dwlsgx">
						<div class="name">单位隶属关系</div>
						<div class="content pr">
							<select class="selects" name="" id="dwlsgx" ng-model="editTaskForce.dwlsgx">
								<option value="01">中央</option>
								<option value="02">省</option>
								<option value="03">市</option>
								<option value="04">县</option>
								<option value="05">乡镇</option>
								<option value="06">部队</option>
								<option value="07">其他</option>
							</select>
							<img class="rightPro" src="./assets/img/icon2_11@2x.png" alt="">
						</div>
					</label>
				</div>
				<div class="item border-b">
					<label class="labels" for="lxdh">
						<div class="name">联系电话</div>
						<div class="content">
							<input id="lxdh" type="text" placeholder="请输入电话" ng-model="editTaskForce.lxdh">
						</div>
					</label>
				</div>
				<div class="item border-b">
					<label class="labels" for="star_time">
						<div class="name">驻村开始时间</div>
						<div class="content pr">
							<input class="selects" type="text" name="s_time" placeholder="开始时间" id="star_time" style="line-height: 2.3rem;width:100%">
							<img class="rightPro" src="./assets/img/icon2_11@2x.png" alt="">
						</div>
					</label>
				</div>
				<div class="item border-b">
					<label class="labels" for="end_time">
						<div class="name">驻村结束时间</div>
						<div class="content pr">
							<input class="selects" type="text" name="s_time" placeholder="结束时间" id="end_time" style="line-height: 2.3rem">
							<img class="rightPro" src="./assets/img/icon2_11@2x.png" alt="">
						</div>
					</label>
				</div>
				<div class="item border-b">
					<label class="labels" for="sfdz">
						<div class="name">是否队长</div>
						<div class="content pr">
							<select class="selects" name="" id="sfdz" ng-model="editTaskForce.sfdz">
								<option value="是">是</option>
								<option value="否">否</option>
							</select>
							<img class="rightPro" src="./assets/img/icon2_11@2x.png" alt="">
						</div>
					</label>
				</div>
				<div class="item border-b">
					<label class="labels" for="sfdysj">
						<div class="name">是否第一书记</div>
						<div class="content pr">
							<select class="selects" name="" id="sfdysj" ng-model="editTaskForce.sfdysj">
								<option value="是">是</option>
								<option value="否">否</option>
							</select>
							<img class="rightPro" src="./assets/img/icon2_11@2x.png" alt="">
						</div>
					</label>
				</div>
			</div>

		

		</div>
		
		</div>
		<!--  -->
		<div class="footFill"></div>
		<div class="foot" ng-click="editTaskForce.save()">
			保存
		</div>
	</div>
	<!-- 弹窗 -->
		<div class="alertTip" ng-show="editTaskForce.alert">
	        <div ng-click="editTaskForce.cancel()" class="alet_container">
	        </div>
	        <section class="tip_text_container">
	            <p class="tip_icon">温馨提示</p>
	            <p class="tip_text">是否保存</p>
	            <div class="determineCon border-t">
	                <div class="cancel" ng-click="editTaskForce.cancel()">取消</div>
	                <div class="determine" ng-click="editTaskForce.confirm()">确定</div>
	            </div>
	        </section>
	    </div>
</div>
    <script src="./assets/lib/date/js/mobiscroll.js" type="text/javascript"></script>