<style>
	.topMid{ 
		vertical-align: middle !important;
	}
</style>
<div class="noticeCon">
		<div class="" style="background-color: #eee;">
			<header>
				<a href="javascript:history.go(-1)"><div class="back"><img src="./assets/img/icon_28.png" alt=""></div></a>
				<div class="collectionTitle">光荣榜</div>
			</header>
			<div class="fill"></div>
			<div class="noticeList">
				<!-- <div class="item" ui-sref="gloryDetail">
					<div class="date">2017.06.02</div>
					<div class="content"> 
						<div class="title">2017年全国脱贫攻坚奖评选表彰活动公告</div>
						<div class="bot">国务院扶贫开发领导小组</div>
					</div>
				</div> -->
				<table class="table table-striped">
					<thead>
						<tr>
							<td class="text-center">排名</td>
							<td class="text-center">名字</td>
							<td class="text-center">县</td>
							<td class="text-center">签到次数</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="text-center"><img style="width:30px;vertical-align: middle;" src="./assets/img/ad_list_03.png" alt=""></td>
							<td class="text-center topMid">张艾</td>
							<td class="text-center topMid">尚义县</td>
							<td class="text-center topMid">100</td>
						</tr>
						<tr>
							<td class="text-center topMid"><img style="width:30px;vertical-align: middle;" src="./assets/img/ad_list_06.png" alt=""></td>
							<td class="text-center topMid">王燕飞</td>
							<td class="text-center topMid">沽源县</td>
							<td class="text-center topMid">99</td>
						</tr>
						<tr>
							<td class="text-center topMid"><img style="width:30px;vertical-align: middle;" src="./assets/img/ad_list_08.png" alt=""></td>
							<td class="text-center topMid">甄永利</td>
							<td class="text-center topMid">蔚县</td>
							<td class="text-center topMid">98</td>
						</tr>
						<tr>
							<td class="text-center">4</td>
							<td class="text-center">赵玉星</td>
							<td class="text-center">涿鹿县</td>
							<td class="text-center">97</td>
						</tr>
						<tr>
							<td class="text-center">5</td>
							<td class="text-center">郝金刚</td>
							<td class="text-center">赤城县</td>
							<td class="text-center">96</td>
						</tr>
						<tr>
							<td class="text-center">6</td>
							<td class="text-center">闫冬青</td>
							<td class="text-center">赤城县</td>
							<td class="text-center">95</td>
						</tr>
						<tr>
							<td class="text-center">7</td>
							<td class="text-center">安焕忠</td>
							<td class="text-center">沽源县</td>
							<td class="text-center">94</td>
						</tr>
						<tr>
							<td class="text-center">8</td>
							<td class="text-center">李玉喜</td>
							<td class="text-center">阳原县</td>
							<td class="text-center">93</td>
						</tr>
						<tr>
							<td class="text-center">9</td>
							<td class="text-center">赵治海</td>
							<td class="text-center">张家口市</td>
							<td class="text-center">92</td>
						</tr>
						<tr>
							<td class="text-center">10</td>
							<td class="text-center">姚  俊</td>
							<td class="text-center">张家口市</td>
							<td class="text-center">91</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
