<div class="noticeCon">
		<div class="" style="background-color: #eee;">
			<header>
				<a href="javascript:history.go(-1)"><div class="back"><img src="./assets/img/icon_28.png" alt=""></div></a>
				<div class="collectionTitle">光荣榜</div>
			</header>
			<div class="fill"></div>
			<div class="noticeList">
				<div class="item" ui-sref="gloryDetail">
					<div class="date">2017.06.02</div>
					<div class="content">
						<div class="title">2017年全国脱贫攻坚奖评选表彰活动公告</div>
						<div class="bot">国务院扶贫开发领导小组</div>
					</div>
				</div>
			</div>
		</div>
	</div>
