<div class="noticeCon">
		<div class="">
			<header>
				<a href="javascript:history.go(-1)"><div class="back"><img src="./assets/img/icon_28.png" alt=""></div></a>
				<div class="collectionTitle">光荣榜</div>
			</header>
			<div class="fill"></div>
			<div class="noticeDetail">
				<div class="titleCon">
					<div class="title">2017年全国脱贫攻坚奖评选表彰活动公告</div>
					<div class="infoCon">
						<div class="date">2017.06.02</div>
						<div class="bot">国务院扶贫开发领导小组</div>
					</div>
				</div>
				<div class="contentCon">
					<p class="title" style="margin-bottom: 2rem"> 经中央批准，国务院扶贫开发领导小组决定，在“十三五”期间设立“全国脱贫攻坚奖”，每年评选表彰一批为脱贫攻坚作出突出贡献的各界人士。现就开展2017年脱贫攻坚奖评选表彰活动有关事项公告如下：</p>
					<p> 一、表彰目的</p>
					<p class="" style="margin-bottom: 2rem">
						&nbsp;&nbsp;&nbsp;&nbsp;组织开展全国脱贫攻坚奖评选表彰，旨在树立脱贫攻坚先进典型，引领社会风尚，弘扬社会主义核心价值观，动员社会各方面力量积极参与脱贫攻坚，为打赢脱贫攻坚战、全面建成小康社会，营造浓厚氛围，凝聚精神动力。
					</p>
					<p>二、组织领导</p>
					<p class="" style="margin-bottom: 2rem">
						&nbsp;&nbsp;&nbsp;&nbsp; 全国脱贫攻坚奖评选表彰活动由国务院扶贫开发领导小组领导组织实施，负责审定方案、审定获奖者，开展颁奖表彰活动。由国务院扶贫开发领导小组有关成员单位成立全国脱贫攻坚奖评选表彰活动办公室（以下简称“全国评选办公室”），负责评选表彰的日常工作。全国评选办公室提名组成全国脱贫攻坚奖评选委员会（以下简称“评选委员会”），邀请全国人大代表、全国政协委员、专家学者、新闻媒体、社会组织和基层干部群众代表组成，负责评审工作，提出获奖人选建议名单。
					</p>
					<pclass="" style="margin-bottom: 2rem">
						&nbsp;&nbsp;&nbsp;&nbsp; 
						 各省区市和新疆生产建设兵团（以下简称“各省”）扶贫开发领导小组负责本行政区域推荐工作;中央直属机关工委、中央国家机关工委、中央统战部、教育部、中国人民银行、国务院国资委分别牵头组织工作地或注册地在北京的中央直属机关、中央国家机关、民主党派中央和全国工商联、高校、金融机构、中央企业的推荐工作；中央军委政治工作部负责全国解放军和武警部队的推荐工作。
					</p>
					<p> 三、奖项设置</p>
					<p class="" style="margin-bottom: 2rem">
						&nbsp;&nbsp;&nbsp;&nbsp;  全国脱贫攻坚奖共设奋进奖、贡献奖、奉献奖、创新奖四个奖项，每个奖项表彰10名，共表彰40名。
					</p>
					<p> 四、评选范围</p>
					<p class="" style="margin-bottom: 2rem">
						&nbsp;&nbsp;&nbsp;&nbsp;  全国脱贫攻坚奖评选表彰对象为对脱贫攻坚作出突出贡献的个人。各奖项的评选范围为：
					</p>
					<p class="" style="margin-bottom: 2rem">
						&nbsp;&nbsp;&nbsp;&nbsp;  奋进奖从脱贫主体中产生，表彰脱贫致富和带领贫困群众摆脱贫困的先进典型。
					</p>
					<p class="" style="margin-bottom: 2rem">
						&nbsp;&nbsp;&nbsp;&nbsp; 贡献奖从扶贫工作主体中产生，表彰中央和地方各级党政机关、民主党派和工商联、军队和武警部队、人民团体、国有企事业单位中的先进典型。</p>
    					<p class="" style="margin-bottom: 2rem">
						&nbsp;&nbsp;&nbsp;&nbsp; 奉献奖从社会帮扶主体中产生，表彰各类社会组织、非公有制企业和公民个人中的先进典型。</p>
    <p class="" style="margin-bottom: 2rem">
						&nbsp;&nbsp;&nbsp;&nbsp; 创新奖从脱贫攻坚理论与实践创新的主体中产生，表彰推动扶贫改革创新的先进典型。
</p>
					<!-- <p class="enclosure">附件: 发挥交通扶贫脱贫支撑附件.pdf</p> -->
				</div>
				<div class="signature">
					<div class="government">国务院扶贫开发领导小组</div>
					<div class="time">2017年06月02日&nbsp;&nbsp;&nbsp;&nbsp;</div>
				</div>
			</div>
		</div>
	</div>
