
		<div class="loginCon">
			<div class="logoCon">
				<img src="./assets/img/logo@2x.png" alt="">
			</div>
			<div class="title">张家口市精准扶贫大数据平台</div>
			<form id="formImg" action="" method="post">
				<div class="infoCon">
					 <div class="pr">
						<div class="infoBox">
							<input id="userName" ng-model="userName" autocomplete="off" name="loginname" type="text" placeholder="请输入用户名">
						</div>
						<img class="icon" src="./assets/img/1080_07.png" alt="">
					</div>
					
					<div class="pr">
						<div class="infoBox">
							<input id="password" ng-model="password" autocomplete="off" name="password" type="password" placeholder="请输入登录密码">
						</div>
						<img class="icon" src="./assets/img/1080_10.png" src="" alt="">
					</div>
					<!-- <div class="fillBorder"></div> -->

					<div class="pr">
						<div class="infoBox">
							<select style="width: 80%;" name="" id="" ng-model="login.url" ng-options="item.url as item.name for item in login.countyList" ng-change="login.change()"></select>
							<!-- <input type="text" placeholder="请选择扶贫县"> -->
							<!-- <img src="" alt=""> -->
						</div>
						<img class="icon" src="./assets/img/1080_15.png" src="" alt="">
						<img class="icons" src="./assets/img/Login_13@2x.png" src="" alt="">
					</div>
				</div>
				<!-- <input id="app" type="text" name="app" value="" hidden="hidden"/> -->
                <input type="submit" hidden="hidden" />
			</form>
				<div class="login" ng-click="logIn()">登录</div>
			
		</div>

