<div class="noticeCon">
		<div class="">
			<header>
				<a href="javascript:history.go(-1)"><div class="back"><img src="../../assets/img/icon_28.png" alt=""></div></a>
				<div class="collectionTitle">通知</div>
			</header>
			<div class="fill"></div>
			<div class="noticeDetail">
				<div class="titleCon">
					<div class="title">关于印发《发挥交通扶贫脱贫支撑作用的实施方案》的通知</div>
					<div class="infoCon">
						<div class="date">207.2.3</div>
						<div class="bot">省发展改革委</div>
					</div>
				</div>
				<div class="contentCon">
					<p class="title" style="margin-bottom: 2rem">各市(含定州、辛集市)人民政府，身财挺人民政府，身财挺人民政府，身财挺人民政府，身财挺人民政府，身财挺人民政府，身财挺：</p>
					<p class="">
						贯彻落实发展工作贯彻落实发展工作贯彻落实发展工作贯彻落实发展工作贯彻落实发展工作贯彻落实发展工作贯彻落实发展工作贯彻落实发展工作贯彻落实发展工作贯彻落实发展工作贯彻落实发展工作贯彻落实发展工作贯彻落实发展工作贯彻落实发展工作贯彻落实发展工作贯彻落实发展工作贯彻落实发展工作贯彻落实发展工作贯彻落实发展工作贯彻落实发展工作贯彻落实发展工作贯彻落实发展工作贯彻落实发展工作贯彻落实发展工作贯彻落实发展工作贯彻落实发展工作贯彻落实发展工作贯彻落实发展工作
					</p>
					<p class="enclosure">附件: 发挥交通扶贫脱贫支撑附件.pdf</p>
				</div>
				<div class="signature">
					<div class="government">河北省扶贫开发办公室</div>
					<div class="time">2016年7月10日&nbsp;&nbsp;&nbsp;&nbsp;</div>
				</div>
			</div>
		</div>
	</div>
