<div class="noticeCon">
		<div class="" style="background-color: #eee;">
			<header>
				<a href="javascript:history.go(-1)"><div class="back"><img src="./assets/img/icon_28.png" alt=""></div></a>
				<div class="collectionTitle">通知</div>
			</header>
			<div class="fill"></div>
			<div class="noticeList">
				<div class="item">
					<div class="date">2017.06.08</div>
					<a href="noticeDetail.html"><div class="content">
						<div class="title">关于印发《发挥交通扶贫脱贫支撑作用的实施方案》的通知</div>
						<div class="bot">省发展改革委</div>
					</div></a>
				</div>
				<div class="item">
					<div class="date">2017.06.08</div>
					<div class="content">
						<div class="title">关于印发《发挥交通扶贫脱贫支撑作用的实施方案》的通知</div>
						<div class="bot">省发展改革委</div>
					</div>
				</div>
				<div class="item">
					<div class="date">2017.06.08</div>
					<div class="content">
						<div class="title">关于印发《发挥交通扶贫脱贫支撑作用的实施方案》的通知</div>
						<div class="bot">省发展改革委</div>
					</div>
				</div>
				<div class="item">
					<div class="content">
						<div class="title">关于印发《发挥交通扶贫脱贫支撑作用的实施方案》的通知</div>
						<div class="bot">省发展改革委</div>
					</div>
				</div>
				<div class="item">
					<div class="content">
						<div class="title">关于印发《发挥交通扶贫脱贫支撑作用的实施方案》的通知</div>
						<div class="bot">省发展改革委</div>
					</div>
				</div>
				<div class="item">
					<div class="content">
						<div class="title">关于印发《发挥交通扶贫脱贫支撑作用的实施方案》的通知</div>
						<div class="bot">省发展改革委</div>
					</div>
				</div>
			</div>
		</div>
	</div>
