<div class="noticeCon">
		<div class="">
			<header>
				<a href="javascript:history.go(-1)"><div class="back"><img src="./assets/img/icon_28.png" alt=""></div></a>
				<div class="collectionTitle">通知</div>
			</header>
			<div class="fill"></div>
			<div class="noticeDetail">
				<div class="titleCon">
					<div class="title">关于进一步完善信息工作评价通报制度的通知</div>
					<div class="infoCon">
						<div class="date">2017.06.06</div>
						<div class="bot">河北省扶贫开发办公室</div>
					</div>
				</div>
				<div class="contentCon">
					<p class="title" style="margin-bottom: 2rem">各市及扶贫开发重点县扶贫办、机关各处及直属事业单位：</p>
					<p class="" style="margin-bottom: 2rem">
						&nbsp;&nbsp;&nbsp;&nbsp;本报告根据《中华人民共和国政府信息公开条例》、《河北省实施<中华人民共和国政府信息公开条例>办法》和《张家口市实施<中华人民共和国政府信息公开条例>细则》的有关规定编制。全文由概述、主动公开政府信息情况、依申请公开政府信息情况、政府信息公开收费及减免情况、因政府信息公开申请行政复议及提起行政诉讼情况、政府信息公开工作存在的主要问题及改进情况共六个部分组成。本年度报告中所列数据的统计期限自2016年1月1日起至2016年12月31日止。本报告的电子版可在张家口市政府信息公开平台网站查阅或下载。如对报告有任何疑问，请与张家口市扶贫和农业开发办公室联系（地址：张家口市经开区市直机关办公大楼；邮编：075000；电话：2017589；电子邮箱：zjkfpb@163.com）。
					</p>
					<p>一、概述</p>
					<p style="margin-bottom: 2rem">
					&nbsp;&nbsp;&nbsp;&nbsp;2016年，张家口市扶贫和农业开发办公室以党的十八大、十八届五中、六中全会精神和习近平总书记系列重要讲话精神为指导，深化“精准扶贫、精准脱贫”，全面落实《政府信息公开条例》和省、市有关文件精神，加强组织领导、健全工作机制、规范公开载体，政府信息公开工作稳步推进，努力营造推进政府信息公开的良好氛围。
					</p>
					<p style="margin-bottom: 2rem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（一）加强组织领导。在市扶农办政府信息公开工作领导小组的统一领导下，各科室坚持主动、强化管理，按时公开各类可公开信息。</p>
					<p style="margin-bottom: 2rem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（二）强化业务工作培训。我办在完善工作制度的基础上，通过加强业务指导培训，学习交流政府信息公开知识，不断提高工作人员对政府信息公开工作重要性、必要性的认识，增强做好政府信息公开工作的主动性和自觉性，进一步推动工作人员素质和能力的不断提升。</p>
					<p style="margin-bottom: 2rem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（三）拓展信息公开渠道。我办在政府信息公开平台的基础上，不断拓展信息公开渠道，加强与各级新闻媒体的沟通和联系，充分利用各类新闻媒体宣传我市扶贫开发工作进展。</p>
					<p style="margin-bottom: 2rem">&nbsp;&nbsp;&nbsp;&nbsp;二、主动公开政府信息情况</p>
					<p style="margin-bottom: 2rem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（一）公开的主要内容</p>
					<p style="margin-bottom: 2rem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2016年1月1日至12月31日，市扶农办通过各类型信息渠道累计主动公开政府信息32条，全文电子化率达100%。</p>
					<p style="margin-bottom: 2rem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、通过张家口市政府信息公开平台全面、及时、准确地发布扶贫开发工作信息。</p>
					<p style="margin-bottom: 2rem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、新闻发布。2016年通过《经济日报》、《河北日报》、《河北经济日报》、《张家口日报》、《张家口晚报》等各级各类新闻媒体发布各类稿件，及时向社会公开扶贫和农业开发工作进展情况。</p>
					<p style="margin-bottom: 2rem">&nbsp;&nbsp;&nbsp;&nbsp;三、依申请公开政府信息情况</p>
					<p style="margin-bottom: 2rem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本年度没有收到要求公开政府信息的申请。</p>
					<!-- <p class="enclosure">附件: 发挥交通扶贫脱贫支撑附件.pdf</p> -->
				</div>
				<div class="signature">
					<div class="government">河北省扶贫开发办公室</div>
					<div class="time">2017年06月06日&nbsp;&nbsp;&nbsp;&nbsp;</div>
				</div>
			</div>
		</div>
	</div>
