<div class="noticeCon">
		<div class="">
			<header>
				<a href="javascript:history.go(-1)"><div class="back"><img src="./assets/img/icon_28.png" alt=""></div></a>
				<div class="collectionTitle">扶贫政策</div>
			</header>
			<div class="fill"></div>
			<div class="noticeDetail">
				<div class="titleCon">
					<div class="title">省委办公厅、省政府办公厅印发《河北省脱贫攻坚责任制实施细则》</div>
					<div class="infoCon">
						<div class="date">2017.05.02</div>
						<div class="bot">省委办公厅、省政府办公厅</div>
					</div>
				</div>
				<div class="contentCon">
					<p class="title" style="margin-bottom: 2rem">《河北省脱贫攻坚责任制实施细则》全文如下：</p>
					<p> 第一章 总则</p>
					<p class="" style="margin-bottom: 2rem">
						&nbsp;&nbsp;&nbsp;&nbsp;第一条 为全面落实脱贫攻坚责任制，根据中共中央办公厅、国务院办公厅印发的《脱贫攻坚责任制实施办法》和省委、省政府《关于坚决打赢脱贫攻坚战的决定》及有关规定，制定本实施细则。
					</p>
					<p class="" style="margin-bottom: 2rem">
						&nbsp;&nbsp;&nbsp;&nbsp;第二条 本实施细则适用于全省9个扶贫任务重的市、62个贫困县党委、政府以及省直有关部门脱贫攻坚责任的落实。
					</p>
					<p class="" style="margin-bottom: 2rem">
						&nbsp;&nbsp;&nbsp;&nbsp;第三条 脱贫攻坚在中央统一部署下，按照省负总责、市抓协调、县抓落实的工作机制，构建责任清晰、各负其责、合力攻坚的责任体系。
					</p>
					<p>第二章 省负总责</p>
					<p class="" style="margin-bottom: 2rem">
						&nbsp;&nbsp;&nbsp;&nbsp; 第四条 省委、省政府对全省脱贫攻坚工作负总责，确保责任制层层落实。全面贯彻党中央、国务院关于脱贫攻坚的大政方针和决策部署，结合实际统筹制定脱贫攻坚政策措施。根据脱贫目标任务制定全省脱贫攻坚滚动规划和年度计划，并组织实施。创新完善体制机制，协调全省重大事项，负责脱贫攻坚任务分解、资金投放、组织动员、监督考核等工作。
					</p>
					<p class="" style="margin-bottom: 2rem">
						&nbsp;&nbsp;&nbsp;&nbsp; 第五条 省委、省政府根据脱贫攻坚任务需要调整财政支出结构，建立扶贫资金增长机制，加强省级扶贫开发投融资平台建设和管理，指导贫困县实施财政涉农资金整合使用，确保扶贫投入力度与脱贫攻坚任务相适应。统筹推进扶贫协作、对口帮扶、定点扶贫等工作，广泛动员社会力量参与脱贫攻坚。
					</p>
					<pclass="" style="margin-bottom: 2rem">
						&nbsp;&nbsp;&nbsp;&nbsp; 
						 第六条 省委、省政府强化对扶贫资金分配使用、扶贫项目实施管理等方面的检查监督，及时纠正和处理扶贫领域违纪违规问题。
					</p>
					<p class="" style="margin-bottom: 2rem">
						&nbsp;&nbsp;&nbsp;&nbsp;  第七条 省委、省政府加强对扶贫任务重的市及贫困县的管理，组织落实贫困县考核、约束、退出机制；保持贫困县党政正职稳定，做到不脱贫不调整、不摘帽不调离。制定出台贫困县、贫困村、贫困人口脱贫后续扶持指导意见。
					</p>
					<p class="" style="margin-bottom: 2rem">
						&nbsp;&nbsp;&nbsp;&nbsp; 第八条 省扶贫开发领导小组负责全省脱贫攻坚的综合协调，建立健全扶贫成效考核、督查巡查等工作机制，组织实施对市县党委和政府扶贫开发工作成效以及省直有关部门脱贫攻坚工作考核，组织开展脱贫攻坚督查巡查和第三方评估，有关情况向省委、省政府报告。
					</p>
					<p class="" style="margin-bottom: 2rem">
						&nbsp;&nbsp;&nbsp;&nbsp;  第九条 省扶贫开发领导小组组织建设精准扶贫精准脱贫大数据平台，建立部门间信息互联共享机制，完善农村贫困统计监测。
					</p>
					<p class="" style="margin-bottom: 2rem">
						&nbsp;&nbsp;&nbsp;&nbsp; 第十条 省直有关部门按照工作职责，根据任务分工要求，落实责任，制定配套政策，运用行业资源，组织推动脱贫攻坚。省直牵头部门每年初制定年度专项工作计划，定期对牵头工作进行调度，每季度向省扶贫开发领导小组报告牵头工作进展落实情况。</p>
    					<p class="" style="margin-bottom: 2rem">
						&nbsp;&nbsp;&nbsp;&nbsp; 第十一条 市级党委和政府全面贯彻党中央、国务院和省委、省政府关于脱贫攻坚的决策部署，结合本地实际制定脱贫攻坚政策措施。制定本地脱贫攻坚滚动规划和年度计划，并组织实施。负责做好脱贫目标任务落实、扶贫项目实施、扶贫资金管理使用等领域的指导协调和监督检查等工作。</p>
    <p class="" style="margin-bottom: 2rem">
						&nbsp;&nbsp;&nbsp;&nbsp; 第十二条 市级党委和政府应结合本地脱贫攻坚任务需要，科学安排、精准使用财政扶贫资金，加强市级扶贫开发投融资平台建设和管理，确保扶贫投入力度与脱贫攻坚任务相适应。统筹用好对口帮扶、定点扶贫等资源，广泛动员社会力量参与脱贫攻坚。
</p>
					<!-- <p class="enclosure">附件: 发挥交通扶贫脱贫支撑附件.pdf</p> -->
				</div>
				<div class="signature">
					<div class="government">省委办公厅、省政府办公厅</div>
					<div class="time">2017年05月02日&nbsp;&nbsp;&nbsp;&nbsp;</div>
				</div>
			</div>
		</div>
	</div>
