<div class="noticeCon">
		<div class="" style="background-color: #eee;">
			<header>
				<a href="javascript:history.go(-1)"><div class="back"><img src="./assets/img/icon_28.png" alt=""></div></a>
				<div class="collectionTitle">扶贫政策</div>
			</header>
			<div class="fill"></div>
			<div class="noticeList">
				<div class="item" ui-sref="policyDetail">
					<div class="date">2017.05.02</div>
					<div class="content">
						<div class="title">省委办公厅、省政府办公厅印发《河北省脱贫攻坚责任制实施细则》</div>
						<div class="bot">省委办公厅、省政府办公厅</div>
					</div>
				</div>
			</div>
		</div>
	</div>
