<div class="noticeCon">
		<div class="" style="background-color: #eee;">
			<header>
				<a href="javascript:history.go(-1)"><div class="back"><img src="./assets/img/icon_28.png" alt=""></div></a>
				<div class="collectionTitle">公告</div>
			</header>
			<div class="fill"></div>
			<div class="noticeList">
				<div class="item" ui-sref="publicNoticeDetail">
					<div class="date">2017.01.19</div>
					<div class="content">
						<div class="title">2016年脱贫攻坚“十件大事”备选事件征询意见公告</div>
						<div class="bot">全国扶贫宣传教育中心</div>
					</div>
				</div>
				<!-- <div class="item">
					<div class="date">2017.06.08</div>
					<div class="content">
						<div class="title">关于印发《发挥交通扶贫脱贫支撑作用的实施方案》的通知</div>
						<div class="bot">省发展改革委</div>
					</div>
				</div>
				<div class="item">
					<div class="date">2017.06.08</div>
					<div class="content">
						<div class="title">关于印发《发挥交通扶贫脱贫支撑作用的实施方案》的通知</div>
						<div class="bot">省发展改革委</div>
					</div>
				</div>
				<div class="item">
					<div class="content">
						<div class="title">关于印发《发挥交通扶贫脱贫支撑作用的实施方案》的通知</div>
						<div class="bot">省发展改革委</div>
					</div>
				</div>
				<div class="item">
					<div class="content">
						<div class="title">关于印发《发挥交通扶贫脱贫支撑作用的实施方案》的通知</div>
						<div class="bot">省发展改革委</div>
					</div>
				</div>
				<div class="item">
					<div class="content">
						<div class="title">关于印发《发挥交通扶贫脱贫支撑作用的实施方案》的通知</div>
						<div class="bot">省发展改革委</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
