<div class="noticeCon">
		<div class="">
			<header>
				<a href="javascript:history.go(-1)"><div class="back"><img src="./assets/img/icon_28.png" alt=""></div></a>
				<div class="collectionTitle">公告</div>
			</header>
			<div class="fill"></div>
			<div class="noticeDetail">
				<div class="titleCon">
					<div class="title">2016年脱贫攻坚“十件大事”备选事件征询意见公告</div>
					<div class="infoCon">
						<div class="date">2017.01.19</div>
						<div class="bot">全国扶贫宣传教育中心</div>
					</div>
				</div>
				<div class="contentCon">
					<!-- <p class="title" style="margin-bottom: 2rem">各市及扶贫开发重点县扶贫办、机关各处及直属事业单位：</p> -->
					<p class="" style="margin-bottom: 2rem">
						&nbsp;&nbsp;&nbsp;&nbsp;2016年是脱贫攻坚战的开局之年，首战告捷。为进一步动员各方凝心聚力、奋力攻坚，根据国务院扶贫办安排，全国扶贫宣传教育中心组织2016年脱贫攻坚“十件大事”推荐活动。经征求各地各部门意见，现将初步推荐的2016年脱贫攻坚“十件大事”备选事件（12件）公开征询社会各界意见建议。请在12件备选事件中挑选出不多于10件的大事。同时欢迎社会各界提出意见，相关建议可向“十件大事”推荐活动办公室反映，电话：010-84153792，联系地址：北京市朝阳区太阳宫北街1号(100028)，电子信箱：fpxc@cpad.gov.cn。如以书面或电子邮件形式反映情况，须注明真实姓名及联系方式。也可向全国扶贫监督举报电话12317反映（受理时间为工作日上午8:00至12:00，下午13:00至17:00）。
					</p>
					<p style="margin-bottom: 2rem">&nbsp;&nbsp;&nbsp;&nbsp; 意见征询截止时间为2017年02月03日中午12:00。</p>
					<p style="margin-bottom: 2rem">
					&nbsp;&nbsp;&nbsp;&nbsp;投票已结束
					</p>
					
					<!-- <p class="enclosure">附件: 发挥交通扶贫脱贫支撑附件.pdf</p> -->
				</div>
				<div class="signature">
					<div class="government">全国扶贫宣传教育中心</div>
					<div class="time">2017年01月20日&nbsp;&nbsp;&nbsp;&nbsp;</div>
				</div>
			</div>
		</div>
	</div>
