<div class="villageCollection">
		<header>
			<a href="javascript:history.go(-1)">
				<div class="back"><img src="./assets/img/icon_28.png" alt=""></div>
			</a>
			<div class="collectionTitle">贫困村数据查询</div>
		</header>
		<div class="fill"></div>
		<div>
		<!-- 添加task -->
		<div class="taskCon" id="taskCon">
			<div class="listItem">
				<div class="title">
					<img src="./assets/img/ios_line@2X.png" alt="">
					<span class="titles">驻村工作队情况</span>
				</div>
				<div class="item border-b">
					<div class="name">驻村工作队员姓名</div>
					<div class="content">
						<span ng-bind="queryTaskForceDetail.taskForceList.bfdwzcgzdyxm"></span>
					</div>
				</div>
				<div class="item border-b">
					<div class="name">政治面貌</div>
					<div class="content">
						<span ng-bind="queryTaskForceDetail.taskForceList.zzmm"></span>
					</div>
				</div>
				<div class="item border-b">
					<div class="name">证件号码</div>
					<div class="content">
						<span ng-bind="queryTaskForceDetail.taskForceList.zjhm"></span>
					</div>
				</div>
				<div class="item border-b">
					<div class="name">帮扶（派驻）单位名称</div>
					<div class="content">
						<span ng-bind="queryTaskForceDetail.taskForceList.bfdwmc">帮扶</span>
					</div>
				</div>
				<div class="item border-b">
					<div class="name">单位隶属关系</div>
					<div class="content">
						<span ng-bind="queryTaskForceDetail.taskForceList.dwlsgx"></span>
					</div>
				</div>
				<div class="item border-b">
					<div class="name">联系电话</div>
					<div class="content">
						<span ng-bind="queryTaskForceDetail.taskForceList.lxdh"></span>
					</div>
				</div>
				<div class="item border-b">
					<div class="name">驻村开始时间</div>
					<div class="content">
						<span ng-bind="queryTaskForceDetail.taskForceList.zcsjb"></span>
					</div>
				</div>
				<div class="item border-b">
					<div class="name">驻村结束时间</div>
					<div class="content">
						<span ng-bind="queryTaskForceDetail.taskForceList.zcsje"></span>
					</div>
				</div>
				<div class="item border-b">
					<div class="name">是否队长</div>
					<div class="content">
						<span ng-bind="queryTaskForceDetail.taskForceList.sfdz"></span>
					</div>
				</div>
				<div class="item border-b">
					<div class="name">是否第一书记</div>
					<div class="content">
						<span ng-bind="queryTaskForceDetail.taskForceList.sfdysj"></span>
					</div>
				</div>
			</div>

		</div>
		
		</div>
	
	</div>
	<script type="text/javascript" src="./assets/lib/js/jquery.min.js"></script>
	<script>
		$("#tab div").click(function(){
			$(this).addClass('bg').siblings().removeClass('bg');
			$("#"+$(this).attr('data-type')).show().siblings().hide();
		})
	</script>