<div class="queryHouseHoldDetail" style="background: #fff;">
		<div class="container-fluid pkhcj">
			<div class="cheader " style="padding: 0;">
				<div class="pfanhui pull-left" onclick="javascript:history.go(-1)">
					<img src="../../assets/img/icon_28.png" />
				</div>
				<div class="pname text-center ">贫困户数据查询</div>
			</div>
		</div>
<!-- 家庭成员信息 -->
					<section class="cd-section index cd-selected">
						<div class="cd-content villageCollection">
							<div class="pkhcjTitle" id="pkhjbxx">
								<p class="pull-left"></p><span>家庭成员信息</span>
							</div>
							<div class="pkInfoCon border-b">
								<div class="imgCon">
									<img src="../../assets/img/head.png" alt="" style="width:100%;height:100%;">
								</div>
								<div class="info">
									<p><span class="name">王老先生</span><span class="sex">男</span><span class="age">85岁</span></p>
									<p>联系方式: <span class="phone">153123456787</span></p>
									<p>
										<span class="infoName">户主</span>
									</p>
								</div>
							</div>

							<div class="addPerson situation">
								<form action="" method="post">
									
									<div class="item border-b">
										<div class="name">户籍号</div>
										<div class="content">
											<span>1000000</span>
										</div>
									</div>
									<div class="item border-b">
										<div class="name">A1姓名</div>
										<div class="content">
											<span>A1姓名</span>
										</div>
									</div>
									<div class="item border-b">
										<div class="name">A2性别</div>
										<div class="content">
											<span>男</span>
										</div>
									</div>
									<div class="item border-b">
										<div class="name">A2证件号码</div>
										<div class="content">
											<span>1011111111111</span>
										</div>
									</div>
									<div class="item border-b">
										<div class="name">H14年龄</div>
										<div class="content">
											<span>25</span>
										</div>
									</div>
									<div class="item border-b">
										<div class="name">A4与户主关系</div>
										<div class="content">
											<span>配偶</span>
										</div>
									</div>
									<div class="item border-b">
										<div class="name">A5民族</div>
										<div class="content">
											<span>汉族</span>
										</div>
									</div>
									<div class="item border-b">
										<div class="name">A6政治面貌</div>
										<div class="content">
											<span>群众</span>
										</div>
									</div>
									<div class="item border-b">
										<div class="name">A7文化程度</div>
										<div class="content">
											<span>初中</span>
										</div>
									</div>
									<div class="item border-b">
										<div class="name">A8在校生情况</div>
										<div class="content">
											<span>良好</span>
										</div>
									</div>
									<div class="item border-b">
										<div class="name">A9健康状况</div>
										<div class="content">
											<span>良好</span>
										</div>
									</div>
									<div class="item border-b">
										<div class="name">A9健康状况</div>
										<div class="content">
											<span>良好</span>
										</div>
									</div>
									<div class="item border-b">
										<div class="name">A10劳动技能</div>
										<div class="content">
											<span>良好</span>
										</div>
									</div>
									<div class="item border-b">
										<div class="name">A11务工情况</div>
										<div class="content">
											<span>良好</span>
										</div>
									</div>
									<div class="item border-b">
										<div class="name">A12务工时间</div>
										<div class="content">
											<span>良好</span>
										</div>
									</div>
									<div class="item border-b">
										<div class="name">务工地点</div>
										<div class="content">
											<span>地点</span>
										</div>
									</div>
									<div class="item border-b">
										<div class="name">企业名称</div>
										<div class="content">
											<span>企业</span>
										</div>
									</div>
									<div class="item border-b">
										<div class="name">联系电话</div>
										<div class="content">
											<span>0102222222</span>
										</div>
									</div>
									<div class="item border-b">
										<div class="name">A13是否现役军人</div>
										<div class="content">
											<span>是</span>
										</div>
									</div>
									<div class="item border-b">
										<div class="name">A14是否参加大病医疗保险</div>
										<div class="content">
											<span>是</span>
										</div>
									</div>
									<div class="item border-b">
										<div class="name">H1是否参加新型农村合作医疗</div>
										<div class="content">
											<span>否</span>
										</div>
									</div>
									<div class="item border-b">
										<div class="name">H2是否参加城乡居民基本养老保险</div>
										<div class="content">
											<span>是</span>
										</div>
									</div>
									<div class="item border-b">
										<div class="name">H2是否参加城乡居民基本养老保险</div>
										<div class="content">
											<span>否</span>
										</div>
									</div>
									<div class="item border-b">
										<div class="name">H3是否因贫辍学</div>
										<div class="content">
											<span>是</span>
										</div>
									</div>
									<div class="item border-b">
										<div class="name">H4贫困人口类型</div>
										<div class="content">
											<span>否</span>
										</div>
									</div>
									<div class="item border-b">
										<div class="name">H5是否常住人口</div>
										<div class="content">
											<span>是</span>
										</div>
									</div>
									<div class="item border-b">
										<div class="name">H6人员变更</div>
										<div class="content">
											<span>否</span>
										</div>
									</div>
								</form>
							</div>
						</div>
					</section>
					</div>