<style>
	label{
		font-weight: 400 !important;
	}
	.queryRight{
		margin-right: 1.6rem !important;
	}
</style>
<div class="queryHouseHoldDetail" style="background: #fff;">
		<div class="container-fluid pkhcj">
			<div class="cheader " style="padding: 0;">
				<div class="pfanhui pull-left" onclick="javascript:history.go(-1)">
					<img style="width: 3.2rem" src="./assets/img/icon_28.png" />
				</div>
				<div class="pname text-center ">贫困户数据查询</div>
				<div class="panniu cd-nav-trigger " style="width: 2.5rem;margin-top: .5rem;">Menu<span></span></div>
			</div>
		</div>
		<main>
			<section class="cd-section index cd-selected">
				<div class="cd-content">
					<!-- 基本信息 -->
					<div id="pkcjb" class="shows"> 
						<div class="pkhcjTitle" id="pkhjbxx">
							<p class="pull-left"></p><span>基本信息</span>
						</div>
						<div class="pkcMain" >
							<div class="pkInfoCon border-b">
								<div class="imgCon">
									<img src="./assets/img/head.png" alt="" style="width:100%;height:100%;">
								</div>
								<div class="info">
									<p><span class="name" ng-bind="queryHouseholdDetail.list.hzxm"></span><span class="sex" ng-bind="queryHouseholdDetail.list.hzxb"></span><span class="age" ng-bind="queryHouseholdDetail.list.hznl+'岁'"></span></p>
									<p>联系方式: <span class="phone" ng-bind="queryHouseholdDetail.list.lxdh"></span></p>
									<p>
										<span class="infoName">户主</span>
										<span class="time" ng-bind="queryHouseholdDetail.list.nd"></span>
									</p>
								</div>
							</div>
							<div class="pkcList pkcListTel clearfix border-b">
								<label for="pkcxz" class="">镇(乡、苏木)</label>
								<div class="col-xs-5 padd0 queryRight" >
									<span ng-bind="queryHouseholdDetail.list.qyxz"></span>
								</div>
							</div>
							<div class="pkcList pkcListTel clearfix border-b">
								<label class="">行政村</label>
								<div class="col-xs-5 padd0 queryRight" >
									<span ng-bind="queryHouseholdDetail.list.qyxzc"></span>
								</div>
							</div>
							<div class="pkcList pkcListTel clearfix border-b">
								<label class="">自然村(屯)</label>
								<div class="col-xs-5 padd0 queryRight" >
									<span ng-bind="queryHouseholdDetail.list.qyzrc"></span>
								</div>
							</div>
							<!--  <div class="pkcList pkcListTel clearfix">
								<label class="col-xs-4">联系电话</label>
								<div class="col-xs-5 padd0 queryRight" >
									<span>150123456789</span>
								</div>
							</div> -->
							<div class="pkcList pkcListTel clearfix border-b">
								<label class="">开户银行</label>
								<div class="col-xs-5 padd0 queryRight" >
									<span ng-bind="queryHouseholdDetail.list.khyh"></span>
								</div>
							</div>
							<div class="pkcList pkcListTel clearfix border-b">
								<label class="">银行账号</label>
								<div class="col-xs-5 padd0 queryRight" >
									<span ng-bind="queryHouseholdDetail.list.yhzh"></span>
								</div>
							</div>
							<div class="pkcList pkcListTel clearfix border-b">
								<label class="">A18贫困用户属性</label>
								<div class="col-xs-5 padd0 queryRight" >
									<span ng-bind="queryHouseholdDetail.list.bhksx"></span>
								</div>
							</div>
							<div class="pkcList pkcListTel clearfix border-b">
								<label class="">A19是否军烈属</label>
								<div class="col-xs-5 padd0 queryRight" >
									<span ng-bind="queryHouseholdDetail.list.sfjls"></span>
								</div>
							</div>
							<div class="pkcList pkcListTel clearfix border-b">
								<label class="">A20是否独生子女</label>
								<div class="col-xs-5 padd0 queryRight" >
									<span ng-bind="queryHouseholdDetail.list.sfdsznh"></span>
								</div>
							</div>
							<div class="pkcList pkcListTel clearfix border-b">
								<label class="">A21是否双女户</label>
								<div class="col-xs-5 padd0 queryRight" >
									<span ng-bind="queryHouseholdDetail.list.sfsnh"></span>
								</div>
							</div>
							<div class="pkcList pkcListTel clearfix border-b">
								<label class="">A10脱贫状态</label>
								<div class="col-xs-5 padd0 queryRight" >
									<span ng-bind="queryHouseholdDetail.list.tpqk == '02'?'返贫贫困户':queryHouseholdDetail.list.tpqk == '03'?'历史已脱贫贫困户':queryHouseholdDetail.list.tpqk == '04'?'未脱贫贫困户': queryHouseholdDetail.list.tpqk == '05'?'新脱贫贫困户':'无'"></span>
								</div>
							</div>
							<div class="pkcList pkcListTel clearfix">
								<label class="">不脱贫原因:</label>
								
							</div>
							<div style="padding: 1rem 1.6rem 1rem 15px;" ng-bind="queryHouseholdDetail.list.zyzpyy == '01'?'人均纯收入超过扶贫标准，但没有实现两不愁三保障':queryHouseholdDetail.list.zyzpyy == '02'?'虽然享受了扶持政策，但当年扶贫成效不显著':queryHouseholdDetail.list.zyzpyy == '03'?'建档立卡“回头看”后新纳入':queryHouseholdDetail.list.zyzpyy == '04'?'因残致贫无固定收入':queryHouseholdDetail.list.zyzpyy == '05'?'家中有大病、重病病人，正在接受治疗':queryHouseholdDetail.list.zyzpyy == '06'?'因病因学支出明显大于收入':queryHouseholdDetail.list.zyzpyy == '07'?'收入没有稳定超过贫困退出标准':queryHouseholdDetail.list.zyzpyy == '08'?'五保贫困户':queryHouseholdDetail.list.zyzpyy == '09'?'老弱病残等无劳动能力的一类低保对象':queryHouseholdDetail.list.zyzpyy == '10'?'易地搬迁贫困人口没有取得新房钥匙':'无'"></div>
							<!-- <div class="pkcList pkcListTel clearfix padd0  border-b" >
									<span ng-bind="queryHouseholdDetail.list.zyzpyy == '01'?'人均纯收入超过扶贫标准，但没有实现两不愁三保障':queryHouseholdDetail.list.zyzpyy == '02'?'虽然享受了扶持政策，但当年扶贫成效不显著':queryHouseholdDetail.list.zyzpyy == '03'?'建档立卡“回头看”后新纳入':queryHouseholdDetail.list.zyzpyy == '04'?'因残致贫无固定收入':queryHouseholdDetail.list.zyzpyy == '05'?'家中有大病、重病病人，正在接受治疗':queryHouseholdDetail.list.zyzpyy == '06'?'因病因学支出明显大于收入':queryHouseholdDetail.list.zyzpyy == '07'?'收入没有稳定超过贫困退出标准':queryHouseholdDetail.list.zyzpyy == '08'?'五保贫困户':queryHouseholdDetail.list.zyzpyy == '09'?'老弱病残等无劳动能力的一类低保对象':queryHouseholdDetail.list.zyzpyy == '10'?'易地搬迁贫困人口没有取得新房钥匙':'无'"></span>
								</div> -->
						</div>
						<div class="pkhcjTitle">
							<p class="pull-left"></p><span>治贫原因</span>
						</div>
						<div class="pkcList pkcListTel clearfix border-b">
							<label class="">A22主要治贫原因</label>
							<div class="col-xs-5 padd0 queryRight" >
								<span ng-bind="queryHouseholdDetail.list.zyzpyy == '01'?'因病':queryHouseholdDetail.list.zyzpyy == '02'?'因残':queryHouseholdDetail.list.zyzpyy == '03'?'因学':queryHouseholdDetail.list.zyzpyy == '04'?'因灾':queryHouseholdDetail.list.zyzpyy == '05'?'缺土地':queryHouseholdDetail.list.zyzpyy == '06'?'缺水':queryHouseholdDetail.list.zyzpyy == '07'?'缺技术':queryHouseholdDetail.list.zyzpyy == '08'?'缺劳动力':queryHouseholdDetail.list.zyzpyy == '09'?'缺资金':queryHouseholdDetail.list.zyzpyy == '10'?'交通条件落后':queryHouseholdDetail.list.zyzpyy == '11'?'自身发展动力不足':'其他'"></span>
							</div>
						</div>
						<!-- <div class="pkcList pkcListTel clearfix border-b">
							<label class="">其他治贫原因</label>
							<div class="col-xs-5 padd0 queryRight" >
								<span ng-bind="queryHouseholdDetail.list.">交通条件落后</span>
							</div>
						</div> -->
						<div class="pkhcjTitle">
							<p class="pull-left"></p><span>易地搬迁户需求</span>
						</div>
						<div class="pkcList pkcListTel clearfix border-b">
							<label class="">A44 是否搬迁户</label>
							<div class="col-xs-5 padd0 queryRight" >
								<span ng-bind="queryHouseholdDetail.list.sfbqh == 'y'?'是':'否'"></span>
							</div>
						</div>
						<div class="pkcList pkcListTel clearfix border-b">
							<label class="">A45 搬迁方式</label>
							<div class="col-xs-5 padd0 queryRight" >
								<span ng-bind="queryHouseholdDetail.list.bqfs == '01'?'行政区整体搬迁':queryHouseholdDetail.list.bqfs == '02'?'自然村（村民小组）整体搬迁':queryHouseholdDetail.list.bqfs == '03'?'建档立卡贫困户个别搬迁':'无'"></span>
							</div>
						</div>
						<div class="pkcList pkcListTel clearfix border-b">
							<label class="">A47 安置方式</label>
							<div class="col-xs-5 padd0 queryRight" >
								<span ng-bind="queryHouseholdDetail.list.azfs == 'jz'?'集中安置':queryHouseholdDetail.list.azfs == 'fs'?'分散安置':'无'"></span>
							</div>
						</div>
						<div class="pkcList pkcListTel clearfix border-b">
							<label class="">A48 安置地</label>
							<div class="col-xs-5 padd0 queryRight" >
								<span ng-bind="queryHouseholdDetail.list.azd == 'a'?'县城安置':queryHouseholdDetail.list.azd == 'b'?'乡镇安置':queryHouseholdDetail.list.azd == 'c'?'县外安置':queryHouseholdDetail.list.azd == 'd'?'村外安置':queryHouseholdDetail.list.azd == 'e'?'村内安置':'无'"></span>
							</div>
						</div>
						<div class="pkcList pkcListTel clearfix border-b">
							<label class="">A49 搬迁可能存在的困难</label>
							<div class="col-xs-5 padd0 queryRight" >
								<span ng-bind="queryHouseholdDetail.list.bqknczkn_qfzj == 'Y'?'缺乏资金':''"></span>
								<span ng-bind="queryHouseholdDetail.list.bqknczkn_bqhzbdgz == 'Y'?'搬迁后找不到工作':''"></span>
								<span ng-bind="queryHouseholdDetail.list.bqknczkn_bqhshmzl == 'Y'?'搬迁后生活没着落':''"></span>
								<span ng-bind="queryHouseholdDetail.list.bqknczkn_qt == 'Y'?'其他':''"></span>
							</div>
						</div>
						<!-- <div class="pkcList pkcListTel clearfix border-b">
							<label class="">搬迁去向</label>
							<div class="col-xs-5 padd0 queryRight" >
								<span>县城安县城安置县城安置县城安置县城安置置</span>
							</div>
						</div>
						<div class="pkcList pkcListTel clearfix border-b">
							<label class="">后续产业</label>
							<div class="col-xs-5 padd0 queryRight" >
								<span>清华大学校区清华大学校区清华大学校区</span>
							</div>
						</div> -->
					</div> 
					<!-- 家庭成员信息 -->
					<section id="family" class="cd-section index cd-selected">
						<div class="cd-content villageCollection">
							<div class="pkhcjTitle" id="pkhjbxx">
								<p class="pull-left"></p><span>家庭成员信息</span>
							</div>
							<!-- <div class="pkInfoCon border-b">
								<div class="imgCon">
									<img src="./assets/img/head.png" alt="" style="width:100%;height:100%;">
								</div>
								<div class="info">
									<p><span class="name">王老先生</span><span class="sex">男</span><span class="age">85岁</span></p>
									<p>联系方式: <span class="phone">153123456787</span></p>
									<p>
										<span class="infoName">户主</span>
									</p>
								</div>
							</div> -->
							<!-- <div class="pkInfoCon border-b">
								<div class="imgCon">
									<img src="./assets/img/head.png" alt="" style="width:100%;height:100%;">
								</div>
								<div class="info">
									<p><span class="name">王老先生</span><span class="sex">男</span><span class="age">85岁</span></p>
									<p>联系方式: <span class="phone">153123456787</span></p>
									<p>
										<span class="infoName">户主</span>
									</p>
								</div>
							</div> -->
							<div class="pkInfoCon border-b" ng-repeat="item in queryHouseholdDetail.getLowFamilyList">
								<div class="imgCon">
									<img src="./assets/img/head.png" alt="" style="width:100%;height:100%;">
								</div>
								<div class="info">
									<p><span class="name" ng-bind="item.xm"></span><span class="sex" ng-bind="item.xb"></span><span class="age" ng-bind="item.nl+'岁'"></span></p>
									<p>联系方式: <span class="phone" ng-bind="item.lxdh"></span></p>
									<p>
										<span class="infoName" ng-bind="item.yhzgx"></span>
									</p>
								</div>
							</div>
						</div>
					</section>

						<!-- 收入情况 -->
						<section id="income" class="cd-section index cd-selected">
							<div class="cd-content villageCollection">
								<div class="pkhcjTitle" id="pkhjbxx">
									<p class="pull-left"></p><span>收入情况</span>
								</div>
								<div class="addPerson situation">
									<form action="" method="post">
										<div class="item border-b">
											<div class="name">A39工资性收入（元）</div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.gzxsr"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A40 生产经营性收入（元）</div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.scjyxsr"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A41 财产性收入（元） </div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.ccxsr"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A42 转移性收入（元）</div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.zyxsr"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A42a 计划生育金（元）</div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.jhsyj"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A42b 低保金（元）</div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.dbj"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A42c 五保金（元）</div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.wbj"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A42d 养老保险金（元）</div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.ylbzj"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A42e 生态补偿金（元）</div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.stbcj"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A42f 其他转移性收入（元）</div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.qtzyxsr"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">H6 家庭实物折算款</div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.jtswzsk"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">H7 人均纯收入（元）</div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.rjcsr"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A43 生产经营性支出（元）</div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.scjyxzc"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A43a 家庭经营费用支出（元） </div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.jtjyfyzc"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A43b税费支出（元） </div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.sfzc"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A43c 其他生产经营性支出（元）</div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.qtscjyxzc"></span>
											</div>
										</div>
									</form>
								</div>
							</div>
						</section>
						<!-- 生产生活状况-->
						<section id="production" class="cd-section index cd-selected">
							<div class="cd-content villageCollection">
								<div class="pkhcjTitle" id="pkhjbxx">
									<p class="pull-left"></p><span>生产生活条件</span>
								</div>
								<div class="addPerson situation">
									<form action="" method="post">
										<div class="item border-b">
											<div class="name">A24 耕地面积（亩）</div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.gdmj"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A24a 有效灌溉面积（亩）</div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.yxgkmj"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A25 林地面积（亩） </div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.ldmj"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A25a 退耕还林面积(亩) </div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.tghlmj"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A25b 林果面积（亩）</div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.lgmj"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A26 牧草地面积（亩）</div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.mcdmj"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A27 水面面积（亩）</div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.smmj"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A28 是否通生产用电</div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.sftscyd"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A29 与村主干路距离（公里）</div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.yczgljl"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A30 入户路类型</div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.rhllx"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A31 住房面积（平方米）</div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.zfmj"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A32 是否通生活用电</div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.sftshyd"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A33 饮水是否困难 </div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.yssfkn"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A34 饮水是否安全 </div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.yssfaq"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A35 主要燃料类型 </div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.zyrllx"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A36 是否加入农民专业合作社</div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.sfjrnmzyhzs"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">A37 有无卫生厕所</div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.ywwscs"></span>
											</div>
										</div>
									</form>
								</div>
							</div>
						</section>
						<!-- 帮扶责任人 -->
						<section id="help" class="cd-section index cd-selected">
							<div class="cd-content villageCollection">
								<div class="pkhcjTitle" id="pkhjbxx">
									<p class="pull-left"></p><span>帮扶责任人</span>
								</div>
								<table class="table table-striped">
									<thead>
										<tr>
											<td class="text-center">姓名</td>
											<td class="text-center">性别</td>
											<td class="text-center">帮扶开始时间</td>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in queryHouseholdDetail.bfdxList">
											<td class="text-center" ng-bind="item.xm"></td>
											<td class="text-center" ng-bind="item.xb"></td>
											<td class="text-center" ng-bind="item.kssj"></td>
										</tr>
									</tbody>
								</table>

								
						</section>
						<!-- 扶贫成效 -->
						<section id="results" class="cd-section index cd-selected">
							<div class="cd-content villageCollection">
								<div class="pkhcjTitle" id="pkhjbxx">
									<p class="pull-left"></p><span>扶贫成效</span>
								</div>

								<div class="situation">
									<form action="" method="post">
										<div class="item border-b">
											<div class="name">F1 就业帮扶金（元）</div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.fjybfj"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">F2 低保金（元） </div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.fdbj"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">F3 五保金（元） </div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.fwbj"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">F4 养老金（元） </div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.fylj"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">F5 危房改造补贴（元） </div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.fwfgzbt"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">F6 教育补贴（元） </div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.fjybt"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">F7 基本医保报销（元） </div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.fjbylbx"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">F8 大病保险报销（元） </div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.fdbbxbx"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">F9 医疗救助（元） </div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.fyljz"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">F10 双女户补贴（元） </div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.fsnhbt"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">F11 粮食综合直补（元） </div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.flszhzb"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">F12 退耕还林补贴（元） </div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.ftghlbt"></span>
											</div>
										</div>
										<div class="item border-b">
											<div class="name">F13 草原奖补（元） </div>
											<div class="content">
												<span ng-bind="queryHouseholdDetail.list.fcyjb"></span>
											</div>
										</div>
									</form>
								</div>
							</div>
						</section>
						<!-- 项目成效 -->
							<!-- <div class="effectiveness" id="effectiveness">
							<div class="projectCon">
								<div class="projectItem">
									<div class="projectNum">
										<span class="num">10004</span><br>
										<span>NUMBER</span>
									</div>
									<div class="projectTitle">
										<div class="name">下八角地膜玉米项目信息</div>
										<div class="profit">项目收益: <span>￥100000</span></div>
									</div>
								</div>
								<div class="projectItem">
									<div class="projectNum">
										<span class="num">10004</span><br>
										<span>NUMBER</span>
									</div>
									<div class="projectTitle">
										<div class="name">下八角地膜玉米项目信息</div>
										<div class="profit">项目收益: <span>￥100000</span></div>
									</div>
								</div>
								<div class="projectItem">
									<div class="projectNum">
										<span class="num">10004</span><br>
										<span>NUMBER</span>
									</div>
									<div class="projectTitle">
										<div class="name">下八角地膜玉米项目信息</div>
										<div class="profit">项目收益: <span>￥100000</span></div>
									</div>
								</div>
								<div class="projectItem">
									<div class="projectNum">
										<span class="num">10004</span><br>
										<span>NUMBER</span>
									</div>
									<div class="projectTitle">
										<div class="name">下八角地膜玉米项目信息</div>
										<div class="profit">项目收益: <span>￥100000</span></div>
									</div>
								</div>
								<div class="projectItem">
									<div class="projectNum">
										<span class="num">10004</span><br>
										<span>NUMBER</span>
									</div>
									<div class="projectTitle">
										<div class="name">下八角地膜玉米项目信息</div>
										<div class="profit">项目收益: <span>￥100000</span></div>
									</div>
								</div>
							</div>
						</div> -->
						<!--  -->
				</div>
			</section>
		</main>
		<!-- 导航部分 -->
		<nav class="cd-nav-container" id="cd-nav">
			<header class="menuHeader">
				<a href="#0" class="cd-close-nav" style="width: 2.5rem;height:auto">Close</a>
			</header>
			<div class="navList" id="navList">
				<div class="navListItem" data-type="pkcjb">
					<img src="./assets/img/icon_07.png"><span>基本信息</span>
				 </div>
				<div class="navListItem" data-type="family">
					<img src="./assets/img/icon_10.png"><span>家庭成员信息</span>
				</div>
				<!-- <div class="navListItem" data-type="eliminate">
					<img src="./assets/img/icon_12.png"><span>致贫原因</span>
				</div> -->
				<div class="navListItem" data-type="income">
					<img src="./assets/img/icon_14.png"><span>收入情况</span>
				</div>
				<div class="navListItem" data-type="production">
					<img src="./assets/img/icon_16.png"><span>生产生活条件</span>
				</div>
				<!-- <div class="navListItem" data-type="elsewhere">
					<img src="./assets/img/icon_18.png"><span>异地搬迁户需求</span>
				</div> -->
				<div class="navListItem" data-type="help">
					<img src="./assets/img/icon_20.png"><span>帮扶责任人</span>
				</div>
				<div class="navListItem" data-type="results">
					<img src="./assets/img/icon_22.png"><span>扶贫成效</span>
				</div>
				<!-- <div class="navListItem" data-type="effectiveness">
					<img src="./assets/img/icon_22.png"><span>项目成效</span>
				</div> -->
			</div>

			</nav>
			
			<div class="cd-overlay">
				<!-- shadow layer visible when navigation is visible -->
			</div>
			<script type="text/javascript" src="./assets/lib/js/modernizr.js"></script>
			<script>
			jQuery(document).ready(function($){
	//open navigation clicking the menu icon
	$('.cd-nav-trigger').on('click', function(event){
		event.preventDefault();
		toggleNav(true);
	});
	//close the navigation
	$('.cd-close-nav, .cd-overlay').on('click', function(event){
		event.preventDefault();
		toggleNav(false);
	});
	//select a new section
	$('.cd-nav li').on('click', function(event){
		event.preventDefault();
		var target = $(this),
			//detect which section user has chosen
			sectionTarget = target.data('menu');
		if( !target.hasClass('cd-selected') ) {
			//if user has selected a section different from the one alredy visible
			//update the navigation -> assign the .cd-selected class to the selected item
			target.addClass('cd-selected').siblings('.cd-selected').removeClass('cd-selected');
			//load the new section
			loadNewContent(sectionTarget);
		} else {
			// otherwise close navigation
			toggleNav(false);
		}
	});

	function toggleNav(bool) {
		$('.cd-nav-container, .cd-overlay').toggleClass('is-visible', bool);
		$('main').toggleClass('scale-down', bool);
	}

	function loadNewContent(newSection) {
		//create a new section element and insert it into the DOM
		var section = $('<section class="cd-section '+newSection+'"></section>').appendTo($('main'));
		//load the new content from the proper html file
		section.load(newSection+'.html .cd-section > *', function(event){
			//add the .cd-selected to the new section element -> it will cover the old one
			section.addClass('cd-selected').on('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
				//close navigation
				toggleNav(false);
			});
			section.prev('.cd-selected').removeClass('cd-selected');
		});

		$('main').on('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
			//once the navigation is closed, remove the old section from the DOM
			section.prev('.cd-section').remove();
		});

		if( $('.no-csstransitions').length > 0 ) {
			//if browser doesn't support transitions - don't wait but close navigation and remove old item
			toggleNav(false);
			section.prev('.cd-section').remove();
		}
	}
});
				$("#navList .navListItem").click(function(){
					$(".scale-down").removeClass("scale-down")
					$(".cd-nav-container").removeClass("is-visible")
					$(".cd-overlay").removeClass("is-visible")
					$("#"+$(this).attr("data-type")).addClass("shows").siblings().removeClass("shows")
				})
				function queryHelp(){
					location.href="queryHelp.html"
				}
			</script>
	</div>