<div class="">
		<header>
			<a href="javascript:history.go(-1)"><div class="back"><img src="./assets/img/icon_28.png" alt=""></div></a>
			<div class="collectionTitle">贫困村数据查询</div>
		</header>
		<div class="fill"></div>
		<div class="droploadTable">
			<table class="table table-striped" style="margin-top: 5.2rem">
				<thead>
					<tr>
						<td class="text-center">乡镇</td>
						<td class="text-center">村</td>
						<td class="text-center">村负责人</td>
						<td class="text-center">贫困户属性</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-hide="queryVillageList.noDataType" ng-repeat="item in queryVillageList.list" ui-sref="queryVillageDetail({detailId:item.id})">
						<td class="text-center" ng-bind="item.qyxz"></td>
						<td class="text-center" ng-bind="item.qyxzc"></td>
						<td class="text-center" ng-bind="item.cfzr"></td>
						<td class="text-center" ng-bind="item.pkcsx"></td>
					</tr>
					<tr ng-show="queryVillageList.noDataType">
						<td style="text-align: center;" colspan="4" ng-bind="queryVillageList.noDataName"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<script src="./assets/lib/js/dropload.min.js" type="text/javascript"></script>
	</div>
