<div class="">
		<header>
			<a href="javascript:history.go(-1)"><div class="back"><img src="./assets/img/icon_28.png" alt=""></div></a>
			<div class="collectionTitle">贫困村信息采集</div>
		</header>
		<div class="fill"></div>
		<table class="table table-striped" style="margin-top: 5.2rem">
			<thead>
				<tr>
					<td class="text-center">乡镇</td>
					<td class="text-center">村</td>
					<td class="text-center">村负责人</td>
					<td class="text-center">贫困户属性</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in villageDraft.list" ui-sref="draftVillageCollection({draftId:item.index_id})">
					<td class="text-center" ng-bind="item.qyxzName"></td>
					<td class="text-center" ng-bind="item.qyxzcName"></td>
					<td class="text-center" ng-bind="item.data.cfzr"></td>
					<td class="text-center" ng-bind="item.data.pkcsx == '01'?'贫困村':item.data.pkcsx == '02'?'十二五贫困村':item.data.pkcsx == '03'?'十三五贫困村':'非贫困村'"></td>
				</tr>
				<!-- <tr ng-show="villageDraft.noDataType">
					<td style="text-align: center;" colspan="4">暂无数据</td>
				</tr>  -->
			</tbody>
		</table>
	</div>
