<div class="bodyCon">
		<div class="workCon">
			<header>
				<a href="javascript:history.go(-1)"><div class="back"><img src="../../assets/img/icon_28.png" alt=""></div></a>
				<div class="collectionTitle">工作日志</div>
				<div class="fillIn">填写</div>
			</header>
			<div class="fill"></div>
			<div class="workList">
			<a href="workLogDetail.html">
				<div class="workItem">
					<div class="title">
						<div class="time">2017.02.03</div>
						<div class="name">王科长</div>
						<div class="address">张北镇-盘常营村</div>
					</div>
					<div class="content">
						到村开展进一步打捞精准扶贫工作，入户摸底贫困户。入户进一步了解农户生产生活现状。帮助王小明家联系买化肥。化肥化肥化肥化肥化肥化肥化肥化肥化肥化肥化肥化肥。
					</div>
				</div></a>

				<div class="workItem">
					<div class="title">
						<div class="time">2017.02.03</div>
						<div class="name">王科长</div>
						<div class="address">张北镇-盘常营村</div>
					</div>
					<div class="content">
						到村开展进一步打捞精准扶贫工作，入户摸底贫困户。入户进一步了解农户生产生活现状。帮助王小明家联系买化肥。化肥化肥化肥化肥化肥化肥化肥化肥化肥化肥化肥化肥。
					</div>
				</div>

				<div class="workItem">
					<div class="title">
						<div class="time">2017.02.03</div>
						<div class="name">王科长</div>
						<div class="address">张北镇-盘常营村</div>
					</div>
					<div class="content">
						到村开展进一步打捞精准扶贫工作，入户摸底贫困户。入户进一步了解农户生产生活现状。帮助王小明家联系买化肥。化肥化肥化肥化肥化肥化肥化肥化肥化肥化肥化肥化肥。
					</div>
				</div>

				<div class="workItem">
					<div class="title">
						<div class="time">2017.02.03</div>
						<div class="name">王科长</div>
						<div class="address">张北镇-盘常营村</div>
					</div>
					<div class="content">
						到村开展进一步打捞精准扶贫工作，入户摸底贫困户。入户进一步了解农户生产生活现状。帮助王小明家联系买化肥。化肥化肥化肥化肥化肥化肥化肥化肥化肥化肥化肥化肥。
					</div>
				</div>

				<div class="workItem">
					<div class="title">
						<div class="time">2017.02.03</div>
						<div class="name">王科长</div>
						<div class="address">张北镇-盘常营村</div>
					</div>
					<div class="content">
						到村开展进一步打捞精准扶贫工作，入户摸底贫困户。入户进一步了解农户生产生活现状。帮助王小明家联系买化肥。化肥化肥化肥化肥化肥化肥化肥化肥化肥化肥化肥化肥。
					</div>
				</div>

				<div class="workItem">
					<div class="title">
						<div class="time">2017.02.03</div>
						<div class="name">王科长</div>
						<div class="address">张北镇-盘常营村</div>
					</div>
					<div class="content">
						到村开展进一步打捞精准扶贫工作，入户摸底贫困户。入户进一步了解农户生产生活现状。帮助王小明家联系买化肥。化肥化肥化肥化肥化肥化肥化肥化肥化肥化肥化肥化肥。
					</div>
				</div>
			</div>
		</div>
	</div>
