<div class="bodyCon" style="background: #fff">
		<div class="workCon">
			<header>
				<a href="javascript:history.go(-1)"><div class="back"><img src="./assets/img/icon_28.png" alt=""></div></a>
				<div class="collectionTitle">工作日志</div>
				<!-- <div class="fillIn">填写</div> -->
			</header>
			<div class="fill"></div>
			<div class="workList">
				<div class="workItem" ng-repeat="item in workLog.sendParam" ui-sref="workLogDetail({idx:$index})">
					<div class="title">
						<div class="time" ng-bind="item.time"></div>
						<div class="name" ng-bind="item.name"></div>
						<div class="address" ng-bind="item.address"></div>
					</div>
					<div class="content" ng-bind="item.content">
					</div>
				</div>
			</div>
		</div>
	</div>
