<div class="bodyCon" style="background-color: #fff; ">
		<div class="workCon" style="background-color: #fff; ">
			<header>
				<a href="javascript:history.go(-1)"><div class="back"><img src="./assets/img/icon_28.png" alt=""></div></a>
				<div class="collectionTitle">工作日志</div>
				<!-- <div class="fillIn">修改</div> -->
			</header>
			<div class="fill"></div>
			<div class="workDetail">
				<div class="detailTitle">
					<img src="" alt="">
					<span class="name" ng-bind="workLogDetail.detail.name"></span>
					<div class="infoCon">
						<span ng-bind="workLogDetail.detail.time"></span><br>
						<span ng-bind="workLogDetail.detail.address"></span>
					</div>
				</div>
				<div id="workLogDetailContent">
					
				</div>
			</div>
		</div>
	</div>
