<div class="chatbox">
	<div class="container chat-contrainer">
		<div class="chat-side">
			<div class="me-info">
				<div class="me-head pull-left">
					<img class="media-object" src="../../assets/img/53f44283a4347.jpg" alt="...">
					<span>黑猫</span>
				</div>
				<div class="operation pull-right">
					<div class="dropdown dropdown-directive">
						<div class="dropdown-toggle">
							<span class="glyphicon glyphicon-align-justify"></span>
							<span class="caret"></span>
						</div>
						<ul class="dropdown-menu">
							<li>
								取消声音
							</li>
							<li role="separator" class="divider"></li>
							<li>
								一键反馈
							</li>
							<li role="separator" class="divider"></li>
							<li>
								同步聊天记录
							</li>
							<li role="separator" class="divider"></li>
							<li ng-click="baseInfo.loginOut()">
								退出
							</li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="search">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
					<input type="text" class="form-control" placeholder="搜索">
				</div>
			</div>
			<div class="tabBox">
				<div class="tab-content tab-directive">
					<ul class="nav-tab">
						<li class="active">
							<a href="javascript:void(0)">群</a>
						</li>
						<li>
							<a href="javascript:void(0)">灵兰</a>
						</li>
						<li>
							<a href="javascript:void(0)">医生列表</a>
						</li>
					</ul>
					<div class="tab-pane active">
						<div class="crowd-one pull-left">
							<ul class="list-group" ng-if='baseInfo.userInfo.grouplist.doctorList'>
								<li class="list-group-item {{item.cked?'active':''}}" ng-repeat="item in baseInfo.userInfo.grouplist.doctorList" ng-click="baseInfo.userInfo.grouplist.changedoctor(item)">
									<span ng-bind="item.name">貂蝉</span><span class="badge" ng-if="item.count!=0" ng-bind="item.count">1</span> </li>
							</ul>
						</div>
						
						<div class="crowd-two pull-right">
							<ul class="list-group" ng-if="!baseInfo.userInfo.sysSet.showHead">
								<li class="list-group-item {{item.cked?'active':''}}" ng-repeat="item in baseInfo.userInfo.grouplist.patientList" ng-click="baseInfo.userInfo.grouplist.changepatient()">
									<span ng-bind="item.patient.name">貂蝉</span>
									<span class="badge" ng-if="item.count!=0" ng-bind="item.count">14</span></li>
							</ul>
							<div ng-if="baseInfo.userInfo.sysSet.showHead" class="media {{item.cked?'active':''}}" ng-repeat="item in baseInfo.userInfo.grouplist.patientList" ng-click="baseInfo.userInfo.grouplist.changepatient(item)">
								<div class="media-left media-middle">
									<a href="javascript:void(0)">
										<img class="media-object" src="../../assets/img/53f44283a4347.jpg" alt="...">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading" ng-bind="item.patient.name">黑猫</h4>
									<p ng-bind="item.patient.newMsg">消息超出文本自动隐藏多余的内容</p>
								</div>
								<span class="badge" ng-if="item.count!=0" ng-bind="item.count">42</span>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="tab-pane">
						<div class="media active">
							<div class="media-left media-middle">
								<a href="javascript:void(0)">
									<img class="media-object" src="../../assets/img/53f44283a4347.jpg" alt="...">
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading">黑猫</h4>
								<p>消息超出文本自动隐藏多余的内容</p>
							</div>
							<span class="badge">42</span>
						</div>
						<div class="media">
							<div class="media-left media-middle">
								<a href="javascript:void(0)">
									<img class="media-object" src="../../assets/img/53f44283a4347.jpg" alt="...">
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading">黑猫</h4>
								<p>消息记录消息记录消息</p>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="doctor">
						没有
					</div>
				</div>
			</div>
		</div>

		<div class="chat-window" record-directive>
			<div class="chatView">
				<div class="chat-title">
					<div class="dropdown dropdown-directive">
						<div class="dropdown-toggle">
							成员
							<span class="caret"></span>
						</div>
						<ul class="dropdown-menu">
							<li>
								<div class="media">
									<div class="media-left media-middle">
										<a href="javascript:void(0)">
											<img class="media-object" src="../../assets/img/53f44283a4347.jpg" alt="...">
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">貂蝉</h4>
									</div>
								</div>
							</li>
							<li>
								<div class="media">
									<div class="media-left media-middle">
										<a href="javascript:void(0)">
											<img class="media-object" src="../../assets/img/53f44283a4347.jpg" alt="...">
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">吕布</h4>
									</div>
								</div>
							</li>
							<li>
								<div class="media">
									<div class="media-left media-middle">
										<a href="javascript:void(0)">
											<img class="media-object" src="../../assets/img/53f44283a4347.jpg" alt="...">
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">妲己</h4>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="chat-box">
					<div class="he-group">
						<img class="head-img" src="../../assets/img/53f44283a4347.jpg" />
						<div class="msg">
							<div class="baseInfo">貂蝉&nbsp;&nbsp;<time class="time">2017-02-04 12:02:
							05</time></div>
							<pre class="cont">貂蝉发话了貂蝉发话了貂蝉发话了貂蝉发话了貂蝉发话了貂蝉发话了</pre>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="me-group">
						<img class="head-img" src="../../assets/img/53f44283a4347.jpg" />
						<div class="msg">
							<div class="baseInfo">貂蝉&nbsp;&nbsp;<time class="time">2017-02-04 12:02:
							05</time></div>
							<pre class="cont">貂蝉发话了貂蝉发话了貂蝉发话了貂蝉发话了貂蝉发话了貂蝉发话了貂蝉发话了貂蝉发话了
								貂蝉发话了貂蝉发话了貂蝉发话了貂蝉发话了貂蝉发话了貂蝉发话了貂蝉发话了貂蝉发话了貂蝉发话了貂蝉发话了</pre>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="he-group">
						<img class="head-img" src="../../assets/img/53f44283a4347.jpg" />
						<div class="msg">
							<div class="baseInfo">貂蝉&nbsp;&nbsp;<time class="time">2017-02-04 12:02:
							05</time></div>
							<pre class="cont"><img src="../../assets/img/expression/1003.gif"/></pre>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="chat-tool">
					<div class="icon">
						<i class="glyphicon glyphicon-picture"></i>
						<input type="file" />
					</div>
					<div class="icon">
						<div class="sendMsg_icon">
							<ul class="sendNote">
								<li>医生您好,您有新患者请求得到您的帮助！
									<a href="">发送短信</a>
								</li>
								<li>医生您好,您有新患者请求得到您的帮助！
									<a href="">发送短信</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="icon">
						<div class="sendMsg_icon patient">
							<ul class="sendNote">
								<li>医生您好,您有新患者请求得到您的帮助！
									<a href="">发送短信</a>
								</li>
								<li>医生您好,您有新患者请求得到您的帮助！
									<a href="">发送短信</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="icon">
						<i>✂</i>
					</div>
					<div class="icon pull-right">
						<span class="RecordBtn">聊天记录</span>
					</div>
				</div>
				<div class="chat-input">
					<textarea name="" rows="" cols="" draggable="false" placeholder="ctrl+enter发送"></textarea>
					<div class="chat-operation">
						<button ng-click="baseInfo.sendMsg()">发送</button>
					</div>
				</div>
			</div>
			<div class="chatRecord">
				<div class="recordTitle">
					聊天记录
				</div>
				<div class="recordCont">
					<div class="he-group">
						<img class="head-img" src="../../assets/img/53f44283a4347.jpg" />
						<div class="msg">
							<div class="baseInfo">貂蝉&nbsp;&nbsp;<time class="time">2017-02-04 12:02:
							05</time></div>
							<pre class="cont">貂蝉发话了貂蝉发话了貂蝉发话了貂蝉发话了貂蝉发话了貂蝉发话了</pre>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="me-group">
						<img class="head-img" src="../../assets/img/53f44283a4347.jpg" />
						<div class="msg">
							<div class="baseInfo">貂蝉&nbsp;&nbsp;<time class="time">2017-02-04 12:02:
							05</time></div>
							<pre class="cont">貂蝉发话了貂蝉发话了貂蝉发话了貂蝉发话了貂蝉发话了貂蝉发话了</pre>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="recordPage">1</div>
			</div>
		</div>
	</div>
</div>