/*首页*/
html {
   font-size: 62.5%;
   /*10 ÷ 16 × 100% = 62.5%*/
   font-family: "微软雅黑";
   height: 100%;
}
body{
	height: 100%;
}
ul li{
	list-style: none;
}
.smain{
	width: 100%;
	height: 100%;
	padding: 0;
	background: #f5f5f5;
}
.sheader{
	width:100%;
	height: 4.5rem;
	line-height: 4.5rem;
	background-color: #ea3c4c;
	font-size:1.8rem ;
	color: #fff;
}
.banner{
	padding: 0;
}
.sbanner{
	width: 100%;
	height: 30.5rem;
	background: url(../../assets/img/bg1.jpg) #fff;
	background-size:100%;
	background-origin:content-box; 
	background-position: bottom;
	background-repeat: no-repeat;
}
.bannerTex{
	font-size: 3rem;
	color: #000;
	margin-top:2.8rem ;
}
.bannerTex span{
	font-size: 1.8rem;
}
.slist{
	width: 100%;
	margin-top: 1rem;
	background-color: #f5f5f5;
	padding-bottom: 1rem;
}
.sItem{
	height: 6.5rem;
	background: #fff;
	font-size: 1.6rem;
	line-height: 6.5rem;
	margin-top: 0.5rem;
	border-radius: 0.5rem;
	background-image: url(../img/unfold@3x.png);
	background-position: right  7px center;
	background-repeat: no-repeat;
	background-size: 1.8rem 1.8rem;
}
.sItem img{
	width: 2.8rem;
	height: 2.8rem;
	margin-left: 1.5rem;
}
.sItem span{
	padding-left: 1.5rem;
}
/*贫困用户信息采集*/
.pkhcj{
	padding: 0;
	height: 4.5rem;
	line-height: 4.5rem;
	overflow: hidden;

}
.cheader{
	width:100%;
	height: 4.5rem;
	line-height: 4.5rem;
	background-color: #ea3c4c;
	font-size:1.8rem ;
	color: #fff;
	position: fixed;
	top:0; left: 0;
	z-index: 10
}
.cheader img{
	width: 4.75rem;
	width: 4.75rem;
}
.cheaderMain{
	width: 100%;
	padding: 0;
	text-align: center;
	color: #fff;
}
.navs{
	border: 1px solid #000;
	padding: 0;
}
.pfanhui{
	width: 10%;
	float: left;
}
.panniu{
	width: 10%;
	float: right;
}
.pname{
	width: 80%;
	float: left;
	color: #fff;
}
.navList img{
	width: 3.16rem;
	height:3.16rem;
	margin-left:2.8rem 
}
.navListItem a{
	color: #000;
	font-size: 1.4rem;
}
.navListItem a:hover{
	text-decoration: none;
}
.navListItem{
	margin-top:1.6rem; 
}
.navListItem span{
	margin-left:1rem 
}
.menuHeader{
    background: #fff !important;
}
/*基本信息*/
.pkhcjTitle{
	width: 100%;
	height: 4rem;
	line-height: 4rem;
	background: #eeeeee;
	font-size: 1.53rem
}
.pkhcjTitle p{
	margin-top:1rem; 
	margin-left:1.6rem; 
	width: 0.3rem;
	height: 2.2rem;
	background: #eb3c4d
}
.pkhcjTitle span{
	margin-left:0.8rem 

}
.pkcList{
	border-bottom: 1px solid #bbbbbb;
	padding: 0;
	height: 5.1rem;
	line-height: 5.1rem;
}
.padd0{
	padding: 0;
}
.pkcList input{
	height: 3rem;
	line-height: 3rem;
	text-align: right;
	border: none;
	padding: 0;
	
}
.pkcRight{
	float: right;
	margin-right: 5.5rem;
}
.pkcList lable{
	font-size: 1.33rem;
	color: #000;
	padding-left: 20px;
}
.pkcList{
	overflow: hidden;
	width: 100%;
	background-image: url(../img/icon_32.png);
	background-position: right  0rem center;
	background-repeat: no-repeat;
	background-size: 4rem 4rem;
}
.pkcListTel{
	overflow: hidden;
	width: 100%;
	background-image: none !important;
}
.pkctips{
	font-size: 1.2rem;
	color: #ea3c4c;
	margin-top: 1.1rem;
	padding-left:1rem ;
	margin-bottom: 5rem;
}
.btnpkc{
	width: 100%;
	height: 3.6rem;
	background:#ea3c4c ;
	border-radius: 0;
	font-size: 1.53rem;
	color: #fff;
	margin-top: 1rem;
}
.navbar-fixed-bottom{
	z-index: 4;
}
.pkcList select{
	margin-top: 10px;
	direction: rtl;
	float: right; 
	position: relative;
	top: 0;
	left: 2.8rem;
	border: none;
	background: none;
	box-shadow: none;
}
.pkcList select:hover{
	border:none;box-shadow:none;
}
//致贫原因
.zpyyTitlecrap{
    width: 100%;
     overflow: hidden;
}
.zpyyTitle{
    width: 96%;
    height: 5.1rem;
    line-height: 5.1rem;
    border-bottom:1px solid #bbbbbb ;
    font-size: 1.33rem;
    color: #444;
    float: right;
  
    span{
        color: #666;
    }
}

#zpyy{
    .zpyyMain{
        width: 96%;
        margin: 0 auto;
        overflow: hidden;
        .zpyyItem{
            height: 3rem;
            line-height: 0.4rem;
            width: auto;
            padding: 1.6rem;
            float: left;
            margin: 0.6rem;
            border: 1px solid #ea3d4c;
            border-radius: 2rem;
            margin-top: 1rem;
            color: #ea3d4c;
        }
    }
    .zpyyLine{
        width: 100%;
        height: 1.2rem;
        background: #eee;
    }
    .zpyySelect{
        background: #ea3d4c;
    }
}
