.addMember {
    text-align: right;
    padding: 4rem 2rem;
    .btn_add {
        background: url(../../../assets/img/btn_add_bg.png);
        background-size: 100%;
        padding:.05rem 1rem;
        color: #fff;
        outline: none;
        font-size: 1.8rem;
    }
}