/*首页*/
body{
	height: 100%;
}
.natural {
     header{
        font-size: 0.75rem;
        color: #fff;
        text-align: center;
        line-height: 2rem;
    }
    .naturaltime{
        float: left !important;
        margin-left: 1rem; 
    }
    .timeList>div{
        border-bottom: 1px solid #d8d8d8;
        color: #ea3c4c;
        font-size: .64rem;
        padding-left: 1rem;
    }
    .fill3{
        width: 100%;
        height: 2rem;
    }
}
.nmain{
    padding: 0;
}


