html {
   font-size: 62.5%;
   /*10 ÷ 16 × 100% = 62.5%*/
   font-family: "微软雅黑";
   height: 100%;
}
.project{
    .screen-con{
        height: 4.33rem;
    }
    .naturaltime{
        float: left !important;
        margin-left: 20%; 
        margin-top: .8rem;
    }
    .timeList,.townshipList{
        margin-top: 1.6rem;
    }
    .timeList>div{
        border-bottom: 1px solid #d8d8d8;
        color: #ea3c4c;
        font-size: 1.5rem;
        padding-left: 1rem;
        height: 4rem;
        line-height: 4rem;
    }
    .township{
        margin-left: 20% !important;
        margin-top: .8rem;
    }
    .projectName{
        text-indent: 2rem;
    }
    .table{
        margin-top: 1rem;
    }
    
}
.projectDraft{
    .fill{
        height: 3rem !important;
    }
}
.projectAdd{
    .projectss{
        overflow: hidden;
        margin-top: 1rem;
        padding-bottom: 2rem;
        border-bottom: 1rem solid #eee;
    }
   .projectqk{
       width: 10rem;
       padding: 0.5rem 0;
       border: 1px solid #eb3c4d;
       float: left;
       text-align: center;
       margin-left: 1rem;
       border-radius: 1.5rem;
       color: #eb3c4d;
   }
   .proaddbottom{
        border-bottom: 1rem solid #eee;
   }
   .projectcx{
        border-bottom: 1px solid #eee;
       .projectcxText{
           padding: 1rem;
       }
       textarea{
           padding: 0.8rem;
           width: 100%;
           height: 7.3rem;
       }
   }
   #sjpkh{
       display: none;
   }
   .addsjpkc{
       text-align: right;
       padding-right: 1rem;
       button{
           background: url(../../assets/img/button_Android.png) ;
           width: 14.8rem;
           height: 2.867rem;
           background-size: contain;
           background-repeat: no-repeat;
           color: #fff;
       }
       a{
           color: #fff;
       }
       a:hover{
           color: #fff;
           text-decoration: none;
       }
   }
   .sjpkctitle{
       margin-top: 1rem;
       font-size: 1.533rem;
       padding: 0 1rem;
       height: 3rem;
       p{
           width: .5rem;
           height: 2rem;
           background: #eb3c4d;
           float: left;
           border-radius:0.2rem ;
       }
       
   }
   .cjtsy{
       text-align: right;
       padding-right: 1rem;
   }
   .sfcode{
       width: 15rem !important;
       text-align: right;
   }
   .detailsmx{
       margin: 1rem 0;
       >div{
           height: 4rem;
           line-height: 4rem;
            padding-left: 1rem;
       }
       img{
           width: 1.8rem;
           margin-right: 0.5rem;
       }
      
   }
   .naturaldetailsTitle{
       text-align: center;
       font-size: 1.8rem;
       color: red;
       color: #444;
       height: 2.6rem;
   }
}
.queryprojectd{
    .situation{
       input{
           text-align: right;
           color: #000;
           padding-right: 1rem;
           font-size: 1.8rem;
       }
       input:disabled{
            border: 1px solid #fff;
            background-color: #fff;
            color:#000;
            box-shadow: none !important;
            -webkit-appearance: none; 
        }
   }
   .projectcx{
       textarea{
           max-height: 10rem;
           margin-top: -1rem;
       }
   }
}
.projectss{
  label{
       padding: 0.5rem 3rem 0.5rem 2rem;
       border: 1px solid #eb3c4d;
       float: left;
       margin-left: 1rem;
       border-radius: 1.5rem;
       color: #eb3c4d;
      input{
          opacity: 1;
      }
      
  }
  
}


