.query {
    .fill {
        width: 100%;
        height: 4.4rem;
    }
    .queryCon {
        width: 70%;
        position: absolute;
        line-height: 3.2rem;
        top: 0.8rem;
        left: 3.3rem;
        input {
            width: 100%;
            padding: .5rem;
            border-radius: 4px;
            font-size: 1.6rem;
            padding-left: 2rem;
        }
        .search {
            position: absolute;
            top: 0.7rem;
            left: 0.3rem;
            width: 1.6rem;
        }
    }
    .queryBtn {
        position: absolute;
        top: 0.9rem;
        right: 0.8rem;
        text-align: center;
        padding: .5rem;
        background-color: #fff;
        color: #ea3c4c;
        border-radius: 4px;
        font-size: 1.6rem;
    }
    .conditionCon {
        background-color: #fff;
        .item {
            overflow: hidden;
            padding: 1rem 1rem;
            .yearName {
                float: left;
                line-height: 2.3rem;
            }
            .year {
                float: right;
                line-height: 2.3rem;
                img {
                    width: 2.3rem;
                    height: 2.3rem;
                    vertical-align: middle;
                }
            }
        }
    }
    .dataState {
        margin-top: .8rem;
        background-color: #fff;
        .title {
            margin-left: 1rem;
            padding: 1rem 1rem 1rem 0;
        }
        .tab {
            padding: 2rem 1rem;
            overflow: hidden;
            div {
                width: 30%;
                float: left;
                text-align: center;
                padding: .3rem 0;
                border: 1px solid #ea3c4c;
                border-radius: 14px;
                color: #ea3c4c;
            }
            .tab1 {}
            .tab2 {
                margin: 0 5%;
            }
            .tab3 {}
        }
    }
    .poverty {
        margin-top: .8rem;
        background-color: #fff;
        .title {
            margin-left: 1rem;
            padding: 1rem 1rem 1rem 0;
        }
        .tab {
            padding: 2rem 1rem;
            overflow: hidden;
            .history,
            .statisticsNo,
            .tab1,
            .tab2,
            .tab3 {
                float: left;
                text-align: center;
                padding: .3rem 0;
                border: 1px solid #ea3c4c;
                border-radius: 14px;
                color: #ea3c4c;
            }
            .statisticsNo {
                width: 45%;
                margin-right: 5%;
                margin-bottom: 1rem;
            }
            .history {
                width: 50%;
                margin-bottom: 1rem;
            }
            .tab1 {
                width: 30%;
            }
            .tab2 {
                margin: 0 5%;
                width: 30%;
            }
            .tab3 {
                width: 30%;
            }
        }
    }
    .attribute {
        margin-top: .8rem;
        background-color: #fff;
        .title {
            margin-left: 1rem;
            padding: 1rem 1rem 1rem 0;
        }
        .tab {
            padding: 2rem 1rem;
            overflow: hidden;
            .tab1,
            .tab2,
            .tab3,
            .tab4 {
                float: left;
                text-align: center;
                padding: .3rem 0;
                border: 1px solid #ea3c4c;
                border-radius: 14px;
                color: #ea3c4c;
            }
            .tab1 {
                width: 45%;
                margin-right: 5%;
                margin-bottom: 1rem;
            }
            .tab2 {
                width: 50%;
            }
            .tab3 {
                width: 50%;
                margin-right: 5%;
            }
            .tab4 {
                width: 45%;
            }
        }
    }
    .bg {
        background-color: #ea3c4c;
        color: #fff !important;
    }
    .border-b {
        position: relative;
    }
    .border-b:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        background: #d8d8d8;
        width: 100%;
        height: 1px;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
    select {
        border: none;
        outline: none;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-color: #fff;
    }
}

.effectiveness {
    background-color: #eee;
    padding: .8rem;
    .projectCon {
        .projectItem {
            background-color: #fff;
            overflow: hidden;
            border-radius: 4px;
            margin-bottom: .8rem;
            .projectNum {
                float: left;
                background-color: #ea3c4c;
                text-align: center;
                padding: 1rem .5rem .6rem .5rem;
                margin-left: .8rem;
                border-radius: 2px;
                >span {
                    color: #fff;
                    font-size: 1.4rem;
                }
                .num {
                    font-weight: 600;
                }
            }
            .projectTitle {
                float: left;
                padding: 1rem 0 2rem .8rem;
                .name {
                    margin-bottom: .6rem;
                }
                .profit {
                    >span {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

.queryVillageTab {
    >div {
        font-size: 1.2rem;
        border-left: 1px solid #ea3c4c;
    }
    .tabs1 {
        width: 23.33333333333333%;
        border-left: 0;
    }
    .tabs2 {
        width: 23.33333333333333%;
    }
    .tabs3 {
        width: 30%;
    }
    .tabs4 {
        width: 23.33333333333333%;
    }
}

.queryVillageDetails {
    background-color: #eee;
    padding: .8rem 0;
    .villageCon {
        background-color: #fff;
        padding: 1rem .6rem 1rem 1rem;
        .villageName {
            text-align: center;
            font-weight: 600;
            font-size: 1.8rem;
            margin-bottom: .8rem;
        }
        .labels {
            overflow: hidden;
            text-align: center;
            padding-left: 2.5%;
            >div {
                width: 30%;
                float: left;
                text-align: center;
                font-size: 1.4rem;
                background-color: #ea3c4c;
                color: #fff;
                border-radius: 6px;
                margin-right: 2.5%;
            }
        }
    }
    .villageInfo {
        background-color: #fff;
        padding: 1rem .6rem 1rem 1rem;
        .infoItem {
            margin-bottom: .5rem;
            img {
                width: 1.3rem;
            }
            >span {
                margin-left: .6rem;
            }
        }
    }
    .border-b {
        position: relative;
    }
    .border-b:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        background: #d8d8d8;
        width: 100%;
        height: 1px;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}

.queryHouseHoldDetail {
    .queryRight {
        float: right;
        text-align: right;
        margin-right: .6rem;
    }
    .shows {
        display: block !important;
    }
    #pkcjb,
    #family,
    #eliminate,
    #income,
    #production,
    #elsewhere,
    #help,
    #results,
    #effectiveness {
        display: none;
    }
    .pkcList {
        border: 0 !important;
    }
    .pkcListTel {
        padding-left: 15px;
    }
    .pkInfoCon {
        overflow: hidden;
        padding: 1rem 15px;
        .imgCon {
            width: 6rem;
            height: 6rem;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            overflow: hidden;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            float: left;
        }
        .info {
            margin-left: 1.5rem;
            float: left;
            p {
                margin-bottom: .5rem;
            }
            span {
                margin-right: 1rem;
            }
            .name {
                color: #000;
                font-size: 1.6rem;
                font-weight: 600;
            }
            .infoName,
            .time {
                background-color: #ea3c4c;
                border-radius: 8px;
                padding: 0 .8rem;
                color: #fff;
                font-size: 1.2rem;
            }
        }
    }
    .border-b {
        position: relative;
    }
    .border-b:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        background: #d8d8d8;
        width: 100%;
        height: 1px;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}