/*首页*/
html {
   font-size: 62.5%;
   /*10 ÷ 16 × 100% = 62.5%*/
   font-family: "微软雅黑";
   height: 100%;
}
body{
	height: 100%;
}
ul li{
	list-style: none;
}
.queryNatural{
    .tab5{
        width: 40%;
        border: 1px solid red;
        height: 1rem;
        float: left;
        height: 2.2rem;
        text-align: center;
        border-radius: 14px;
        color: #ea3c4c;
        margin-top: 1rem;
    }
}
.naturaldetails{
    margin-top: 4rem;
    .sjpkctitle{
       margin-top: 1rem;
       font-size: 1.533rem;
       padding: 0 1rem;
       height: 3rem;
       p{
           width: .5rem;
           height: 2rem;
           background: #eb3c4d;
           float: left;
           border-radius:0.2rem ;
       }
   }
   .naturaldetailsTitle{
       text-align: center;
       font-size: 1.6rem;
       color: red;
       color: #444;
       height: 3.6rem;
   }
   .natural_border{
       border-bottom: 1px solid #bbbbbb;
   }
   .detailsmx{
       margin: 1rem 0;
       >div{
           height: 4rem;
           line-height: 4rem;
            padding-left: 1rem;
       }
       img{
           width: 1.8rem;
           margin-right: 0.5rem;
       }
      
   }
   .naturalbg{
       background: #eeeeee ;
       height: 4rem;
       line-height: 4rem;
       p{
           margin-top: 1rem;
       }
   }
   .situation{
       input{
           text-align: right;
           color: #000;
           padding-right: 1rem;
           font-size: 1.8rem;
       }
       input:disabled{
            border: 1px solid #fff;
            background-color: #fff;
            color:#000;
            box-shadow: none !important;
            -webkit-appearance: none; 
        }
   }
   .shengchandetails{
       input:disabled{
           text-align: right;
           color: blue;
           font-size: 1.8rem;
           padding-right: 1rem;
       }
       select:disabled{
           text-align: right;
           color: #8f8f8f;
           font-size: 1.6rem;
           padding-right: 1rem;
       }
   }
   
}

