header{
	width: 100%;
	height: 3.4rem;
	background-color: #ea3c4c;
	padding: 0 0.512rem;
	position: fixed;
	top: 0;
	left: 0;
}
header .back{
	float: left;
	position: absolute;
	bottom: 0;
	left: .2rem;
	img{
		width: 3.2rem;
	}
}
header .collectionTitle{
	text-align: center;
	line-height: 3.4rem;
	color: #fff;
	font-size: 1.768rem;
}
header{
	z-index: 200;
}
.villageCollection{
	background-color: #fff;
	.fill{
		width: 100%;
		height: 3.4rem;
	}
	.tab{
		margin: 1.2rem;
		overflow: hidden;
		border: 1px solid #ea3c4c;
		border-radius: 4px;
		>div{
			float: left;
			color: #ea3c4c;
			font-size: 1.5rem;
			text-align: center;
			padding: 0.4rem 0;
		}
		.tab1{
			border-right: 1px solid #ea3c4c;
			width: 30.33333333333333%;
		}
		.tab2{
			border-right: 1px solid #ea3c4c;
			width: 30.33333333333333%;
		}
		.tab3{
			width: 39.33333333333333%;
		}
	}
	.situation{
		
		color: #444;
		font-size: 1.5rem;
		background-color: #fff;
		.item{
			padding: 1rem .6rem 1rem 1rem;
			overflow: hidden;
			.name{
				float: left;
				line-height: 2.3rem;
			}
			.content{
				float: right;
				line-height: 2.3rem;
				text-align: right;
				width: 33%;
				img{
					width: 2.3rem;
					height: 2.3rem;
					vertical-align: middle;
				}
				select{
					line-height:2.3rem;
				}
				input{
					width: 100%;
				}
			}
		}
	}
	.development{
		display: none;
		color: #444;
		font-size: 1.5rem;
		padding-top: 0.7rem;
		background-color: #eeeeee;
		.listItem{
			background-color: #fff;
			margin-bottom: 0.7rem;
			.title{
				margin: 0 1.3rem;
				padding: 0.5rem 0;
				>.titles{
					padding-left: 0.5rem;
				}
			}
			.item{
				overflow: hidden;
				padding: 1rem .6rem 1rem 1rem;
				.name{
					float: left;
					line-height: 2.3rem;
				}
				.content{
					width: 23%;
					float: right;
					line-height: 2.3rem;
					text-align: right;
					input{
						width: 100%;
					}
					img{
						width: 2.3rem;
						height: 2.3rem;
						vertical-align: middle;
					}
				}
			}
		}
	}
	.footFill{
		width: 100%;
		height: 3rem;
	}
	.foot{
		width: 100%;
		line-height: 3rem;
		background-color: #ea3c4c;
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 200;
		text-align: center;
		color: #fff;
		font-size: 1.6rem;
	}
	.bg{
		background-color: #ea3c4c;
		color: #fff !important;
	}
	.border-b{
      position: relative;
    }
    .border-b:after{
       content: '';
       position: absolute;
       left: 0;
       bottom:0;
       background: #d8d8d8;
       width: 100%;
       height: 1px;
       -webkit-transform: scaleY(0.5);
       transform: scaleY(0.5);
       -webkit-transform-origin: 0 0;
       transform-origin: 0 0;
    }
    select{
    	border: none;
		outline: none;
		appearance:none;
		-moz-appearance:none;
		-webkit-appearance:none;
		background-color: #fff;
    }
}