<div class="villageCollection projectAdd">
		<header>
			<a href="javascript:history.go(-1)">
				<div class="back"><img src="../../assets/img/icon_28.png" alt=""></div>
			</a>
			<div class="collectionTitle">扶贫项目信息采集</div>
		</header>
		<div class="fill"></div>
		<div class="tab" id="tab">
			<div class="tab1 bg" data-type="situation">基本情况</div>
			<div class="tab2" data-type="development">涉及贫困村</div>
			<div class="tab3" data-type="sjpkh">涉及贫困户</div>	
		</div>
		<div>
				<!-- 基本情况 -->
		<div class="situation" id="situation">
			<div class="item border-b">
				<div class="name">项目所属(可多选)</div>
			</div>
			<div class="projectss" >
				<div class="projectqk selected" id="xzsjpkc" >贫困村项目</div>
				<div class="projectqk" id="xzsjpkh" >贫困户项目</div>
			</div>
			<div class="item" style="">
				<div class="name">年度</div>
				<div class="content">
					<select name="" id="" ng-model="projectAdd.sendParam.nd">
						<option value="" class="" selected="selected">请选择年份</option>
						<option value="2014">2014</option>
						<option value="2015">2015</option>
						<option value="2016">2016</option>
						<option value="2017">2017</option>
						<option value="2018">2018</option>
						<option value="2019">2019</option>
						<option value="2020">2020</option>
					</select>
					<img src="../../assets/img/icon2_11@2x.png" alt="">
				</div>
			</div>

			<div class="item">
				<div class="name">项目名称</div>
				<div class="content">
					<input type="text" placeholder="请输入项目名称" ng-model="projectAdd.sendParam.xmmc">
				</div>
			</div>

			<div class="item">
				<div class="name">项目类型</div>
				<div class="content">
					<select name="" id="" ng-model="projectAdd.sendParam.xmlx" ng-options="key.id as key.name for key in projectAdd.xmleList" >
					</select>
					<img src="../../assets/img/icon2_11@2x.png" alt="">
				</div>
			</div>

			<div class="item border-b">
				<div class="name">投资金额</div>
				<div class="content">
					<input type="text" placeholder="请输入金额" ng-model="projectAdd.sendParam.xmje" >
				</div>
			</div>

			<div class="item">
				<div class="name">扶贫资金</div>
				<div class="content">
					<input type="text" placeholder="请输入金额" ng-model="projectAdd.sendParam.fpzj">
				</div>
			</div>

			<div class="item border-b">
				<div class="name">贷款金额</div>
				<div class="content">
					<input type="number" placeholder="请输入金额" ng-model="projectAdd.sendParam.dkje">
				</div>
			</div>
			
			<div class="item">
				<div class="name">自筹金额</div>
				<div class="content">
					<input type="number" placeholder="请输入金额" ng-model="projectAdd.sendParam.zcje">
				</div>
			</div>
	
			<div class="item ">
				<div class="name">项目地点</div>
				<div class="content" style="width: 50%;">
					<select name="" id="" ng-model="projectAdd.sendParam.qyxz" ng-options="key.id as key.name for key in projectAdd.townShip" ng-change="projectAdd.changeTown()">
					</select>
					<img src="../../assets/img/icon2_11@2x.png" alt="">
				</div>
			</div>

			<div class="item">
				<!-- <div class="name">项目地点</div> -->
				<div class="content" style="width: 50%;">
					<select name="" id="" ng-model="projectAdd.sendParam.qyxzc" ng-options="key.id as key.name for key in projectAdd.villageListAll" >
					</select>
					<img src="../../assets/img/icon2_11@2x.png" alt="">
				</div>
			</div>			
			<div class="item border-b" >
				<div class="name"></div>
				<div class="content">
					<input type="text" placeholder="请输入详细地址" ng-model="projectAdd.sendParam.xmdd">
				</div>
			</div>
			
			<div class="item border-b">
				<div class="name">实施主体</div>
				<div class="content">
					<input type="number" placeholder="请输入具体内容" ng-model="projectAdd.sendParam.ssdw">
				</div>
			</div>
			
			<!--文本框-->
			<div class="projectcx">
				<div class="projectcxText" >效益分析</div>
				<textarea ng-model="projectAdd.sendParam.xmxy"></textarea>
			</div>
			
			<div class="projectcx">
				<div class="projectcxText">项目简介</div>
				<textarea ng-model="projectAdd.sendParam.xmjj"></textarea>
			</div>

			<div class="projectcx">
				<div class="projectcxText">项目进度</div>
				<textarea ng-model="projectAdd.sendParam.xmjd"></textarea>
			</div>
			
		</div>
		<!-- 涉及贫困村 -->
		<div class="development" id="development" style="background: #fff; margin-top: -1rem;">
			<table class="table table-striped">
				<thead>
					<tr>
						<td class="text-center">乡镇</td>
						<td class="text-center">行政村</td>
						<td class="text-center">村集体收益</td>
					</tr>
				</thead>
				<tbody>
					<tr onclick="location.href='#/project_Editsjpkc'">
						<td class="text-center">白庙滩乡1</td>
						<td class="text-center">二八地村</td>
						<td class="text-center">10000</td>
					</tr>
					<tr>
						<td class="text-center">白庙滩乡</td>
						<td class="text-center">二八地村</td>
						<td class="text-center">10000</td>
					</tr>
					<tr>
						<td class="text-center">白庙滩乡</td>
						<td class="text-center">二八地村</td>
						<td class="text-center">10000</td>
					</tr>
					
				</tbody>
				
			</table>
			<div class="addsjpkc">
				<button><a href="#/project_Addsjpkc">+添加涉及贫困村</a></button>
			</div>
			
		</div>
		<!-- 涉及贫困户 -->
		<div id="sjpkh">
			<table class="table table-striped">
				<thead>
					<tr>
						<td class="text-center">乡镇</td>
						<td class="text-center">行政村</td>
						<td class="text-center">身份证号</td>
						<td class="text-center">收益金额</td>
					</tr>
				</thead>
				<tbody>
					<tr onclick="location.href='#/project_Editsjpkh'">
						<td class="text-center">白庙滩乡</td>
						<td class="text-center">二八地村</td>
						<td class="text-center">32521192902010510</td>
						<td class="text-center">1000</td>
					</tr>
					<tr>
						<td class="text-center">白庙滩乡</td>
						<td class="text-center">二八地村</td>
						<td class="text-center">32521192902010510</td>
						<td class="text-center">1000</td>
					</tr>
					<tr>
						<td class="text-center">白庙滩乡</td>
						<td class="text-center">二八地村</td>
						<td class="text-center">32521192902010510</td>
						<td class="text-center">1000</td>
					</tr>
					
				</tbody>
				
			</table>
			<div class="addsjpkc">
				<button><a href="#/project_Addsjpkh">+添加涉及贫困户</a></button>
			</div>
		</div>
		</div>
		<div class="footFill"></div>
		<div class="foot" ng-click="projectAdd.tianjia()">
			数据上传
		</div>
	</div>
	<style type="text/css">
		.selected{
			background-color: red;
			color: #fff !important;
		}
	</style>
	<script type="text/javascript" src="../../assets/lib/js/jquery.min.js"></script>
	<script>
		$("#tab div").click(function(){
			$(this).addClass('bg').siblings().removeClass('bg');
			$("#"+$(this).attr('data-type')).show().siblings().hide();
		})
		
		$(function(){
			$(".projectss div").click(function(){
				$(this).toggleClass('selected');
			})
		})
	</script>
