
	<div class="poor project projectDraft">
		<header>
			<div class="back" ui-sref="project"><img src="./assets/img/icon_28.png" alt=""></div>
			<div class="collectionTitle">扶贫项目信息</div>
		</header>
		<div class="fill2"></div>
		<div class="fill"></div>
		<table class="table table-striped">
			<thead>
				<tr>
					<td class="text-center projectName">项目名称</td>
					<td class="text-center">项目所属</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in projectDraft.list" ui-sref="projectDraftEdit({draftId:item.index_id})">
					<td class="text-center" ng-bind="item.projectSituationList.xmmc"></td>
					<td class="text-center">
						<span ng-if="item.projectSituationList.pkcxm=='Y'">贫困村项目</span>
						<span ng-if="item.projectSituationList.pkcxm=='Y'&&item.projectSituationList.pkhxm=='Y'">&</span>
						<span ng-if="item.projectSituationList.pkhxm=='Y'">贫困户项目</span>
					</td>
				</tr>
				
			</tbody>
		</table>
		<div class="foot-fill"></div>
	</div>
