
	<div class="villageCollection projectAdd">
		<header>
			<div class="back" ng-click="projectDraftEdit.back()"><img src="./assets/img/icon_28.png" alt=""></div>
			<div class="collectionTitle">扶贫项目信息采集</div>
		</header>
		<div class="fill"></div>
		<div class="tab" id="tab">
			<div class="tab1 bg" data-type="situation">基本情况</div>
			<div class="tab2" data-type="development">涉及贫困村</div>
			<div class="tab3" data-type="sjpkh">涉及贫困户</div>	
		</div>
		<div>
				<!-- 基本情况 -->
		<div class="situation" id="situation">
			<div class="item border-b">
				<div class="name">项目所属(可多选)</div>
			</div>
			<div class="projectss" id="projectDraftEdits">
				<div class="projectqk" id="xzsjpkc" ng-model="projectDraftEdit.sendParam.pkcxm" >贫困村项目<span class="commonStar"> *</span></div>
				<div class="projectqk" id="xzsjpkh" ng-model="projectDraftEdit.sendParam.pkhxm">贫困户项目<span class="commonStar"> *</span></div>
			</div>
			<div class="item border-b" >
				<lable for="projectDraftEditnd">
					<div class="name">年度</div>
					<div class="content">
						<select name="" id="projectDraftEditnd" ng-model="projectDraftEdit.sendParam.nd">
							<option value="2014">2014</option>
							<option value="2015">2015</option>
							<option value="2016">2016</option>
							<option value="2017">2017</option>
							<option value="2018">2018</option>
							<option value="2019">2019</option>
							<option value="2020">2020</option>
						</select>
						<img src="./assets/img/icon2_11@2x.png" alt="">
					</div>
				</lable>	
			</div>

			<div class="item border-b">
				<lable for="projectDraftEditxmmc">
					<div class="name">项目名称<span class="commonStar"> *</span></div>
					<div class="content">
						<input id="projectDraftEditxmmc" type="text" placeholder="请输入项目名称" ng-model="projectDraftEdit.sendParam.xmmc">
					</div>
				</lable>	
			</div>

			<div class="item border-b" >
				<lable for="projectDraftEditxmlx">
					<div class="name">项目类型</div>
					<div class="content">
						<select name="" id="projectDraftEditxmlx" ng-model="projectDraftEdit.sendParam.xmlx" ng-options="key.id as key.name for key in projectDraftEdit.xmleList" >
						</select>
						<img src="./assets/img/icon2_11@2x.png" alt="">
					</div>
				</lable>	
			</div>

			<div class="item border-b">
				<lable for="projectDraftEditxmje">
					<div class="name">项目金额</div>
					<div class="content">
						<input id="projectDraftEditxmje" type="text" placeholder="请输入金额" ng-model="projectDraftEdit.sendParam.xmje">
					</div>
				</lable>	
			</div>

			<div class="item border-b">
				<lable for="projectDraftEditfpzj">
					<div class="name">扶贫资金</div>
					<div class="content">
						<input id="projectDraftEditfpzj" type="text" placeholder="请输入金额" ng-model="projectDraftEdit.sendParam.fpzj">
					</div>
				</lable>	
			</div>

			<div class="item border-b">
				<lable for="projectDraftEditdkje">
					<div class="name">贷款金额</div>
					<div class="content">
						<input id="projectDraftEditdkje" type="number" placeholder="请输入金额" ng-model="projectDraftEdit.sendParam.dkje">
					</div>
				</lable>
			</div>
			
			<div class="item border-b">
				<lable for="projectDraftEditzcje">
					<div class="name">自筹金额</div>
					<div class="content">
						<input id="projectDraftEditzcje" type="number" placeholder="请输入金额" ng-model="projectDraftEdit.sendParam.zcje">
					</div>
				</lable>
			</div>
	
			<div class="item ">
				<lable for="projectDraftEditqyxz">
					<div class="name">项目地点</div>
					<div class="content" style="width: 50%;">
						<select dir="rtl" name="" id="projectDraftEditqyxz" ng-model="projectDraftEdit.sendParam.qyxz" ng-options="key.id as key.name for key in projectDraftEdit.townShip" ng-change="projectDraftEdit.changeTown()">
						</select>
						<img src="./assets/img/icon2_11@2x.png" alt="">
					</div>
				</lable>
			</div>

			<div class="item border-b">
				<!-- <div class="name">项目地点</div> -->
				<lable for="projectDraftEditqyxzc">
					<div class="content" style="width: 50%;">
						<select dir="rtl" name="" id="projectDraftEditqyxzc" ng-model="projectDraftEdit.sendParam.qyxzc" ng-options="key.id as key.name for key in projectDraftEdit.villageListAll" >
						</select>
						<img src="./assets/img/icon2_11@2x.png" alt="">
					</div>
				</lable>
			</div>			
			<!-- <div class="item border-b" >
				<lable for="projectDraftEditxmdd">
					<div class="name"></div>
					<div class="content">
						<input id="projectDraftEditxmdd" type="text" placeholder="请输入详细地址" ng-model="projectDraftEdit.sendParam.xmdd">
					</div>
				</lable>	
			</div> -->
			
			<div class="item border-b">
				<lable for="projectDraftEditssdw">
					<div class="name">实施主体</div>
					<div class="content">
						<input id="projectDraftEditssdw" type="text" placeholder="请输入具体内容" ng-model="projectDraftEdit.sendParam.ssdw">
					</div>
				</lable>	
			</div>
			
			
			<!--文本框-->
			<div class="projectcx">
				<div class="projectcxText" >效益分析</div>
				<textarea ng-model="projectDraftEdit.sendParam.xmxy"></textarea>
			</div>
			
			<div class="projectcx">
				<div class="projectcxText">项目简介</div>
				<textarea ng-model="projectDraftEdit.sendParam.xmjj"></textarea>
			</div>

			<div class="projectcx">
				<div class="projectcxText">项目进度</div>
				<textarea ng-model="projectDraftEdit.sendParam.xmjd"></textarea>
			</div>
			
		</div>
		<!-- 涉及贫困村 -->
		<div class="development" id="development" style="background: #fff; margin-top: -1rem;">
			<table class="table table-striped">
				<thead>
					<tr>
						<td class="text-center">乡镇</td>
						<td class="text-center">行政村</td>
						<td class="text-center">村集体收益</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in projectDraftEdit.getpkclistName" ui-sref="projectEditsjpkc({idx:$index})">
						<td class="text-center" ng-bind="item.qyxzName"></td>
						<td class="text-center" ng-bind="item.qyxzcName"></td>
						<td class="text-center" ng-bind="item.syje"></td>
					</tr>
				</tbody>
				
			</table>
			<div class="addsjpkc">
				<button ui-sref="projectAddsjpkc">+添加涉及贫困村</button>
			</div>
			
		</div>
		<!-- 涉及贫困户 -->
		<div id="sjpkh">
			<table class="table table-striped">
				<thead>
					<tr>
						<td class="text-center">乡镇</td>
						<td class="text-center">行政村</td>
						<td class="text-center">身份证号</td>
						<td class="text-center">收益金额</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in projectDraftEdit.getPkhlistName" ui-sref="projecEditsjpkh({idx:$index})">
						<td class="text-center" ng-bind="item.qyxzName"></td>
						<td class="text-center" ng-bind="item.qyxzcName"></td>
						<td class="text-center" ng-bind="item.sfzh"></td>
						<td class="text-center" ng-bind="item.syje"></td>
					</tr>
					
				</tbody>
				
			</table>
			<div class="addsjpkc">
				<button ui-sref="projectAddsjpkh">+添加涉及贫困户</button>
			</div>
		</div>
		</div>
		<div class="footFill"></div>
		<div class="foot" ng-click="projectDraftEdit.tianjia()">
			数据上传
		</div>
	</div>
<style type="text/css">
		label{
			width: 100%;
			margin-top:0.6rem 
		}
		.selected{
			background-color: #ea3c4c;
			color: #fff !important;
		}
		.content input{
			padding-right: 10px
		}
	</style>
