
	<div class="villageCollection projectAdd">
		<header>
			<div class="back" ng-click="projectEdit.back()"><img src="./assets/img/icon_28.png" alt=""></div>
			<div class="collectionTitle">扶贫项目信息采集</div>
		</header>
		<div class="fill"></div>
		<div class="tab" id="tab">
			<div class="tab1 bg" data-type="situation">基本情况</div>
			<div class="tab2" data-type="development">涉及贫困村</div>
			<div class="tab3" data-type="sjpkh">涉及贫困户</div>	
		</div>
		<div>
				<!-- 基本情况  -->
		<div class="situation" id="situation">
			<div class="item border-b">
				<div class="name">项目所属(可多选)</div>
			</div>
			<div class="projectss" id="projectEdits">
				<div class="projectqk" id="xzsjpkc" ng-model="projectEdit.sendParam.pkcxm" >贫困村项目<span class="commonStar"> *</span></div>
				<div class="projectqk" id="xzsjpkh" ng-model="projectEdit.sendParam.pkhxm">贫困户项目<span class="commonStar"> *</span></div>
			</div>
			<div class="item border-b" style="padding:1.2rem 0.7rem" >
				<div class="name">年度</div>
				<div class="content">
					<select name="" id="" ng-model="projectEdit.sendParam.nd">
						<option value="2014">2014</option>
						<option value="2015">2015</option>
						<option value="2016">2016</option>
						<option value="2017">2017</option>
						<option value="2018">2018</option>
						<option value="2019">2019</option>
						<option value="2020">2020</option>
					</select>
					<img src="./assets/img/icon2_11@2x.png" alt="">
				</div>
			</div>

			<div class="item border-b">
				<label for="projectEditxmmc" >
					<div class="name">项目名称<span class="commonStar"> *</span></div>
					<div class="content">
						<input id="projectEditxmmc" type="text" placeholder="请输入项目名称" ng-model="projectEdit.sendParam.xmmc" dir="rtl" style="width: 10rem; margin-right:1rem ">
					</div>
				</label>	
			</div>

			<div class="item border-b" >
			<label for="projectEditxmleList">
				<div class="name">项目类型</div>
				<div class="content">
					<select name="" id="projectEditxmleList" ng-model="projectEdit.sendParam.xmlx" ng-options="key.id as key.name for key in projectEdit.xmleList" >
					</select>
					<img src="./assets/img/icon2_11@2x.png" alt="">
				</div>
			</label>	
			</div>

			<div class="item">
				<label for="projectEditxmje">
					<div class="name">项目金额</div>
					<div class="content">
						<input id="projectEditxmje" type="text" placeholder="请输入金额" ng-model="projectEdit.sendParam.xmje">
					</div>
				</label>	
			</div>

			<div class="item">
				<label for="projectEditfpzj">
					<div class="name">扶贫资金</div>
					<div class="content">
						<input id="projectEditfpzj" type="text" placeholder="请输入金额" ng-model="projectEdit.sendParam.fpzj">
					</div>
				</label>	
			</div>

			<div class="item ">
				<label for="projectEditdkje">
					<div class="name">贷款金额</div>
					<div class="content">
						<input id="projectEditdkje" type="number" placeholder="请输入金额" ng-model="projectEdit.sendParam.dkje">
					</div>
				</label>	
			</div>
			
			<div class="item border-b">
				<label for="projectEditzcje">
					<div class="name">自筹金额</div>
					<div class="content">
						<input id="projectEditzcje" type="number" placeholder="请输入金额" ng-model="projectEdit.sendParam.zcje">
					</div>
				</label>
			</div>
	
			<div class="item ">
				<label for="projectEditqyxz">
					<div class="name">项目地点</div>
					<div class="content" style="width: 50%;">
						<select dir="rtl" name="" id="projectEditqyxz" ng-model="projectEdit.sendParam.qyxz" ng-options="key.id as key.name for key in projectEdit.townShip" ng-change="projectEdit.changeTown()">
						</select>
						<img src="./assets/img/icon2_11@2x.png" alt="">
					</div>
				</label>	
			</div>

			<div class="item">
				<!-- <div class="name">项目地点</div> -->
				<label for="projectEditqyxzc">	
					<div class="content" style="width: 50%;">
						<select dir="rtl" name="" id="projectEditqyxzc" ng-model="projectEdit.sendParam.qyxzc" ng-options="key.id as key.name for key in projectEdit.villageListAll" >
						</select>
						<img src="./assets/img/icon2_11@2x.png" alt="">
					</div>
				</label>
			</div>			
			<div class="item border-b" >
				<label for="projectEditxmdd">	
					<div class="name"></div>
					<div class="content">
						<input id="projectEditxmdd" type="text" placeholder="请输入详细地址" ng-model="projectEdit.sendParam.xmdd">
					</div>
				</label>	
			</div>
			
			<div class="item border-b">
				<label for="projectEditssdw">
					<div class="name">实施主体</div>
					<div class="content">
						<input id="projectEditssdw" type="text" placeholder="请输入具体内容" ng-model="projectEdit.sendParam.ssdw">
					</div>
				</label>	
			</div>
			
			
			<!--文本框-->
			<div class="projectcx">
				<div class="projectcxText" >效益分析</div>
				<textarea ng-model="projectEdit.sendParam.xmxy" ng-model="projectEdit.sendParam.xmxy"></textarea>
			</div>
			
			<div class="projectcx">
				<div class="projectcxText">项目简介</div>
				<textarea ng-model="projectEdit.sendParam.xmjj" ng-model="projectEdit.sendParam.xmjj"></textarea>
			</div>

			<div class="projectcx">
				<div class="projectcxText">项目进度</div>
				<textarea ng-model="projectEdit.sendParam.xmjd" ng-model="projectEdit.sendParam.xmjd"></textarea>
			</div>
			
		</div>
		<!-- 涉及贫困村 -->
		<div class="development" id="development" style="background: #fff; margin-top: -1rem;">
			<table class="table table-striped">
				<thead>
					<tr>
						<td class="text-center">乡镇</td>
						<td class="text-center">行政村</td>
						<td class="text-center">村集体收益</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in projectEdit.getpkclistName" ui-sref="projectEditsjpkc({idx:$index})">
						<td class="text-center" ng-bind="item.qyxzName"></td>
						<td class="text-center" ng-bind="item.qyxzcName"></td>
						<td class="text-center" ng-bind="item.syje"></td>
					</tr>
					
				</tbody>
				
			</table>
			<div class="addsjpkc">
				<button ui-sref="projectAddsjpkc">+添加涉及贫困村</button>
			</div>
			
		</div>
		<!-- 涉及贫困户 -->
		<div id="sjpkh">
			<table class="table table-striped">
				<thead>
					<tr>
						<td class="text-center">乡镇</td>
						<td class="text-center">行政村</td>
						<td class="text-center">身份证号</td>
						<td class="text-center">收益金额</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in projectEdit.getPkhlistName" ui-sref="projecEditsjpkh({idx:$index})">
						<td class="text-center" ng-bind="item.qyxzName"></td>
						<td class="text-center" ng-bind="item.qyxzcName"></td>
						<td class="text-center" ng-bind="item.sfzh"></td>
						<td class="text-center" ng-bind="item.syje"></td>
					</tr>
					
				</tbody>
				
			</table>
			<div class="addsjpkc">
				<button ui-sref="projectAddsjpkh">+添加涉及贫困户</button>
			</div>
		</div>
		</div>
		<div class="footFill"></div>
		<div class="foot" ng-click="projectEdit.tianjia()">
			数据上传
		</div>
	</div>
	<style type="text/css">
		label{
			width: 100%;
			margin-top:0.6rem 
		}
		.selected{
			background-color: #ea3c4c;
			color: #fff !important;
		}
		.content input{
			padding-right: 10px
		}
	</style>