<div class="villageCollection projectAdd">
		<header>
			<div class="back" ng-click="projectAdd.back()"><img src="./assets/img/icon_28.png" alt=""></div>
			<div class="collectionTitle">扶贫项目信息采集</div>
		</header>
		<div class="fill"></div>
		<div class="tab" id="tab">
			<div class="tab1 bg" data-type="situation">基本情况</div>
			<div class="tab2" data-type="development">涉及贫困村</div>
			<div class="tab3" data-type="sjpkh">涉及贫困户</div>	
		</div>
		<div>
				<!-- 基本情况  -->
		<div class="situation" id="situation">
			<div class="item border-b">
				<div class="name">项目所属(可多选)</div>
			</div>
			<div class="projectss" >
				<div class="projectqk" id="xzsjpkc" ng-model="projectAdd.sendParam.pkcxm" >贫困村项目<span class="commonStar"> *</span></div>
				<div class="projectqk" id="xzsjpkh" ng-model="projectAdd.sendParam.pkhxm">贫困户项目<span class="commonStar"> *</span></div>
			</div>
			<div class="item border-b" style="">
				<lable for="nd1">
					<div class="name">年度</div>
					<div class="content">
						<select name="" id="nd1" ng-model="projectAdd.sendParam.nd">
							<option value="2014">2014</option>
							<option value="2015">2015</option>
							<option value="2016">2016</option>
							<option value="2017">2017</option>
							<option value="2018">2018</option>
							<option value="2019">2019</option>
							<option value="2020">2020</option>
						</select>
						<img src="./assets/img/icon2_11@2x.png" alt="">
					</div>
				</lable>	
			</div>
			<div class="item border-b">
				<label for="xmmc">
					<div class="name">项目名称<span class="commonStar"> *</span></div>
					<div class="content">
						<input id="xmmc" type="text" placeholder="请输入项目名称" ng-model="projectAdd.sendParam.xmmc">
					</div>
				</label>	
			</div>

			<div class="item border-b">
				<label for="xmleList">
					<div class="name">项目类型</div>
					<div class="content">
						<select dir="rtl" name="" id="xmleList" ng-model="projectAdd.sendParam.xmlx" ng-options="key.id as key.name for key in projectAdd.xmleList">
						</select>
						<img src="./assets/img/icon2_11@2x.png" alt="">
					</div>
				</label>	
			</div>

			<div class="item border-b">
				<label for="xmje1">
					<div class="name">投资金额</div>
					<div class="content" >
						<input id="xmje1" type="text" placeholder="请输入金额" ng-model="projectAdd.sendParam.xmje">
					</div>
				</label>	
			</div>

			<div class="item border-b">
				<label for="fpzj1">
					<div class="name">扶贫资金</div>
					<div class="content">
						<input id="fpzj1" type="text" placeholder="请输入金额" ng-model="projectAdd.sendParam.fpzj">
					</div>
				</label>	
			</div>

			<div class="item border-b">
				<label for="dkje1">
					<div class="name">贷款金额</div>
					<div class="content">
						<input id="dkje1" type="number" placeholder="请输入金额" ng-model="projectAdd.sendParam.dkje">
					</div>
				</label>	
			</div>
			
			<div class="item border-b">
				<label for="zcje1">
					<div class="name">自筹金额</div>
					<div class="content">
						<input id="zcje1" type="number" placeholder="请输入金额" ng-model="projectAdd.sendParam.zcje">
					</div>
				</label>	
			</div>
	
			<div class="item ">
				<label for="qyxz1">
					<div class="name">项目地点</div>
					<div class="content" style="width: 50%;">
						<select dir="rtl" name="" id="qyxz1" ng-model="projectAdd.sendParam.qyxz" ng-options="key.id as key.name for key in projectAdd.townShip" ng-change="projectAdd.changeTown()">
						</select>
						<img src="./assets/img/icon2_11@2x.png" alt="">
					</div>
				</label>
			</div>

			<div class="item">
				<!-- <div class="name">项目地点</div> -->
				<label for="qyxzc1">
					<div class="content" style="width: 50%;">
						<select dir="rtl" name="" id="qyxzc1" ng-model="projectAdd.sendParam.qyxzc" ng-options="key.id as key.name for key in projectAdd.villageListAll" >
						</select>
						<img src="./assets/img/icon2_11@2x.png" alt="">
					</div>
				</label>
			</div>			
			<div class="item border-b">
				<label for="xmdd1">
					<div class="name"></div>
					<div class="content">
						<input id="xmdd1" type="text" placeholder="请输入详细地址" ng-model="projectAdd.sendParam.xmdd">
					</div>
				</label>	
			</div>
			
			<div class="item border-b">
				<label for="ssdw1">
					<div class="name">实施主体</div>
					<div class="content">
						<input id="ssdw1" type="text" placeholder="请输入具体内容" ng-model="projectAdd.sendParam.ssdw">
					</div>
				</label>	
			</div>
			
			<!--文本框-->
			<div class="projectcx">
				<div class="projectcxText" >效益分析</div>
				<textarea ng-model="projectAdd.sendParam.xmxy"></textarea>
			</div>
			
			<div class="projectcx">
				<div class="projectcxText">项目简介</div>
				<textarea ng-model="projectAdd.sendParam.xmjj"></textarea>
			</div>

			<div class="projectcx">
				<div class="projectcxText">项目进度</div>
				<textarea ng-model="projectAdd.sendParam.xmjd"></textarea>
			</div>
			
		</div>
		<!-- 涉及贫困村 -->
		<div class="development" id="development" style="background: #fff; margin-top: -1rem;">
			<table class="table table-striped">
				<thead>
					<tr>
						<td class="text-center">乡镇</td>
						<td class="text-center">行政村</td>
						<td class="text-center">村集体收益</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in projectAdd.getpkclistName" ui-sref="projectEditsjpkc({idx:$index})">
						<td class="text-center" ng-bind="item.qyxzName"></td>
						<td class="text-center" ng-bind="item.qyxzcName"></td>
						<td class="text-center" ng-bind="item.syje"></td>
					</tr>
					
					
				</tbody>
				
			</table>
			<div class="addsjpkc">
				<button ui-sref="projectAddsjpkc">+添加涉及贫困村</button>
			</div>
			
		</div>
		<!-- 涉及贫困户 -->
		<div id="sjpkh">
			<table class="table table-striped">
				<thead>
					<tr>
						<td class="text-center">乡镇</td>
						<td class="text-center">行政村</td>
						<td class="text-center">身份证号</td>
						<td class="text-center">收益金额</td>
					</tr>
				</thead>
				<tbody>
					<tr ui-sref="projecEditsjpkh({idx:$index})" ng-repeat="item in projectAdd.getPkhlistName">
						<td class="text-center" ng-bind="item.qyxzName"></td>
						<td class="text-center" ng-bind="item.qyxzcName">二八地村</td>
						<td class="text-center" ng-bind="item.sfzh"></td>
						<td class="text-center" ng-bind="item.syje"></td>
					</tr>
				</tbody>
				
			</table>
			<div class="addsjpkc">
				<button ui-sref="projectAddsjpkh">+添加涉及贫困户</button>
			</div>
		</div>
		</div>
		<div class="footFill"></div>
		<div class="foot" ng-click="projectAdd.tianjia()">
			数据上传
		</div>
	</div>
	<style type="text/css">
		label{
			width: 100%;
		}
		.selected{
			background-color: #ea3c4c;
			color: #fff !important;
		}
		.content input{
			padding-right: 10px
		}
	</style>
