	<div class="villageCollection projectAdd" style="background: #eee;">
		<header>
			<div class="back" ng-click="projectAddsjpkh.back()"><img src="./assets/img/icon_28.png" alt=""></div>
			<div class="collectionTitle">扶贫项目信息采集</div>
		</header>
		<div class="fill"></div>
		<div>
			<div class="sjpkctitle"><p></p>&nbsp;涉及贫困户</div>
			<div class="situation" >
				<div class="item border-b" style="">
				<label for="hqyxz" >
					<div class="name">乡镇</div>
					<div class="content" style="olid red; width: 20rem">
						<img src="../../assets/img/icon2_11@2x.png" alt=""  style="float: right">
						<select dir="rtl" name="" id="hqyxz" ng-model="projectAddsjpkh.sendParam.qyxz" ng-change="projectAddsjpkh.changeTown()" ng-options="key.id as key.name for key in projectAddsjpkh.townShip" style="float: right; width: 10rem !important">
						</select>
					</div>
				</label>	
				</div>

				<div class="item border-b" style="">
					<label for="hqyxzc">
						<div class="name">行政村</div>
						<div class="content">
							<select dir="rtl" name="" id="hqyxzc" ng-model="projectAddsjpkh.sendParam.qyxzc" ng-options="key.id as key.name for key in projectAddsjpkh.villageListAll">
							</select>
							<img src="./assets/img/icon2_11@2x.png" alt="">
						</div>
					</label>	
				</div>
				
				
				
				<div class="item border-b">
					<label for="hsfzh">
						<div class="name">身份证号</div>
						<div class="content" style=" width: 15rem;">
							<input id="hsfzh" type="text" placeholder="请输入证件号" class="cjtsy sfcode" ng-model="projectAddsjpkh.sendParam.sfzh" dir="rtl">
						</div>
					</label>
				</div>
				
				<div class="item border-b">
					<label for="hsyje">
						<div class="name">收益金额</div>
						<div class="content">
							<input id="hsyje" type="text" placeholder="请输入" class="cjtsy" ng-model="projectAddsjpkh.sendParam.syje" dir="rtl">
						</div>
					</label>
				</div>
			
			</div>
		
		</div>
		<div class="footFill"></div>
		<div class="foot" ng-click="projectAddsjpkh.addPkh()">
			添加
		</div>
	</div>
	<script type="text/javascript" src="../../assets/lib/js/jquery.min.js"></script>
<style type="text/css">
		label{
			width: 100%;
			margin-top:0.6rem 
		}
		
	</style>