<style>
	.projectAdd .detailsmx img{
		width: 1.3rem;
	}
	textarea{
		background-color: #fff;
	}
	.content{
		margin-right: 1.6rem;
		width: 50% !important;
	}
	.projectqkss{
		width: 35%;
       float: left;
       text-align: center;
       background: url(../../assets/img/button_Android.png);
	   background-size: 100% 100%;
	   background-repeat: no-repeat;
	   color: #fff;
	   margin-left: 10%;
	   height: 2.4rem;
	   line-height: 2.4rem;
	}
</style>
	<div class="villageCollection projectAdd queryprojectd">
		<header>
			<a href="javascript:history.go(-1)">
				<div class="back"><img src="./assets/img/icon_28.png" alt=""></div>
			</a>
			<div class="collectionTitle">扶贫项目数据查询</div>
		</header>
		<div class="fill"></div>
		<div class="tab" id="tab">
			<div class="tab1 bg" data-type="situation">基本情况</div>
			<div class="tab2" data-type="development">涉及贫困村</div>
			<div class="tab3" data-type="sjpkh">涉及贫困户</div>	
		</div>
		<div>
		<!-- 基本情况  -->
		<div class="situation" id="situation">
			<div class="sjpkctitle"><p></p><span ng-bind="'&nbsp;'+queryprojectDetails.info.nd"></span></div>
			<div class="naturaldetailsTitle natural_border" ng-bind="queryprojectDetails.info.xmmc+'项目信息'"></div>
			<div class="projectss" style="border-bottom: 1px solid #eee;padding-bottom: 1rem;" >
				<div class="projectqkss" style="" ng-show="queryprojectDetails.info.pkcxm == 'Y'">贫困村项目</div>
				<div class="projectqkss" ng-show="queryprojectDetails.info.pkhxm == 'Y'">贫困户项目</div>
				<!-- <div class="projectqk" ng-bind="queryprojectDetails.info.xmlx"></div> -->
			</div>
			<div class="detailsmx" style="border-bottom: 1rem solid #eee;">
				<div><img src="./assets/img/circular1.png">
					<span ng-bind="queryprojectDetails.info.qyxz+queryprojectDetails.info.qyxzc"></span>
				</div>
				<div><img src="./assets/img/circular2.png">
					<span ng-bind="'实施主体：'+queryprojectDetails.info.ssdw"></span>
				</div>
				<div><img src="./assets/img/circular3.png">
					<span ng-bind="'扶贫模式：'+queryprojectDetails.info.xmlx"></span>
				</div>
			</div>
			
			<div class="item border-b">
				<div class="name">投资金额</div>
				<div class="content">
					<span ng-bind="queryprojectDetails.info.fpzj"></span>
				</div>
			</div>

			<div class="item border-b">
				<div class="name">扶贫资金</div>
				<div class="content">
					<span ng-bind="queryprojectDetails.info.fpzj"></span>
				</div>
			</div>

			<div class="item border-b">
				<div class="name">贷款金额</div>
				<div class="content">
					<span ng-bind="queryprojectDetails.info.dkje"></span>
				</div>
			</div>
			
			<div class="item border-b">
				<div class="name">自筹金额</div>
				<div class="content">
					<span ng-bind="queryprojectDetails.info.zcje"></span>
				</div>
			</div>
			<div class="item border-b">
				<div class="name">监管单位</div>
				<div class="content">
					<span ng-bind="queryprojectDetails.info.jgdw"></span>
				</div>
			</div>
			<div class="item border-b">
				<div class="name">项目进度</div>
				<div class="content">
					<span ng-bind="queryprojectDetails.info.xmjd"></span>
				</div>
			</div>
			
			<!-- <div class="item border-b">
				<div class="name">报账金额</div>
				<div class="content">
					<span ng-bind="queryprojectDetails.info.zcje"></span>
				</div>
			</div> -->
			
			<!-- <div class="item border-b">
				<div class="name">完成时效</div>
				<div class="content">
					<input type="number" placeholder="2017-4-1" disabled="disabled" >
				</div>
			</div>
			
			<div class="item border-b">
				<div class="name">报送时间</div>
				<div class="content">
					<input type="number" placeholder="2017-4-1" disabled="disabled">
				</div>
			</div>
			
			<div class="item border-b">
				<div class="name">完成时间</div>
				<div class="content">
					<input type="number" placeholder="2017-4-1" disabled="disabled">
				</div>
			</div>
			
			<div class="item border-b">
				<div class="name">报账时间</div>
				<div class="content">
					<input type="number" placeholder="2017-4-1" disabled="disabled">
				</div>
			</div>
			 -->
			<!--文本框-->
			<!-- <div class="projectcx">
				<div class="projectcxText">扶贫成效</div>
				<textarea disabled="disabled">2010年为贫困户黄素珍家庭累计投入资金5495元，从邦涨帮扶、产业帮扶、培训和转移就业帮扶等方面实施帮扶后家庭年均收入达到1994元，增幅为53.38%
				</textarea>
			</div>
			
			<div class="projectcx">
				<div class="projectcxText">进度安排</div>
				<textarea disabled="disabled"></textarea>
			</div>
			
			<div class="projectcx">
				<div class="projectcxText">扶贫预期成效</div>
				<textarea disabled="disabled"></textarea>
			</div> -->
		
			<div class="projectcx">
				<div class="projectcxText">效益分析</div>
				<textarea disabled="disabled" ng-bind="queryprojectDetails.info.xmxy"></textarea>
			</div>
			
			<div class="projectcx">
				<div class="projectcxText">项目简介</div>
				<textarea disabled="disabled" ng-bind="queryprojectDetails.info.xmjj"></textarea>
			</div>
			
		</div>
		<!-- 涉及贫困村 -->
		<div class="development" id="development" style="background: #fff; margin-top: -1rem;">
			<table class="table table-striped">
				<thead>
					<tr>
						<td class="text-center">乡镇</td>
						<td class="text-center">行政村</td>
						<td class="text-center">村集体收益</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in queryprojectDetails.pkc">
						<td class="text-center" ng-bind="item.qyxz"></td>
						<td class="text-center" ng-bind="item.qyxzc"></td>
						<td class="text-center" ng-bind="item.syje"></td>
					</tr>
				</tbody>
				
			</table>
			
			
		</div>
		<!-- 涉及贫困户 -->
		<div id="sjpkh">
			<table class="table table-striped">
				<thead>
					<tr>
						<td class="text-center">乡镇</td>
						<td class="text-center">行政村</td>
						<td class="text-center">身份证号</td>
						<td class="text-center">收益金额</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in queryprojectDetails.pkh">
						<td class="text-center" ng-bind="item.qyxz"></td>
						<td class="text-center" ng-bind="item.qyxzc"></td>
						<td class="text-center" ng-bind="item.sfzh"></td>
						<td class="text-center" ng-bind="item.syje"></td>
					</tr>
				</tbody>
				
			</table>
		</div>
		</div>
		<div class="footFill"></div>
		
	</div>
	<script>
		$("#tab div").click(function(){
			$(this).addClass('bg').siblings().removeClass('bg');
			$("#"+$(this).attr('data-type')).show().siblings().hide();
		})
	</script>
