
	<div class="poor project">
		<header>
			<a href="javascript:history.go(-1)">
				<div class="back"><img src="../../assets/img/icon_28.png" alt=""></div>
			</a>
			<div class="collectionTitle">扶贫项目数据查询</div>
		</header>
		
		<table class="table table-striped" style="margin-top: 5rem; ">
			<thead>
				<tr>
					<td class="text-left projectName">项目名称</td>
					<td class="text-center">项目所属</td>
				</tr>
			</thead>
			<tbody>
				<tr onclick="location.href='#/queryproject_Details'">
					<td class="text-left projectName" >扶贫项目名称</td>
					<td class="text-center">贫困村</td>		
				</tr>
				<tr>
					<td class="text-left projectName">扶贫项目名称</td>
					<td class="text-center">贫困村</td>	
				</tr>
				<tr>
					<td class="text-left projectName">扶贫项目名称</td>
					<td class="text-center">贫困村</td>	
				</tr>
				<tr>
					<td class="text-left projectName">扶贫项目名称</td>
					<td class="text-center">贫困村</td>	
				</tr>
				<tr>
					<td class="text-left projectName">扶贫项目名称</td>
					<td class="text-center">贫困村</td>	
				</tr>
				<tr>
					<td class="text-left projectName">扶贫项目名称</td>
					<td class="text-center">贫困村</td>	
				</tr>
				<tr>
					<td class="text-left projectName">扶贫项目名称</td>
					<td class="text-center">贫困村</td>	
				</tr>
				<tr>
					<td class="text-left projectName">扶贫项目名称</td>
					<td class="text-center">贫困村</td>	
				</tr>
				<tr>
					<td class="text-left projectName">扶贫项目名称</td>
					<td class="text-center">贫困村</td>	
				</tr>
				<tr>
					<td class="text-left projectName">扶贫项目名称</td>
					<td class="text-center">贫困村</td>	
				</tr>
				
			</tbody>
		</table>
		<div class="foot-fill"></div>
		
	</div>
	<script type="text/javascript" src="../../assets/lib/js/jquery.min.js"></script>
