<div class="villageCollection naturalBasic">
		<header>
			<a ng-click="naturalDraftEditc.goback()">
				<div class="back"><img src="./assets/img/icon_28.png" alt=""></div>
			</a>
			<div class="collectionTitle">自然村信息采集</div>
		</header>
		<div class="fill"></div>
		<div class="tab" id="tab" >
			<div class="tab1 bg" data-type="situation">基本情况</div>
			<div class="tab2" data-type="development" style="border: none;">生产生活条件</div>
		</div>
		<div>
				<!-- 基本情况 -->
		<div class="situation" id="situation">
			<!--<div class="item border-b">
				<div class="name">镇(乡、苏木)</div>
				<div class="content">
					<select name="" id="">
						<option value="">张北镇</option>
					</select>
					<img src="../../assets/img/icon2_11@2x.png" alt="">
				</div>
			</div>-->

			<div class="item border-b">
				<label for="natualledit_lsxzc">
					<div class="name">行政村</div>
					<div class="content">
						<select name="" id="natualledit_lsxzc" ng-model="naturalDraftEditc.details.lsxzc" ng-options="key.id as key.name for key in naturalDraftEditc.xingzhengcun.list"
						ng-change="naturalDraftEditc.getzrcdraft()">
						</select>
						<img src="./assets/img/icon2_11@2x.png" alt="">
					</div>
				</label>
			</div>

			<div class="item border-b" >
				<label for="natualledit_zrcmc">
					<div class="name">自然村</div>
					<div class="content">
						<select name="" id="natualledit_zrcmc" ng-model="naturalDraftEditc.details.zrcmc" ng-options="key.id as key.name for key in naturalDraftEditc.zirancun.list" style="width: 8rem">
						<option value="" class="" selected="selected">请选择自然村</option>
						</select>
						<img src="./assets/img/icon2_11@2x.png" alt="">
					</div>
				</label>	
			</div>
			
			<div class="item border-b">
				<label for="natualledit_nd">
					<div class="name">年度</div>
					<div class="content">
						<select name="" id="natualledit_nd" ng-model="naturalDraftEditc.details.nd">
							<option value="" class="" selected="selected">请选择年度</option>
							<option value="2014">2014</option>
							<option value="2015">2015</option>
							<option value="2016">2016</option>
							<option value="2017">2017</option>
							<option value="2018">2018</option>
							<option value="2019">2019</option>
							<option value="2020">2020</option>
						</select>
						<img src="./assets/img/icon2_11@2x.png" alt="">
					</div>
				</label>	
			</div>

			<div class="item border-b">
				<label for="natualledit_zh">
					<div class="name">组号</div>
					<div class="content">
						<input id="natualledit_zh" type="text" placeholder="请输入组号" ng-model="naturalDraftEditc.details.zh">
					</div>
				</label>
			</div>
			
			<div class="item border-b">
				<label for="natualledit_fzr">
					<div class="name">负责人</div>
					<div class="content">
						<input id="natualledit_fzr" type="text" placeholder="兰克沙"  ng-model="naturalDraftEditc.details.fzr">
					</div>
				</label>	
			</div>
			
			<div class="item border-b">
				<label for="natualledit_lxdh">
					<div class="name">联系电话</div>
					<div class="content">
						<input id="natualledit_lxdh" type="text" placeholder="请输入联系电话" ng-model="naturalDraftEditc.details.lxdh">
					</div>
				</label>	
			</div>

			<div class="item border-b">
				<label for="natualledit_zhs">
					<div class="name">D1总户数(户)</div>
					<div class="content">
						<input id="natualledit_zhs" type="text" placeholder="请输入总户数" ng-model="naturalDraftEditc.details.zhs">
					</div>
				</label>
			</div>
			
			<div class="item border-b">
				<label for="natualledit_pkhs">
					<div class="name">D1a贫困户数(户)</div>
					<div class="content">
						<input id="natualledit_pkhs" type="number" placeholder="请输入贫困户数" ng-model="naturalDraftEditc.details.pkhs">
					</div>
				</label>	
			</div>
			
			<div class="item border-b">
				<label for="natualledit_dbrks">
					<div class="name">D1b低保户数(户)</div>
					<div class="content">
						<input id="natualledit_dbrks" type="text" placeholder="请输入低保户数" ng-model="naturalDraftEditc.details.dbrks">
					</div>
				</label>
			</div>
			
			<div class="item border-b">
				<label for="natualledit_wbhs">
					<div class="name">D1c五保户数(户)</div>
					<div class="content">
						<input id="natualledit_wbhs" type="number" placeholder="请输入五保户数" ng-model="naturalDraftEditc.details.wbhs">
					</div>
				</label>	
			</div>
			
			<div class="item border-b">
				<lable for="natualledit_zrks">
					<div class="name">D2总人口数(人)</div>
					<div class="content">
						<input id="natualledit_zrks" type="number" placeholder="请输入总人口数" ng-model="naturalDraftEditc.details.zrks">
					</div>
				</lable>
			</div>
			
			<div class="item border-b">
				<lable for="natualledit_pkrks">
					<div class="name">D2a 贫困人口数(人)</div>
					<div class="content">
						<input id="natualledit_pkrks" type="number" placeholder="请输入贫困人口数" ng-model="naturalDraftEditc.details.pkrks">
					</div>
				</lable>
			</div>
			
			<div class="item border-b">
				<lable for="natualledit_dbrks">
					<div class="name">D2b低保人口数(人)</div>
					<div class="content">
						<input id="natualledit_dbrks" type="number" placeholder="请输入低保人口数" ng-model="naturalDraftEditc.details.dbrks">
					</div>
				</lable>	
			</div>
			
			<div class="item border-b">
				<lable for="natualledit_wbrks">
					<div class="name">D2c 五保人口数(人)</div>
					<div class="content">
						<input id="natualledit_wbrks" type="number" placeholder="请输入五保人口数" ng-model="naturalDraftEditc.details.wbrks">
					</div>
				</lable>	
			</div>

			<div class="item border-b">
				<lable for="natualledit_smmzrks">
					<div class="name">D2d 少数民族人口数(人)</div>
					<div class="content">
						<input id="natualledit_smmzrks" type="number" placeholder="少数民族人口数"  ng-model="naturalDraftEditc.details.smmzrks">
					</div>
				</lable>	
			</div>
			
			<div class="item border-b">
				<lable for="natualledit_fnrks">
					<div class="name">D2e 妇女人口数(人)</div>
					<div class="content">
						<input id="natualledit_fnrks" type="number" placeholder="请输入妇女人口数" ng-model="naturalDraftEditc.details.fnrks">
					</div>
				</lable>	
			</div> 
			
			<div class="item border-b">
				<lable for="natualledit_cjrks">
					<div class="name">D2f 残疾人口数(人)</div>
					<div class="content">
						<input id="natualledit_cjrks" type="number" placeholder="请输入残疾人口数" ng-model="naturalDraftEditc.details.cjrks">
					</div>
				</lable>	
			</div> 

			<div class="item border-b">
				<lable for="natualledit_ldlrs">
					<div class="name">D3劳动力人数(人)</div>
					<div class="content">
						<input id="natualledit_ldlrs" type="number" placeholder="请输入劳动力人数" ng-model="naturalDraftEditc.details.ldlrs">
					</div>
				</lable>
			</div>
			
			<div class="item border-b">
				<lable for="natualledit_wcwgrs">
					<div class="name">D3a 外出务工人数(人)</div>
					<div class="content">
						<input id="natualledit_wcwgrs" type="number" placeholder="请输入外出务工人数" ng-model="naturalDraftEditc.details.wcwgrs">
					</div>
				</lable>	
			</div>
			
			<div class="item border-b">
				<lable for="natualledit_h13a">
					<div class="name">H13a 16周岁以上(不含在校学生)的非国家机关和事业单位工作人员及不属于城镇职工基本养老保险制度覆盖范围的户籍人口数(人)</div>
					<div class="content">
						<input id="natualledit_h13a" type="number" placeholder="请输入人口数" ng-model="naturalDraftEditc.details.h13a">
					</div>
				</lable>	
			</div>

			<div class="item border-b">
				<lable for="natualledit_hjrks">
					<div class="name">H13 户籍人口数(人)</div>
					<div class="content">
						<input id="natualledit_hjrks" type="number" placeholder="请输入户籍人口数" ng-model="naturalDraftEditc.details.hjrks">
					</div>
				</lable>	
			</div>
		</div>
		<!-- 生产生活条件 -->
		<div class="development" id="development">
			
			<div class="listItem">
				<div class="item border-b">
					<lable for="natualledit_dxzcjl">
						<div class="name">D4 到行政村距离(公里)</div>
						<div class="content" >
							<input id="natualledit_dxzcjl" type="number" placeholder="请输入公里数" style="text-align: right; padding-right: -2rem;" ng-model="naturalDraftEditc.details.dxzcjl">
						</div>
					</lable>	
				</div>
				
				<div class="item border-b">
					<label for="zrcroad">
						<div class="name">D5到行政村是否通沥青（水泥）路</div>
						<div class="content">
							<select name="" id="zrcroad"  ng-model="naturalDraftEditc.details.dxzcsftlql">
								<option value="是">是</option>
								<option value="否">否</option>
							</select>
							<img src="./assets/img/icon2_11@2x.png" alt="">
						</div>
					</label>
				</div>
				<div class="item border-b">
					<lable for="zrcele">
						<div class="name">D6是否生产用电</div>
						<div class="content">
							<select name="" id="zrcele" ng-model="naturalDraftEditc.details.sftscyd">
								<option value="是">是</option>
								<option value="否">否</option>
							</select>
							<img src="./assets/img/icon2_11@2x.png" alt="">
						</div>
					</label>	
				</div>
				<div class="item border-b">
					<lable for="natualledit_dxzcjl">
						<div class="name">D7是否生活用电</div>
						<div class="content">
							<select name="" id="" ng-model="naturalDraftEditc.details.sftshyd">
								<option value="是">是</option>
								<option value="否">否</option>
							</select>
							<img src="./assets/img/icon2_11@2x.png" alt="">
						</div>
					</lable>	
				</div>
				
				<div class="item border-b">
					<lable for="natualledit_dxzcjl">
						<div class="name">D8是否通宽带</div>
						<div class="content">
							<select name="" id="" ng-model="naturalDraftEditc.details.sftkd">
								<option value="是">是</option>
								<option value="否">否</option>
							</select>
							<img src="./assets/img/icon2_11@2x.png" alt="">
						</div>
					</lable>	
				</div>
			</div>

		</div>
		
		</div>
		<div class="footFill"></div>
		<div class="foot" ng-click="naturalDraftEditc.zrcEdit()">
			上传
		</div>
	</div>
	<script type="text/javascript" src="../../assets/lib/js/jquery.min.js"></script>
	<script>
		$("#tab div").click(function(){
			$(this).addClass('bg').siblings().removeClass('bg');
			$("#"+$(this).attr('data-type')).show().siblings().hide();
		})
	</script>
