<div class="poor natural">
		<header>
			<a ui-sref="naturalVillage">
				<div class="back"><img src="./assets/img/icon_28.png" alt=""></div>
			</a>
			<div class="collectionTitle">自然村信息采集</div>
		</header>
		<div class="fill3"></div>
		<table class="table table-striped" style="margin-top: 2.5rem;">
			<thead>
				<tr>
					<!--<td class="text-center">乡镇</td>-->
					<td class="text-center">行政村</td>
					<td class="text-center">自然村</td>
					<td class="text-center">村负责人</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in naturalDraft.list" ui-sref="naturalDraftEdit({id:item.index_id})">
					<!--<td class="text-center">张北镇</td>-->
					<td class="text-center" ng-bind="item.lsxzc"></td>
					<td class="text-center" ng-bind="item.zrcmc"></td>
					<td class="text-center" ng-bind="item.fzr"></td>
				</tr>
				
			</tbody>
		</table>
		<div class="foot-fill"></div>

	</div>
	<script type="text/javascript" src="../../assets/lib/js/jquery.min.js"></script>

