
	<div>
		<div class="query queryNatural">
			<header>
				<a href="javascript:history.go(-1)"><div class="back"><img src="./assets/img/icon_28.png" alt=""></div></a>
				<div class="collectionTitle">自然村数据查询</div>
				<!-- queryNatural_Result  -->
				<div class="queryBtn" ng-click="queryNatural.queryList()">
					查询
				</div>
			</header>
			<div class="fill"></div>
			<div class="conditionCon">
				<div class="item border-b">
					<div class="yearName">年度</div>
					<div class="year">
						<select dir="rtl" name="" id="nd" ng-model="queryNatural.nd">
							<option value="2014">2014</option>
							<option value="2015">2015</option>
							<option value="2016">2016</option>
							<option value="2017">2017</option>
							<option value="2018">2018</option>
							<option value="2019">2019</option>
							<option value="2020">2020</option>
						</select>
						<img src="./assets/img/icon2_11@2x.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>

