
	<div class="poor natural">
		<header>
			<a href="javascript:history.go(-1)">
				<div class="back"><img src="./assets/img/icon_28.png" alt=""></div>
			</a>
			<div class="collectionTitle">自然村(屯)数据查询</div>
		</header>
		<div class="droploadTable">
			<table class="table table-striped" style="margin-top: 5.2rem">
				<thead>
					<tr>
						<td class="text-center">行政村</td>
						<td class="text-center">自然村</td>
						<td class="text-center">村负责人</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-hide="queryNaturalResult.noDataType" ng-repeat="item in queryNaturalResult.list" ui-sref="queryNaturalDetails({detailId:item.id})">
						<td class="text-center" ng-bind="item.lsxzc"></td>
						<td class="text-center" ng-bind="item.zrcmc"></td>
						<td class="text-center" ng-bind="item.fzr"></td>
					</tr>
					<tr ng-show="queryNaturalResult.noDataType">
						<td style="text-align: center;" colspan="4" ng-bind="queryNaturalResult.noDataName"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<script src="./assets/lib/js/dropload.min.js" type="text/javascript"></script>

