<div class="">
	<header>
		<a href="javascript:history.go(-1)">
			<div class="back"><img src="../../assets/img/icon_28.png" alt=""></div>
		</a>
		<div class="collectionTitle">贫困户信息采集</div>
	</header>
	<div class="fill"></div>
	<section class="cd-section index cd-selected">
		<div class="cd-content villageCollection">
			<div class="pkhcjTitle" id="pkhjbxx">
				<p class="pull-left"></p><span>帮扶责任人</span>
			</div>
			<div class="addPerson situation">
				<form action="" method="post">
					<div class="item border-b">
						<div class="name">姓名</div>
						<div class="content">
							<input type="text" placeholder="请输入信息">
						</div>
					</div>
					<div class="item border-b">
						<div class="name">性别</div>
						<div class="content">
							<select name="" id="">
								<option value="">男</option>
								<option value="">女</option>
							</select>
							<img src="../../assets/img/icon2_11@2x.png" alt="">
						</div>
					</div>
					<div class="item border-b">
						<div class="name">证件号码</div>
						<div class="content">
							<input type="text" placeholder="请输入信息">
						</div>
					</div>
					<div class="item border-b">
						<div class="name">政治面貌</div>
						<div class="content">
							<input type="text" placeholder="请输入信息">
						</div>
					</div>
					<div class="item border-b">
						<div class="name">帮扶单位名称</div>
						<div class="content">
							<input type="text" placeholder="请输入信息">
						</div>
					</div>
					<div class="item border-b">
						<div class="name">帮扶开始时间</div>
						<div class="content">
							<input type="text" placeholder="请输入信息">
						</div>
					</div>
					<div class="item border-b">
						<div class="name">帮扶结束时间</div>
						<div class="content">
							<input type="text" placeholder="请输入信息">
						</div>
					</div>
					<div class="item border-b">
						<div class="name">隶属关系</div>
						<div class="content">
							<select name="" id="">
								<option value="">初中</option>
							</select>
							<img src="../../assets/img/icon2_11@2x.png" alt="">
						</div>
					</div>
					<div class="item border-b">
						<div class="name">单位地址</div>
						<div class="content">
							<input type="text" placeholder="请输入信息">
						</div>
					</div>
					<div class="item border-b">
						<div class="name">联系电话</div>
						<div class="content">
							<input type="number" placeholder="请输入信息">
						</div>
					</div>
				</form>
			</div>
		</div>
		<nav class="navbar-fixed-bottom">
			<button class="btn btnpkc">保存</button>
		</nav>
	</section>
</div>