<!--
	作者：maweichao90@126.com
	时间：2017-07-29
	描述：列表
-->
<div class="poor">
	<header>
		<a href="javascript:history.go(-1)">
			<div class="back"><img style="width:1.58rem;" src="../../assets/img/icon_28.png" alt=""></div>
		</a>
		<div class="query" ng-click="lowFamilyList.getLowFamilyList()">查询</div>
		<div class="search">
			<!--<img src="" alt="">-->
			<input type="text" placeholder="贫困户查询,输入姓名、证件号码">
		</div>
	</header>
	<div class="screen-con">
		<my-select my-ng-click="lowFamilyList.getVillagesByTown" my-ng-model="lowFamilyList.sendParam.qyxz" source="lowFamilyList.townList" my-init="全部行镇"></my-select>
		<my-select my-ng-click="lowFamilyList.getVillagesId" my-ng-model="lowFamilyList.sendParam.qyxzc" source="lowFamilyList.town_VillagesList" my-init="全部行政村"></my-select>
		<div class="open" onclick="openToggle()"><span class="down col-ea3c4c">展开</span><span class="stop col-ea3c4c">收起</span></div>
	</div>
	<div class="screen-con2" id="screen-con2">
		<my-select my-ng-model="lowFamilyList.sendParam.sjzt" source="lowFamilyList.otherSelect.dataStatusObj" my-init="数据状态"></my-select>
		<my-select my-ng-model="lowFamilyList.sendParam.tpqk" source="lowFamilyList.otherSelect.tpqkObj" my-init="脱贫情况"></my-select>
		<my-select my-ng-model="lowFamilyList.sendParam.nd" source="lowFamilyList.otherSelect.yearObj" my-init="年度"></my-select>
	</div>

	<!--<div class="fill2"></div>
	<div class="fill"></div>-->

	<div pull-loading  load-low-family-list="lowFamilyList.getLowFamilyList">
		<table class="table table-striped">
			<thead>
				<tr>
					<td class="text-center">乡镇</td>
					<td class="text-center">村</td>
					<td class="text-center">户主</td>
					<td class="text-center">贫困户类型</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in lowFamilyList.list">
					<td class="text-center" ng-bind="item.qyxz.name">张北镇</td>
					<td class="text-center" ng-bind="item.qyxzc.name">黄土湾村</td>
					<td class="text-center" ng-bind="item.hzxm">王翠娥</td>
					<td class="text-center" ng-bind="item.bhksx.name">低保贫困户</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="foot-fill"></div>
	<footer class="foot">
		<a href="javascript:void(0)" ui-sref="lowFamilyDraft({id:1234})">
			<div class="draft">草稿</div>
		</a>
		<!--
        	作者：maweichao90@126.com
        	时间：2017-07-29
        	描述：href="#low_family_info"
        -->
		<a href="#/low_family/low_family_base?id=1234" ui-sref="lowFamily.baseInfo({id:1234})" class="addPoor">+ 新增贫困户</a>
	</footer>
	<script>
		// 展开 收起
		function openToggle() {
			$("#screen-con2").slideToggle(200)
			$(".fill2").slideToggle(200)
			$(".open").toggleClass("open2")

			$(".townshipList").slideUp(200)
			$("#township").removeClass("township2")
			$("#township .name").removeClass("col-ea3c4c")

			$(".villageList").slideUp(200)
			$("#village").removeClass("township2")
			$("#village .name").removeClass("col-ea3c4c")

			$(".numList").slideUp(200)
			$("#num").removeClass("township2")
			$("#num .name").removeClass("col-ea3c4c")

			$(".poorList").slideUp(200)
			$("#poor").removeClass("township2")
			$("#poor .name").removeClass("col-ea3c4c")

			$(".timeList").slideUp(200)
			$("#time").removeClass("township2")
			$("#time .name").removeClass("col-ea3c4c")
		}
	</script>
</div>