<!--
	作者：maweichao90@126.com
	时间：2017-07-29
	描述：列表
-->
<div class="poor">
	<header>
		<a href="javascript:history.go(-1)">
			<div class="back"><img style="width:1.58rem;" src="../../assets/img/icon_28.png" alt=""></div>
		</a>
		<div class="query">查询</div>
		<div class="search">
			<!--<img src="" alt="">-->
			<input type="text" placeholder="贫困户查询,输入姓名、证件号码">
		</div>
	</header>
	<div class="screen-con">
		<div id="township" class="township" onclick="townshipList()">
			<span class="name">全部乡镇</span><span class="triangle"></span>
		</div>
		<div class="townshipList">
			<div onclick="chooseTownship('张北镇')">张北镇</div>
			<div onclick="chooseTownship('沽源县')">沽源县</div>
			<div onclick="chooseTownship('白庙滩乡')">白庙滩乡</div>
			<div onclick="chooseTownship('尚义县')">尚义县</div>
		</div>
		<div id="village" class="village" onclick="villageList()"><span class="name">全部行政村</span><span class="triangle"></span></div>
		<div class="villageList">
			<div onclick="chooseVillage('张北镇村')">张北镇村</div>
			<div onclick="chooseVillage('沽源县村')">沽源县村</div>
			<div onclick="chooseVillage('白庙滩乡村')">白庙滩乡村</div>
			<div onclick="chooseVillage('尚义县村')">尚义县村</div>
		</div>
		<div class="open" onclick="openToggle()"><span class="down col-ea3c4c">展开</span><span class="stop col-ea3c4c">收起</span></div>
	</div>
	<div class="screen-con2" id="screen-con2">
		<div id="num" class="township" onclick="numList()"><span class="name">数据状态</span><span class="triangle"></span></div>
		<div class="numList">
			<div onclick="chooseNum('数据状态1')">数据状态1</div>
			<div onclick="chooseNum('数据状态12')">数据状态12</div>
			<div onclick="chooseNum('数据状态2')">数据状态2</div>
			<div onclick="chooseNum('数据状态3')">数据状态3</div>
		</div>
		<div id="poor" class="village" onclick="poorList()"><span class="name">脱贫情况</span><span class="triangle"></span></div>
		<div class="poorList">
			<div onclick="choosePoor('张北镇村')">张北镇村</div>
			<div onclick="choosePoor('沽源县村')">沽源县村</div>
			<div onclick="choosePoor('白庙滩乡村')">白庙滩乡村</div>
			<div onclick="choosePoor('尚义县村')">尚义县村</div>
		</div>
		<div id="time" class="open" onclick="timeList()"><span class="name">年度</span><span class="triangle"></span></div>
		<div class="timeList">
			<div onclick="chooseTime('2017')">2017</div>
			<div onclick="chooseTime('2016')">2016</div>
			<div onclick="chooseTime('2015')">2015</div>
			<div onclick="chooseTime('2014')">2014</div>
		</div>
	</div>
	<div class="fill2"></div>
	<div class="fill"></div>
	<table class="table table-striped">
		<thead>
			<tr>
				<td class="text-center">乡镇</td>
				<td class="text-center">村</td>
				<td class="text-center">户主</td>
				<td class="text-center">贫困户类型</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="text-center">张北镇</td>
				<td class="text-center">黄土湾村</td>
				<td class="text-center">王翠娥</td>
				<td class="text-center">低保贫困户</td>
			</tr>
			<tr>
				<td class="text-center">张北镇</td>
				<td class="text-center">黄土湾村</td>
				<td class="text-center">王翠娥</td>
				<td class="text-center">低保贫困户</td>
			</tr>
			<tr>
				<td class="text-center">张北镇</td>
				<td class="text-center">黄土湾村</td>
				<td class="text-center">王娥</td>
				<td class="text-center">贫困户</td>
			</tr>
			<tr>
				<td class="text-center">张北镇</td>
				<td class="text-center">黄土湾村</td>
				<td class="text-center">王翠娥</td>
				<td class="text-center">低保贫困户</td>
			</tr>
			<tr>
				<td class="text-center">张北dd镇</td>
				<td class="text-center">黄土村</td>
				<td class="text-center">王娥</td>
				<td class="text-center">贫困户</td>
			</tr>
			<tr>
				<td class="text-center">张北dd镇</td>
				<td class="text-center">黄土村</td>
				<td class="text-center">王娥</td>
				<td class="text-center">贫困户</td>
			</tr>
			<tr>
				<td class="text-center">张北镇</td>
				<td class="text-center">黄土湾村</td>
				<td class="text-center">王翠娥</td>
				<td class="text-center">低保贫困户</td>
			</tr>
			<tr>
				<td class="text-center">张北镇</td>
				<td class="text-center">黄土湾村</td>
				<td class="text-center">王娥</td>
				<td class="text-center">贫困户</td>
			</tr>
			<tr>
				<td class="text-center">张北镇</td>
				<td class="text-center">黄土湾村</td>
				<td class="text-center">王翠娥</td>
				<td class="text-center">低保贫困户</td>
			</tr>
			<tr>
				<td class="text-center">张北dd镇</td>
				<td class="text-center">黄土村</td>
				<td class="text-center">王娥</td>
				<td class="text-center">贫困户</td>
			</tr>
			<tr>
				<td class="text-center">张北dd镇</td>
				<td class="text-center">黄土村</td>
				<td class="text-center">王娥</td>
				<td class="text-center">贫困户</td>
			</tr>
			<tr>
				<td class="text-center">张北镇</td>
				<td class="text-center">黄土湾村</td>
				<td class="text-center">王翠娥</td>
				<td class="text-center">低保贫困户</td>
			</tr>
			<tr>
				<td class="text-center">张北镇</td>
				<td class="text-center">黄土湾村</td>
				<td class="text-center">王娥</td>
				<td class="text-center">贫困户</td>
			</tr>
			<tr>
				<td class="text-center">张北镇</td>
				<td class="text-center">黄土湾村</td>
				<td class="text-center">王翠娥</td>
				<td class="text-center">低保贫困户</td>
			</tr>
			<tr>
				<td class="text-center">张北dd镇</td>
				<td class="text-center">黄土村</td>
				<td class="text-center">王娥</td>
				<td class="text-center">贫困户</td>
			</tr>
			<tr>
				<td class="text-center">张北dd镇</td>
				<td class="text-center">黄土村</td>
				<td class="text-center">王娥</td>
				<td class="text-center">贫困户</td>
			</tr>
		</tbody>
	</table>
	<div class="foot-fill"></div>
	<footer class="foot">
		<a href="javascript:void(0)" ui-sref="lowFamilyDraft({id:1234})">
			<div class="draft">草稿</div>
		</a>
		<!--
        	作者：maweichao90@126.com
        	时间：2017-07-29
        	描述：href="#low_family_info"
        -->
		<a href="#/low_family/low_family_base?id=1234" ui-sref="lowFamily.baseInfo({id:1234})" class="addPoor">+ 新增贫困户</a>
	</footer>
</div>