<div style="background: #fff;" menu>
	<div class="container-fluid pkhcj">
		<div class="cheader " style="padding: 0;">
			<div class="pfanhui pull-left" onclick="javascript:history.go(-1)">
				<img src="../../assets/img/icon_28.png" />
			</div>
			<div class="pname text-center ">贫困用户信息采集</div>
			<div class="panniu cd-nav-trigger">Menu<span></span></div>
		</div>
	</div> 
	<div class="contaner" ui-view></div>
	<nav class="navbar-fixed-bottom">
		<button class="btn btnpkc" ng-click="lowFamilyInfo.uploadSource()">上传</button>
	</nav> 
</div>