<!--
	作者：maweichao90@126.com
	时间：2017-07-29
	描述：列表
-->
<style>
	.listShip {
		display: none;
		position: fixed;
		top: 7.9rem;
		left: 0;
		background-color: #fff;
		width: 100%;
		overflow: auto;
		height: 100%;
		padding-bottom: 10rem;
		z-index: 200;
	}
	
	.listShip>div {
		line-height: 4.2rem;
		border-top: 1px solid #ddd;
		padding-left: 1.9rem;
		color: #ea3c4c;
		font-size: 1.5rem;
	}
	
	.poorMa {
		margin: 0 !important;
		width: 33.33333333333333%;
		text-align: center;
	}
	
	.poorMa .triangle {
		right: 1rem;
	}
	
	.townMa {
		position: absolute;
		top: 3.5rem;
		left: 0;
		width: 100%;
		background-color: #fff;
	}
	
	.townMa>div {
		border-top: 1px solid #ddd;
		padding-left: 1.9rem;
		color: #ea3c4c;
		font-size: 1.5rem;
	}
</style>
<div class="poor">
	<header>
		<a href="javascript:history.go(-1)">
			<div class="back"><img src="./assets/img/icon_28.png" alt=""></div>
		</a>
		<div class="query" ng-click="lowFamilyList.getLowFamilyList('',1)">查询</div>
		<div class="search">
			<!--<img src="" alt=""> -->
			<input type="text" placeholder="贫困户查询、输入姓名、证件号码" ng-model="lowFamilyList.sendParam.search">
		</div>
	</header>
	<div class="screen-con">
		<!-- <my-select my-ng-click="lowFamilyList.getVillagesByTown" my-ng-model="lowFamilyList.sendParam.qyxz" source="lowFamilyList.townList" my-init="全部行镇"></my-select>
		<my-select my-ng-click="lowFamilyList.getVillagesId" my-ng-model="lowFamilyList.sendParam.qyxzc" source="lowFamilyList.town_VillagesList" my-init="全部行政村"></my-select> -->
		<div id="township" class="township" onclick="townshipList()">
			<span class="name">全部乡镇</span><span class="triangle"></span>
		</div>

		<div id="village" class="village" onclick="villageList()"><span class="name">全部行政村</span><span class="triangle"></span></div>
		<div class="open" onclick="openToggle()"><span class="down col-ea3c4c">展开</span><span class="stop col-ea3c4c">收起</span></div>
	</div>
	<div class="screen-con2" id="screen-con2">
		<my-select my-ng-click="lowFamilyList.datas" my-ng-model="lowFamilyList.sendParam.sjzt" source="lowFamilyList.otherSelect.dataStatusObj" my-init="数据状态"></my-select>
		<my-select my-ng-click="lowFamilyList.datas" my-ng-model="lowFamilyList.sendParam.tpqk" source="lowFamilyList.otherSelect.tpqkObj" my-init="脱贫情况"></my-select>
		<my-select my-ng-click="lowFamilyList.datas" my-ng-model="lowFamilyList.sendParam.nd" source="lowFamilyList.otherSelect.yearObj" my-init="年度"></my-select>
	</div>
	<div class="townshipList listShip">
		<div ng-repeat="item in lowFamilyList.townList" ng-click='lowFamilyList.getVillagesByTown(item.name,item.id)' ng-bind="item.name"></div>
	</div>
	<div class="villageList listShip">
		<div ng-repeat="item in lowFamilyList.town_VillagesList" ng-click="lowFamilyList.getVillagesId(item.name,item.id)" ng-bind="item.name"></div>
	</div>
	<div class="fill2"></div>
	<!-- <div class="fill"></div> -->

	<div pull-loading load-low-family-list="lowFamilyList.getLowFamilyList" style="margin-top:7.5rem">
		<table class="table table-striped">
			<thead>
				<tr>
					<td class="text-center">乡镇</td>
					<td class="text-center">村</td>
					<td class="text-center">户主</td>
					<td class="text-center">贫困户类型</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in lowFamilyList.list" ui-sref="lowFamily.baseInfo({id:item.id,type:'net'})">
					<td class="text-center" ng-bind="item.qyxz.name">张北镇</td>
					<td class="text-center" ng-bind="item.qyxzc.name">黄土湾村</td>
					<td class="text-center" ng-bind="item.hzxm">王翠娥</td>
					<td class="text-center" ng-bind="item.bhksx.name">低保贫困户</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="foot-fill"></div>
	<footer class="foot">
		<a href="javascript:void(0)" ui-sref="lowFamilyDraft({id:1234})">
			<div class="draft">草稿</div>
		</a>
		<!--
        	作者：maweichao90@126.com
        	时间：2017-07-29
        	描述：href="#low_family_info"
        -->
		<a href="#/low_family/low_family_base?id=1234" ui-sref="lowFamily.baseInfo()" class="addPoor">+ 新增贫困户</a>
	</footer>
	<script>
		// 展开 收起
		function openToggle() {
			$("#screen-con2").slideToggle(200)
			$(".fill2").slideToggle(200)
			$(".open").toggleClass("open2")

			$(".townshipList").slideUp(200)
			$("#township").removeClass("township2")
			$("#township .name").removeClass("col-ea3c4c")

			$(".villageList").slideUp(200)
			$("#village").removeClass("township2")
			$("#village .name").removeClass("col-ea3c4c")

			$(".numList").slideUp(200)
			$("#num").removeClass("township2")
			$("#num .name").removeClass("col-ea3c4c")

			$(".poorList").slideUp(200)
			$("#poor").removeClass("township2")
			$("#poor .name").removeClass("col-ea3c4c")

			$(".timeList").slideUp(200)
			$("#time").removeClass("township2")
			$("#time .name").removeClass("col-ea3c4c")
		}
	</script>
	<script>
		// 全部乡镇列表
		function townshipList() {
			$(".townshipList").slideToggle(200)
			$("#township").toggleClass("township2")
			$("#township .name").toggleClass("col-ea3c4c")

			$(".villageList").slideUp(200)
			$("#village").removeClass("township2")
			$("#village .name").removeClass("col-ea3c4c")

			$(".timeList").slideUp(200)
			$("#time").removeClass("township2")
			$("#time .name").removeClass("col-ea3c4c")
		}
		//全部行政村
		function villageList() {
			$(".villageList").slideToggle(200)
			$("#village").toggleClass("township2")
			$("#village .name").toggleClass("col-ea3c4c")

			$(".townshipList").slideUp(200)
			$("#township").removeClass("township2")
			$("#township .name").removeClass("col-ea3c4c")

			$(".timeList").slideUp(200)
			$("#time").removeClass("township2")
			$("#time .name").removeClass("col-ea3c4c")
		}

		function timeList() {
			$(".timeList").slideToggle(200)
			$("#time").toggleClass("township2")
			$("#time .name").toggleClass("col-ea3c4c")

			$(".townshipList").slideUp(200)
			$("#township").removeClass("township2")
			$("#township .name").removeClass("col-ea3c4c")

			$(".villageList").slideUp(200)
			$("#village").removeClass("township2")
			$("#village .name").removeClass("col-ea3c4c")
		}
	</script>
</div>