<!--
	作者：maweichao90@126.com
	时间：2017-07-29
	描述：草稿
-->
<div class="">
	<header>
		<a href="javascript:history.go(-1)">
			<div class="back"><img src="./assets/img/icon_28.png" alt=""></div>
		</a>
		<div class="collectionTitle">贫困户信息采集</div>
	</header>
	<div class="fill"></div>
	<table class="table table-striped" style="margin-top: 5.2rem">
		<thead>
			<tr>
				<td class="text-center">乡镇</td>
				<td class="text-center">村</td>
				<td class="text-center">户主</td>
				<td class="text-center">贫困户类型</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in lowFamilyDraft.list track by $index" ui-sref="lowFamily({id:item.index_id,type:'local'})">
				<td class="text-center" ng-bind="item.baseInfo_model.qyxz.name">张北镇</td>
				<td class="text-center" ng-bind="item.baseInfo_model.qyxzc.name">黄土湾村</td>
				<td class="text-center" ng-bind="item.baseInfo_model.xm||item.baseInfo_model.hzxm">王翠娥</td>
				<td class="text-center" ng-bind="item.baseInfo_model.bhksx.name">低保贫困户</td>
			</tr>
		</tbody>
	</table>
</div>