<div class="">
	<header>
		<a href="javascript:history.go(-1)">
			<div class="back"><img src="../../assets/img/icon_28.png" alt=""></div>
		</a>
		<div class="collectionTitle">贫困户信息采集</div>
	</header>
	<div class="fill"></div>
	<table class="table table-striped" style="margin-top: 5.2rem">
		<thead>
			<tr>
				<td class="text-center">乡镇</td>
				<td class="text-center">村</td>
				<td class="text-center">户主</td>
				<td class="text-center">贫困户类型</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="text-center">张北dd镇</td>
				<td class="text-center">黄土村</td>
				<td class="text-center">王娥</td>
				<td class="text-center">贫困户</td>
			</tr>
			<tr>
				<td class="text-center">张北dd镇</td>
				<td class="text-center">黄土村</td>
				<td class="text-center">王娥</td>
				<td class="text-center">贫困户</td>
			</tr>
		</tbody>
	</table>
</div>